﻿input.productQuantityTextBox {
    width: 36px;
	margin-right: 8px;
    height: 20px;
}
input.nopAjaxCartProductListAddToCartButton {
    float: left;
    width: 140px !important;
}

.ajaxCart {
    border-radius: 5px;
}
.ajaxCart .k-window-titlebar.k-header .k-window-actions a {
    border-radius: 9px;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.productAddedToCartWindowDescription strong,
.productAddedToCartWindowSummary a:hover {
    color: #CC0000; /*style change here*/
}
.productAddedToCartWindowSummary a {
	font-size: 14px;
}
.productAddedToCartWindowSummary a:hover {
	text-decoration: underline;
}
.productAddedToCartWindowCheckout {
	background: url('img/button8.png') top repeat-x;
	text-align: center;
     /*change text font style here*/ 
	/*font: normal 18px 'avantgarde';*/
    font: normal 18px Verdana, Geneva, sans-serif;
	color: #444;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #ccc #bbb #aaa;
	border-radius: 5px;
	cursor: pointer;
    padding: 6px 32px;
}
.productAddedToCartWindowCheckout:hover {
	background-position: bottom;
	border-color: #aaa #bbb #ccc;
	box-shadow: 0 1px 0 #eee inset;
}
.ajaxCart .overview {
    margin: 0;
}
.ajaxCart .product-details-page {
    margin: 0;
    padding: 0;
}
.miniProductDetailsView .product-details-page .overview {
    width: auto !important;
}
.ajaxCart .product-details-page .add-info {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.miniProductDetailsView .product-overview-line .prices,
.miniProductDetailsView .attributes {
    margin-bottom: 10px;
}
.miniProductDetailsView .add-to-cart > * {
    margin-right: 8px;
}
.miniProductDetailsView .product-price {
	font-size: 18px;
    color: #CC0000; /*style change here*/
}
.miniProductDetailsView .giftcard {
    margin:0;
}

/**** Added by Ivan ****/

.ajax-cart-button-wrapper {
    display: inline-block;
}


