﻿@model CustomerListModel
@using Telerik.Web.Mvc.UI;
@using System.Globalization;
@{
    var gridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;

    //page title
    ViewBag.Title = T("Admin.Customers.Customers").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.Customers.Customers")
        </div>
        <div class="options">    
               
            
            <input type="button" name="button" id="addNew" class="t-button" value="Lägg till" />
         
              <a href="@Url.Action("ExportXmlAll")" class="t-button">@T("Admin.Common.ExportToXml.All")</a>
            <input type="button" id="exportxml-selected" class="t-button" value="@T("Admin.Common.ExportToXml.Selected")" />
            <a href="@Url.Action("ExportExcelAll")" class="t-button">@T("Admin.Common.ExportToExcel.All")</a>
            <input type="button" id="exportexcel-selected" class="t-button" value="@T("Admin.Common.ExportToExcel.Selected")" />
        </div>
    </div>
    <table width="100%">
                       <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchCustomerNumber):
            </td>
            <td class="adminData">  
                @Html.EditorFor(model => Model.SearchCustomerNumber)
            </td>
        </tr>
                <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchFirstName):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => Model.SearchFirstName)               
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchLastName):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => Model.SearchLastName)
            </td>
        </tr>
           <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchSocialNumber):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => Model.SearchSocialNumber)
            </td>
        </tr>
                               <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchCity):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => Model.SearchCity)
            </td>
        </tr>
                <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchEmail):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => Model.SearchEmail)
            </td>
        </tr>
        @if (Model.PhoneEnabled)
        {
            <tr>
                <td class="adminTitle">
                    @Html.NopLabelFor(model => model.SearchPhone):
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => Model.SearchPhone)
                </td>
            </tr>
        }

 <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchCustomerRoleIds):
            </td>
            <td class="adminData">
                @foreach (var customerRole in Model.AvailableCustomerRoles)
                {
                    <input type="checkbox" name="SearchCustomerRoleIds" value="@customerRole.Id"
                @if (Model.SearchCustomerRoleIds != null && Model.SearchCustomerRoleIds.Contains(customerRole.Id))
                {
                    <text>checked="checked"</text>
                }
                />@customerRole.Name
                    <br />
                }
            </td>
        </tr>
       
                               <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchNonActive):
            </td>
            <td class="adminData">
                <input type="checkbox" name="SearchNonActiveCheckbox" id="SearchNonActiveCheckbox" />
                <img alt="" src="/Administration/Content/images/active-false.gif">
            </td>
        </tr>

                                       <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchOnlyActive):
            </td>
            <td class="adminData">
                <input type="checkbox" name="SearchOnlyActiveCheckbox" id="SearchOnlyActiveCheckbox" />
                <img alt="" src="/Administration/Content/images/active-true.gif">
              
            </td>
        </tr>

        @*   ----------------Activate later handleDeletedCustomers-------------------- *@
                
                                           <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.SearchOnlyDeleted):
        </td>
        <td class="adminData" >
            <input type="checkbox" name="SearchOnlyDeletedCheckbox" id="SearchOnlyDeletedCheckbox" />
              <img alt="" src="/Administration/Content/images/trashbin.png" width="17">
        </td>

    </tr>
        
        @*   ----------------Activate later handleDeletedCustomers-------------------- *@
        

        <tr>
            <td colspan="2">                               
              
                <input type="button" name="button" id="search-customers" class="t-button" value="@T("Admin.Common.Search")" />
                <br />
                <br />
            </td>
        </tr>
        @*   ----------------Activate later handleDeletedCustomers-------------------- *@
        
        <tr>
            <td id="deletedCustomersText"  colspan="2" class ="adminData" style="opacity: 0.85; background-color: yellow;">
                            <label>Kunderna nedan är borttagna, ordrar kan ej läggas. Vid knapptryck på "Redigera" eller kundens e-post återskapas kunden automatiskt. </label>
             </td>
    </tr> 
        @*   ----------------Activate later handleDeletedCustomers-------------------- *@
    </table>
    <p>
    </p>
    <table class="adminContent">
        <tr>
            <td>
                @(Html.Telerik().Grid<CustomerModel>()                
                    .Name("customers-grid")
                    .ClientEvents(events => events
                        .OnDataBinding("onDataBinding")
                        .OnDataBound("onDataBound"))
                    .ClientEvents(e => e.OnRowDataBound("onRowDataBound"))                       
                       
                    .Columns(columns =>
                    {                                            
                        columns.Bound(x => x.Id)
                        .Template(x => string.Format("<input type='checkbox' name='checkedRecords' value='{0}' class='checkboxGroups'/>", x.Id))
                        .ClientTemplate("<input type='checkbox' name='checkedRecords' value='<#= Id #>' class='checkboxGroups'/>")
                        .Title("<input id='mastercheckbox' type='checkbox'/>")
                        .Width(50)
                        .HtmlAttributes(new { style = "text-align:center" })
                        .HeaderHtmlAttributes(new { style = "text-align:center" });

                        columns.Bound(x => x.Id)
                         .ClientTemplate(Html.ActionLink(T("Admin.Customers.Customers.placeOrder").Text, "GoToPlaceOrder", "Customer", new { Id = "<#= Id #>" + "," + "<#= DefaultAdress #>" }, null).ToString())
                         .Width(100)
                         .Title(T("Admin.Customers.Customers.placeOrder").Text);
                        columns.Bound(x => x.CustomerNumber)
                        .Width(200);  
                        //I don't know why but the customer list does not have an 'Edit' column in the grid on some machines (maybe because we are inside Html.BeginForm()).
                        //That's why the 'Email' column is clickable.
                        columns.Bound(x => x.Email)
                            .Template(x => Html.ActionLink(x.Email, "EditAndUndelete", "Customer", new { id = x.Id }, new { }))
                            .ClientTemplate("<a href=\"" + @Url.Content("~/Admin/Customer/EditAndUndelete/") + "<#= Id #>\"><#= Email #></a>")
                            .Width(150);
                        columns.Bound(x => x.Username)
                            .Width(150)
                            .Visible(Model.UsernamesEnabled);
                        columns.Bound(x => x.FullName)
                            .Width(200);
                        columns.Bound(x => x.CustomerRoleNames)
                            .Width(200);
                        //columns.Bound(x => x.Company)
                        //    .Width(150)
                        //    .Visible(Model.CompanyEnabled);
                        columns.Bound(x => x.Phone)
                            .Width(100)
                            .Visible(Model.PhoneEnabled);
                        //columns.Bound(x => x.ZipPostalCode)
                        //    .Width(75)
                        //    .Visible(Model.ZipPostalCodeEnabled);
                        columns.Bound(x => x.Active)
                            .Template(
                                @<img alt="" src="@Url.Content("~/Administration/Content/images/active-" + item.Active.ToString().ToLowerInvariant() + ".gif")" />
                            )
                            .ClientTemplate("<img alt='' src='" + Url.Content("~/Administration/Content/images/") + "active-<#= Active #>.gif' />")
                            .Centered()
                            .Width(100);
                        columns.Bound(x => x.StreetAddress)
                            .Width(300);
                        columns.Bound(x => x.StreetAddress2)
                            .Width(300);
                        columns.Bound(x => x.LastActivityDate)
                            .Width(100);
                        columns.Bound(x => x.Id)
                            .Width(50)
                            .Centered()
                            .Template(x => Html.ActionLink(T("Admin.Common.Edit").Text, "EditAndUndelete", new { id = x.Id }))
                            .ClientTemplate("<a href=\"EditAndUndelete/<#= Id #>\">" + T("Admin.Common.Edit").Text + "</a>")
                            .Title(T("Admin.Common.Edit").Text);           
                    })
                    .Pageable(settings => settings.PageSize(gridPageSize).Position(GridPagerPosition.Both))
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("CustomerList", "Customer"))
                    .EnableCustomBinding(true))
            </td>
        </tr>
    </table>
    
    <script type="text/javascript">

    var selectedIds = [];

    $(document).ready(function () {

        //----------------------------EDITED----------------------------

        document.getElementById("SearchCustomerNumber").focus(); // Automatic focus the input on Customer Number field.

        document.defaultAction = true;
        document.onkeydown = detectEvent;

        function detectEvent(e) {
            var evt = e || window.event;

            if (evt.keyCode == 45) {
                evt.preventDefault();
                window.location.href = '/Admin/Customer/Create/' + document.getElementById('SearchFirstName').value + '¤' + document.getElementById('SearchLastName').value;
            }

            if (evt.keyCode == 35) {
                var links = document.getElementsByTagName("a");
                for (var l in links) {
                    //if (links[l].href.toString().contains("GoToPlaceOrder") == true) {
                    if (links[l].href.indexOf("GoToPlaceOrder") != -1) {
                        links[l].focus()
                        break;
                    }
                }
            }


            if (evt.keyCode == 9) {
                if (document.activeElement.id != "SearchCustomerNumber" && FirstNameDefaulted == false) {
                    evt.preventDefault();
                    document.getElementById("SearchCustomerNumber").focus();
                    FirstNameDefaulted = true;
                }

            }
        }
        //----------------------------EDITED----------------------------


        //search button
        $('#search-customers').click(function () {                    
            var grid = $('#customers-grid').data('tGrid');
            grid.currentPage = 1; //new search. Set page size to 1
            grid.ajaxRequest();
            return false;
        });

        $('#addNew').click(function () {  
            window.location.href = '/Admin/Customer/Create/' + document.getElementById('SearchFirstName').value + '¤' + document.getElementById('SearchLastName').value;
            return false;
        });
        $("#@Html.FieldIdFor(model => model.SearchEmail)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#search-customers").click();
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.SearchUsername)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#search-customers").click();
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.SearchFirstName)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#search-customers").click();
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.SearchLastName)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#search-customers").click();
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.SearchCompany)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#search-customers").click();
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.SearchPhone)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#search-customers").click();
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.SearchZipPostalCode)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#search-customers").click();
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.SearchCustomerNumber)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#search-customers").click();
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.SearchNonActive)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#search-customers").click();
                return false;
            }
        });

        $("#@Html.FieldIdFor(model => model.SearchOnlyActive)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#search-customers").click();
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.SearchOnlyDeleted)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#search-customers").click();
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.SearchCity)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#search-customers").click();
                return false;
            }
        });
        $("#@Html.FieldIdFor(model => model.SearchSocialNumber)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#search-customers").click();
                return false;
            }
        });


        //"Export Excel selected" button
        $('#exportexcel-selected').click(function (e) {
            e.preventDefault();
            //redirect to required URL
            setLocation('@(Url.Action("ExportExcelSelected", "Customer"))?selectedIds=' + selectedIds.join(","));
            return false;
        });

        //"Export XML selected" button
        $('#exportxml-selected').click(function (e) {
            e.preventDefault();
            //redirect to required URL
            setLocation('@(Url.Action("ExportXmlSelected", "Customer"))?selectedIds=' + selectedIds.join(","));
            return false;
        });

        $('#mastercheckbox').click(function () {
            $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
        });

        //wire up checkboxes.
        $('#customers-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
            var $check = $(this);
            if ($check.is(":checked") == true) {
                var checked = jQuery.inArray($check.val(), selectedIds);
                if (checked == -1) {
                    //add id to selectedIds.
                    selectedIds.push($check.val());
                }
            }
            else {
                var checked = jQuery.inArray($check.val(), selectedIds);
                if (checked > -1) {
                    //remove id from selectedIds.
                    selectedIds = $.grep(selectedIds, function (item, index) {
                        return item != $check.val();
                    });
                }
            }
            updateMasterCheckbox();
        });
    });



    function onRowDataBound(e) {

        if (e.dataItem.HasExpiredInvoices == true) {
            e.row.style.opacity = "0.85";
            e.row.style.backgroundColor = "yellow";
        }

        if (e.dataItem.Active == false) {
            e.row.style.opacity = "0.85";
            e.row.style.backgroundColor = "red";
        }



    }

    function onDataBound(e) {


        $('#customers-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
            var currentId = $(this).val();
            var checked = jQuery.inArray(currentId, selectedIds);
            //set checked based on if current checkbox's value is in selectedIds.
            $(this).attr('checked', checked > -1);
        });

        updateMasterCheckbox();
    }

    function updateMasterCheckbox() {
        var numChkBoxes = $('#customers-grid input[type=checkbox][id!=mastercheckbox]').length;
        var numChkBoxesChecked = $('#customers-grid input[type=checkbox][checked][id!=mastercheckbox]').length;
        $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
    }

    function onDataBinding(e) {

        @*   ----------------Activate later handleDeletedCustomers-------------------- *@
        
            if (document.getElementById("SearchOnlyDeletedCheckbox").checked) {
                document.getElementById('deletedCustomersText').style.cssText = "visibility:visible; opacity: 0.85; background-color: yellow;";
            }
            else {
                document.getElementById('deletedCustomersText').style.cssText = "visibility:hidden ";
            }
              @*   ----------------Activate later handleDeletedCustomers-------------------- *@

        var customerRoleIds = [];
        $('[name=SearchCustomerRoleIds]:checked').each(function () {
            customerRoleIds.push($(this).val());
        });

        var searchModel = {
            SearchCustomerRoleIds: customerRoleIds.join(","),
            SearchEmail: $('#@Html.FieldIdFor(model => model.SearchEmail)').val(),
            SearchUsername: $('#@Html.FieldIdFor(model => model.SearchUsername)').val(),
            SearchFirstName: $('#@Html.FieldIdFor(model => model.SearchFirstName)').val(),
            SearchLastName: $('#@Html.FieldIdFor(model => model.SearchLastName)').val(),
            SearchDayOfBirth: $('#@Html.FieldIdFor(model => model.SearchDayOfBirth)').val(),
            SearchMonthOfBirth: $('#@Html.FieldIdFor(model => model.SearchMonthOfBirth)').val(),
            SearchCompany: $('#@Html.FieldIdFor(model => model.SearchCompany)').val(),
            SearchPhone: $('#@Html.FieldIdFor(model => model.SearchPhone)').val(),
            SearchZipPostalCode: $('#@Html.FieldIdFor(model => model.SearchZipPostalCode)').val(),
            SearchCustomerNumber: $('#@Html.FieldIdFor(model => model.SearchCustomerNumber)').val(),
            SearchSocialNumber: $('#@Html.FieldIdFor(model => model.SearchSocialNumber)').val(),
            SearchCity: $('#@Html.FieldIdFor(model => model.SearchCity)').val(),
            searchNonActive: document.getElementById("SearchNonActiveCheckbox").checked,
            searchOnlyActive: document.getElementById("SearchOnlyActiveCheckbox").checked,           
            searchOnlyDeleted: document.getElementById("SearchOnlyDeletedCheckbox").checked @* ----------------Activate later handleDeletedCustomers-------------------- *@
            
        };
        e.data = searchModel;
    }
    </script>
}