﻿@model Nop.Admin.Models.Customers.PlaceOrderModel
@using Telerik.Web.Mvc.UI
@*<link href="~/Content/tables.css" rel="stylesheet" />*@


@{
    var gridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;

    //page title
    ViewBag.Title = "Manuell orderläggning";
}



@using (Html.BeginForm("UpdateCartAll", "Customer", FormMethod.Post, new { id = "theForm" }))
{        
        <input type="hidden" name="whichButtonIsClicked" id="whichButtonIsClicked" value=""/> @*Hidden value to see which button is clicked*@
                 <table class="placeOrderTopTable">
        <tr>            
                <td class="adminTitle">     
                <strong>Kundinfo:</strong><br />            
                <span>@Model.customerFullName</span><br />
                <input type="hidden" name="customerFullName" value="@Model.customerFullName"/>
                <input type="hidden" name="customerID" value="@Model.customerID"/>                
                
                <span>@Model.customerNumber</span>
                <input type="hidden" name="customerNumber" value="@Model.customerNumber"/>
            </td>
             <td class="adminTitle">     
                <strong>Faktura-adress:</strong><br />         
                <span>@Model.adressBillingShortDesc</span>
                <input type="hidden" name="adressBillingShortDesc" value="@Model.adressBillingShortDesc"/>
                <input type="hidden" name="adressBilling" value="@Model.adressBilling"/>
            </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
             <td class="adminTitle">     
                <strong>Leveransadress:</strong><br />         
                <span>@Model.adressDeliveryShortDesc</span>
                <input type="hidden" name="adressDeliveryShortDesc" value="@Model.adressDeliveryShortDesc"/>
                <input type="hidden" name="adressDelivery" value="@Model.adressDelivery"/>                             
            </td>
        </tr>@*End row 1*@
        <tr>             
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchProductName):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => Model.SearchProductName)
            </td>
            <td></td>
                              <td>
                <a href="@Url.Action("Edit/" + Model.customerID)" class="t-button">Tillbaka till kund</a>
                <a href="@Url.Action("List")" class="t-button">Tillbaka till kund-lista</a>
            </td> 
        </tr>@*End row 2*@
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchCategoryId):
            </td>
            <td class="adminData">
                @Html.DropDownList("SearchCategoryId", Model.AvailableCategories)
                </td>
            <td></td>
            <td></td>
        </tr>@*End row 3*@
          <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.SearchProductSKU):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => Model.SearchProductSKU)
            </td>
              <td></td>
              <td></td>
        </tr>@*End row 4*@
        <tr>
            <td >
                <input type="button" id="search-products" class="adminButtonBlue" value="@T("Admin.Common.Search")" />
            </td>
            <td></td>
            <td></td>
            <td></td>

        </tr>@*End row 5*@ 
        <tr>
                @* <td>

          <strong>SnabbLäggTill:</strong>
     </td>

    <td>
         @if (Model.quickAddName == "Ingen snabbartikel vald")
         {
            <input type="submit" id="quick-add-toCart" name="quick-add-toCart" class="adminButtonBlue" value="Quick Add" style="visibility:hidden;"  />
         }
         else
         {
            <input type="submit" id="quick-add-toCart" name="quick-add-toCart" class="adminButtonBlue" value="Quick Add" style="visibility:visible;" />
         }
         (<label id="quickAddQuantityLabel">@Model.quickAddQuantity</label> )
         <label id="quickAddNameLabel">@Model.quickAddName</label>


    <input type="hidden" name="quickAddClick" id="quickAddClick" value="false"/>
                <input type="hidden" name="quickAddID" id="quickAddID" value=""/>
                <input type="hidden" name="quickAddQuantity" id="quickAddQuantity" value=""/>
                </td>5*@ 
                      
            <td></td>
            <td></td>
        </tr>@*End row 6*@     
            

 </table>
    <br />  
                 <input type="hidden" id="NewOrderItemIds" name="NewOrderItemIds"  value="" /><br /><br /> // the checked products to add    
   
             <table width="1525" >
                 <tr>
                                                                                
                    <td width="365" ><input type="submit" id="get-latest-order" name="get-latest-order" value="Get Latest Order" class="adminButtonBlue" /> </td>
             <td><input type="submit" id="place-order" name="place-order" value="Place Order" class="adminButtonBlue" style="width:775px;" align="left"/>  <br /></td>
                     </tr>                                                                                       
                  </table>                                                                                            
     <table width="1525">        


            <tr>
            <td style="vertical-align:top">
                 <table class="cart">
            <colgroup>                       
                <col width="3" />
                <col width="3" />
                <col width="3" />
                <col width="3" />
                <col width="3" />
            </colgroup>
            <thead>
                               
                <tr class="cart-header-row">                  
                    <th>
                        @T("Ta Bort")
                    </th>  
                    <th>
                        @T("Produktnamn")
                    </th>
                    <th>
                        @T("Antal")
                    </th>
                    <th>
                        @T("Pris")
                    </th>
                    <th onclick="additionalInfo()" onmouseover="" style="cursor: pointer;">
                       @T("(*)")
                    </th>
                      <th class="end">
                        @T("Total")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.adminOrderCart.Items)
                {
                    <tr class="cart-item-row">                       
                        <td class="remove-from-cart">
                                 <input type="checkbox" name="removefromcart" value="@(item.Id)" />
                        </td>                          
                        
                        <td class="unit-price nobr">
                                 <span class="product-unit-price">@item.ProductName</span>
                            <input type="hidden" name="productName@(item.Id)" value="@item.ProductName"/>
                        </td>

                        <td class="qty nobr">                                 
                                 <input name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="qty-input" />
                        </td>

                        <td class="unit-price nobr">
                                 <input type="text" name="itemunitprice@(item.Id)" value="@(item.UnitPrice)" />
                        </td>
                        <td>
                                 <input type="checkbox" name="DeactivateAutoCalculatePrice" value="@(item.Id)" 
                                     @if (item.DeactivateAutoCalculatePrice == true)
                                     { <text>checked="checked"</text> }/>
                        </td> 
                        <td class="unit-price nobr">
                            <span class="product-unit-price">@(item.TotalPriceWithQuantity)</span>                                 
                        </td>

                    </tr>  
                }
                @foreach (var Discount in Model.AddedDiscountsList)
                {
                    
                     <tr class="cart-item-row">                       
                        <td class="remove-from-cart">
                                 <input type="checkbox" name="removeDiscountCheckbox" value="@(Discount.discount.Id)" />
                        </td>                          
                        
                        <td class="unit-price nobr">
                                 <span class="product-unit-price">@Discount.discount.Name</span>
                            <input type="hidden" name="discountId@(Discount.discount.Id)" value="@Discount.discount.Id"/>
                        </td>
                         
                         <td class="qty nobr">                                 
                                 <input name="discountQuantity@(Discount.discount.Id)" type="text" value="@Discount.quantity" class="qty-input" />
                        </td>

                         
                    </tr>                         

                }
                <tr><td colspan="5"></td>    
                   <td>
                       <span class="product-unit-price">@Model.adminOrderCart.SubTotal</span>
                  </td>    
                </tr>

                
         
                    <input type="hidden" name="noOfCartItems" Id ="noOfCartItems" value="@Model.adminOrderCart.Items.Count"/>               
             
                <tr>

                    <input type="submit" id="add-discount" name="add-discount" value="Add Discount" class="adminButtonBlue" />


                    <select data-val="true" id="selectedDiscount" name="selectedDiscount" class="valid">
                        <option selected="selected" value="Ingen">Ingen</option>

                        @foreach (var disc in Model.DiscountsList)
                        {
                            <option value="@disc.Id">@disc.Name </option>
                        }

                    </select>

                    <input type="submit" id="update-cart" name="update-cart" value="Update Cart" class="adminButtonBlue" style="width:160px;" />

                </tr>
            </tbody>
        </table>   

            </td>

            <td width="1000">

                
            
                @if (Model.quickAddName == "Ingen snabbartikel vald")
                {
                    <input type="submit" id="quick-add-toCart" name="quick-add-toCart" class="adminButtonBlue" value="Quick Add" style="visibility:hidden;width:625px; " />
                }
                else
                {
                    <input type="submit" id="quick-add-toCart" name="quick-add-toCart" class="adminButtonBlue" value="Quick Add" style="visibility:visible;width:625px;" />
                }
              

                (<label id="quickAddQuantityLabel">@Model.quickAddQuantity</label> )
                <label id="quickAddNameLabel">@Model.quickAddName</label>


                <input type="hidden" name="quickAddClick" id="quickAddClick" value="false" /> @*Hidden value if it's a quick-add*@
                <input type="hidden" name="quickAddID" id="quickAddID" value="" />
                <input type="hidden" name="quickAddQuantity" id="quickAddQuantity" value="" />
            





                <table class="quickAddtable">
                    <tr>
                        <td>
                            <label id="quickAddLabel1">13 orange</label> <br />
                            <img onclick="ImageClicked(0)" src="~/Content/Images/QuickAddProducts/1.jpg" height=70 width=70 /><br />
                            <strong >1</strong>                            
                        </td>
                        
                         <td>
                             <label id="quickAddLabel2">312 brun</label><br />
                             <img onclick="ImageClicked(1)" src="~/Content/Images/QuickAddProducts/2.jpg" height=70 width=70 /><br />
                            <strong>2</strong>                           
                        </td>
                             <td>
                            <label id="quickAddLabel3">10 gul</label> <br />
                                 <img onclick="ImageClicked(2)" src="~/Content/Images/QuickAddProducts/3.jpg" height=70 width=70 /><br />
                            <strong>3</strong>                            
                        </td>
                         <td>
                            <label id="quickAddLabel4">675 blå</label> <br />
                             <img onclick="ImageClicked(3)" src="~/Content/Images/QuickAddProducts/4.jpg" height=70 width=70 /><br />
                            <strong>4</strong>                            
                        </td>
                            <td>
                            <label id="quickAddLabel5">13 orange</label> <br />
                            <img onclick="ImageClicked(4)" src="~/Content/Images/QuickAddProducts/5.jpg" height=70 width=70 /><br />
                            <strong style="">5</strong>                            
                        </td>
                        
                         <td>
                             <label id="quickAddLabel6">312 brun</label><br />
                             <img onclick="ImageClicked(5)" src="~/Content/Images/QuickAddProducts/6.jpg" height=70 width=70 /><br />
                            <strong>6</strong>                           
                        </td>
                             <td>
                            <label id="quickAddLabel7">10 gul</label> <br />
                                 <img onclick="ImageClicked(6)" src="~/Content/Images/QuickAddProducts/7.jpg" height=70 width=70 /><br />
                            <strong>7</strong>                            
                        </td>
                         <td>
                            <label id="quickAddLabel8">675 blå</label> <br />
                             <img onclick="ImageClicked(7)" src="~/Content/Images/QuickAddProducts/8.jpg" height=70 width=70 /><br />
                            <strong>8</strong>                            
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label id="quickAddLabel9">13 orange-MF </label> <br />
                            <img onclick="ImageClicked(8)" src="~/Content/Images/QuickAddProducts/Shift1.jpg" height=70 width=70 /><br />
                            <strong >Shift + 1</strong>                            
                        </td>
                        
                         <td>
                             <label id="quickAddLabel10">312 brun-MF</label><br />
                             <img onclick="ImageClicked(9)" src="~/Content/Images/QuickAddProducts/Shift2.jpg" height=70 width=70 /><br />
                            <strong>Shift + 2</strong>                           
                        </td>
                             <td>
                            <label id="quickAddLabel11">10 gul-MF</label> <br />
                                 <img onclick="ImageClicked(10)" src="~/Content/Images/QuickAddProducts/Shift3.jpg" height=70 width=70 /><br />
                            <strong>Shift + 3</strong>                            
                        </td>
                         <td>
                            <label id="quickAddLabel12">675 blå-MF</label> <br />
                             <img onclick="ImageClicked(11)" src="~/Content/Images/QuickAddProducts/Shift4.jpg" height=70 width=70 /><br />
                            <strong>Shift + 4</strong>                            
                        </td>
                            <td>
                            <label id="quickAddLabel13">13 orange-MF</label> <br />
                            <img onclick="ImageClicked(12)" src="~/Content/Images/QuickAddProducts/Shift5.jpg" height=70 width=70 /><br />
                            <strong>Shift + 5</strong>                            
                        </td>
                        
                         <td>
                             <label id="quickAddLabel14">312 brun-MF</label><br />
                             <img onclick="ImageClicked(13)" src="~/Content/Images/QuickAddProducts/Shift6.jpg" height=70 width=70 /><br />
                            <strong>Shift + 6</strong>                           
                        </td>
                             <td>
                            <label id="quickAddLabel15">10 gul-MF</label> <br />
                                 <img onclick="ImageClicked(14)" src="~/Content/Images/QuickAddProducts/Shift7.jpg" height=70 width=70 /><br />
                            <strong>Shift + 7</strong>                            
                        </td>
                         <td>
                            <label id="quickAddLabel16">675 blå-MF</label> <br />
                             <img onclick="ImageClicked(15)" src="~/Content/Images/QuickAddProducts/Shift8.jpg" height=70 width=70 /><br />
                            <strong>Shift + 8</strong>                            
                        </td>

                    </tr>

                    <tr>
    <td>
        <label id="quickAddLabel17">Rensnål</label> <br />
        <img onclick="ImageClicked(16)" src="~/Content/Images/QuickAddProducts/Ctrl1.jpg" height=70 width=70 /><br />
        <strong >Ctrl + 1</strong>
    </td>

     <td>
         <label id="quickAddLabel18">Borste</label><br />
         <img onclick="ImageClicked(17)" src="~/Content/Images/QuickAddProducts/Ctrl2.jpg" height=70 width=70 /><br />
        <strong>Ctrl + 2</strong>
    </td>
         <td>
        <label id="quickAddLabel19">Plastslang</label> <br />
             <img onclick="ImageClicked(18)" src="~/Content/Images/QuickAddProducts/Ctrl3.jpg" height=70 width=70 /><br />
        <strong>Ctrl + 3</strong>
    </td>
     <td>
        <label id="quickAddLabel20">Vaxfilter</label> <br />
         <img onclick="ImageClicked(19)" src="~/Content/Images/QuickAddProducts/Ctrl4.jpg" height=70 width=70 /><br />
        <strong>Ctrl + 4</strong>
    </td>
     <td>
        <label id="quickAddLabel21">NanoCare</label> <br />
         <img onclick="ImageClicked(20)" src="~/Content/Images/QuickAddProducts/Ctrl5.jpg" height=70 width=70 /><br />
        <strong>Ctrl + 5</strong>
    </td>
     <td>
        <label id="quickAddLabel22">ProWax</label> <br />
         <img onclick="ImageClicked(21)" src="~/Content/Images/QuickAddProducts/Ctrl6.jpg" height=70 width=70 /><br />
        <strong>Ctrl + 6</strong>
    </td>    


                             <td>
                            @*<label id="quickAddLabel23">Batterier Stl 10 - Gul</label> <br />
                                 <img onclick="ImageClicked(22)" src="~/Content/Images/QuickAddProducts/10small.jpg" height=70 width=70 /><br />*@
                            <strong>Ctrl + 7</strong>                            
                        </td>
                         <td>
                            @*<label id="quickAddLabel24">Någon produkt</label> <br />
                             <img onclick="ImageClicked(23)" src="~/Content/Images/QuickAddProducts/675small.jpg" height=70 width=70 /><br />*@
                            <strong>Ctrl + 8</strong>                            
                        </td>

                    </tr>
                </table>
                                 

            </td>

        </tr>


    </table>
   

    
  <div class="common-buttons">                    
                    <input type="submit" id="add-selected-items" name="add-selected-items" value="Add Items" class="adminButtonBlue" />                                   
                     
                    
       Selected Items: <label id="NewOrderItemIdsDisplayLabel"></label>                

  </div>   
  
    
    
           
    <p>
    </p>
    <table>
        <tr>
            <td>
                @(Html.Telerik().Grid<ProductModel>()
                    .Name("products-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.Id)
                        .Filterable(false)
                        .ClientTemplate("<input type='checkbox' name='checkedRecords' value='<#= Id #>' class='checkboxGroups'/>")
  
                        .Title("Lägg till")
                        .Width(25)
                        .HtmlAttributes(new { style = "text-align:center" })
                        .HeaderHtmlAttributes(new { style = "text-align:center" });                      
                     
                        columns.Bound(x => x.Name);
                        columns.Bound(x => x.Sku);
                        columns.Bound(x => x.Price);
                      
                    })
                     .Pageable(settings => settings.PageSize(gridPageSize).Position(GridPagerPosition.Both))
                     .DataBinding(dataBinding => dataBinding.Ajax().Select("ProductListPlaceOrder", "Product"))
                     .ClientEvents(events => events.OnDataBinding("onDataBinding").OnDataBound("onDataBound"))
                     .EnableCustomBinding(true))
            </td>
           
                <td style ="vertical-align: top;"><label>Admin Note: </label><br /> <textarea name="NoteAdminField">@(Model.noteAdmin)</textarea> </td>
<td style="vertical-align: top;"><label>Customer Note: </label><br /> <textarea name="NoteCustomerField">@(Model.noteCustomer)</textarea></td>


                <!--

                  <br />  <br />  OrderMethod: &nbsp  @Model.orderMethod &nbsp&nbsp
        <input type="submit" id="change-order-method" name="change-order-method" value="Change ordermethod" class="adminButtonBlue" />
        <input type="hidden" name="orderMethod" id="orderMethod" value="@Model.orderMethod"/>
         -->
            

        </tr>
    </table>
<br />           
         
}  
    
    <script type="text/javascript">

        var selectedIds = [];
        var quantity = 0;
        var quickAddId = 0;
        var noOfCartItems;

        //These Id:s should be changed according to which items should be avaialable for quick-add. Also dont forget to change description and image in view.       
        var quickProductIds = [295, 296, 294, 297, 283, 284, 282, 285, 291, 292, 290, 293, 287, 288, 286, 289, 264, 263, 262, 223, 370, 371, 0, 0, 0, 0, 0, 0, 0, 0];
       
        //--------------------------------HANDLE CLICKED IMAGE START--------------------------------------------------
        function additionalInfo() {
            alert("(*) Markera denna ruta för att inaktivera automatiskt priskalkulering som t.ex Tier Prices.");
        }

        function ImageClicked(pos) { //Quick add items should also be clickable

            //document.getElementById("quick-add-toCart").style.visibility = "visible"; //Set quickAddButton visible [DISPLAY]
            document.getElementById("quick-add-toCart").style.cssText = "visibility:visible;width:625px;";
            
            posLabel = pos + 1;

            if (quickProductIds[pos] == 0) {
                //alert("Snabbkommandot är ej aktivt.");
            }
            else
            {

                if (quickAddId == quickProductIds[pos]) {

                    quantity = quantity + 1; //Increase quantity [JS-variable]
                    $('#quickAddQuantity').val(quantity); //Set the form quickAddQuantity [FORM]
                    document.getElementById("quickAddQuantityLabel").innerHTML = "" + quantity; //Set visible quantity [DISPLAY]
                }
                else {
                    quantity = 1; //reset quantity-Js-Variable [JS-variable]
                    document.getElementById("quickAddQuantityLabel").innerHTML = "" + quantity; //Set visible quantity [DISPLAY]
                    $('#quickAddQuantity').val(quantity); //Set the form quickAddQuantity [FORM]

                    document.getElementById("quickAddNameLabel").innerHTML = $("#quickAddLabel" + posLabel).html(); //Set the chosen product label [DISPLAY]

                    quickAddId = quickProductIds[pos]; //Set  quickAddId [JS-variable]
                    $('#quickAddID').val(quickProductIds[pos]); //Set the quickAddID [FORM] 
                }
            }          
        }

        showDropdown = function (element) {
            var event;
            event = document.createEvent('MouseEvents');
            event.initMouseEvent('mousedown', true, true, window);
            element.dispatchEvent(event);
        };

        $(document).ready(function () {
           
            //--------------------------------HANDLE KEYBOARD INPUT START--------------------------------------------------

            document.defaultAction = true;
            document.onkeydown = detectEvent;

            function detectEvent(e) {

                var evt = e || window.event;

                //evt.preventDefault();
                var ifInput = false;

                var ctrlDown = false;
                var shiftDown = false;

                if (evt.ctrlKey) ctrlDown = true;
                if (evt.shiftKey) shiftDown = true;

                if (evt.keyCode != 123) {




                    if (evt.keyCode == 35) {
                        evt.preventDefault();
                        $('#add-discount').click();
                     
                    }

                    if (evt.keyCode == 36) {                   
                        evt.preventDefault();
                        var dropdown = document.getElementById('selectedDiscount');
                        showDropdown(dropdown);
                    }





                    switch (e.target.tagName.toLowerCase()) {
                        case 'input':
                        case 'textarea':
                            ifInput = true;
                            break;
                        default:
                            evt.preventDefault();
                            break;
                    }

                    if (ctrlDown == true) {
                        evt.preventDefault(); //Disable all other ctrl input
                    }


                    if (evt.keyCode >= 48 && evt.keyCode <= 56 && ifInput == false) { //Keys between 1-9

                        var posArray = 0;
                        var posLabel = 0;


                        posArray = evt.keyCode - 49;

                        if (ctrlDown) {
                            posArray = posArray + 16;
                        }

                        if (shiftDown) {
                            posArray = posArray + 8;
                        }

                        if (ctrlDown && shiftDown) {
                            alert("Don't press so many buttons at the same time..");
                            return document.defaultAction;
                        }


                        if (quickProductIds[posArray] == 0) {
                            //alert("Snabbkommandot är ej aktivt.");
                        }
                        else {


                            document.getElementById("quick-add-toCart").style.visibility = "visible"; //Set quickAddButton visible [DISPLAY]

                            posLabel = posArray + 1;

                            if (quickAddId == quickProductIds[posArray]) {

                                quantity = quantity + 1; //Increase quantity [JS-variable]
                                $('#quickAddQuantity').val(quantity); //Set the form quickAddQuantity [FORM]
                                document.getElementById("quickAddQuantityLabel").innerHTML = "" + quantity; //Set visible quantity [DISPLAY]
                            }
                            else {
                                quantity = 1; //reset quantity-Js-Variable [JS-variable]
                                document.getElementById("quickAddQuantityLabel").innerHTML = "" + quantity; //Set visible quantity [DISPLAY]
                                $('#quickAddQuantity').val(quantity); //Set the form quickAddQuantity [FORM]

                                document.getElementById("quickAddNameLabel").innerHTML = $("#quickAddLabel" + posLabel).html(); //Set the chosen product label [DISPLAY]

                                quickAddId = quickProductIds[posArray]; //Set  quickAddId [JS-variable]
                                $('#quickAddID').val(quickProductIds[posArray]); //Set the quickAddID [FORM] 

                            }
                        }

                    }
                    if (evt.keyCode == 33) {
                        try {
                            $('#quick-add-toCart').click();
                        }
                        catch (e)
                        { };
                    }

                    if (evt.keyCode == 34) {
                        $('#place-order').click();
                    }
                    return document.defaultAction;
                }

            }
            //--------------------------------HANDLE DIFFERENT BUTTON-CLICKS START-----------------------------------------------
            $('#quick-add-toCart').click(function () { //Adds the current quantity of the quick-add products

                if (quantity > 0) {

                    document.getElementById("quick-add-toCart").style.visibility = "hidden";
                    document.getElementById("quickAddNameLabel").innerHTML = '';
                    document.getElementById("quickAddQuantityLabel").innerHTML = "";
                    quantity = 0;

                    $('#whichButtonIsClicked').val("Quick Add Items");
                    document.forms["theForm"].submit()
                } else {
                    alert("Du har inte lagt till några snabbvaror.");
                }
                
                return false;
            });

            $('#place-order').click(function () {


                if (document.getElementById("noOfCartItems").value != "0") {

                    if (confirm("Är du säker på att du vill lägga ordern?")) {

                        document.getElementById("quick-add-toCart").style.visibility = "hidden";
                        document.getElementById("quickAddNameLabel").innerHTML = '';
                        document.getElementById("quickAddQuantityLabel").innerHTML = "";
                        quantity = 0;

                        $('#whichButtonIsClicked').val("Place Order");
                        document.forms["theForm"].submit()
                    }
                }
                else {
                    alert("Varukorgen är tom.");
                }

                return false;
            });

            $('#add-selected-items').click(function () { //Adds the checked products from the list.

                document.getElementById("quick-add-toCart").style.visibility = "hidden";
                document.getElementById("quickAddNameLabel").innerHTML = '';
                document.getElementById("quickAddQuantityLabel").innerHTML = "";
                quantity = 0;

                $('#whichButtonIsClicked').val("Add Items");
                document.forms["theForm"].submit()

                return false;
            });

            $('#change-order-method').click(function () { //Adds the checked products from the list.
               
                if (document.getElementById("orderMethod").value == "Telefon") {
                    document.getElementById("orderMethod").value = 'Blankett';
                }
                else {
                    document.getElementById("orderMethod").value = 'Telefon';
                }

                
                $('#whichButtonIsClicked').val("Change Ordermethod");
                document.forms["theForm"].submit()

                return false;               
            });

            $('#update-cart').click(function () { //Saving changes on quantity, price and on/off tier prices changes made on the shopping cart.

                document.getElementById("quick-add-toCart").style.visibility = "hidden";
                document.getElementById("quickAddNameLabel").innerHTML = '';
                document.getElementById("quickAddQuantityLabel").innerHTML = "";
                quantity = 0;

                $('#whichButtonIsClicked').val("Update Cart");
                document.forms["theForm"].submit()

                return false;
            });       
                 
            $('#get-latest-order').click(function () {
                if (confirm("Är du säker på att du vill hämta senaste ordern? Den nuvarande varukorgen kommer att skrivas över.")) {
                    document.getElementById("quick-add-toCart").style.visibility = "hidden";
                    document.getElementById("quickAddNameLabel").innerHTML = '';
                    document.getElementById("quickAddQuantityLabel").innerHTML = "";
                    quantity = 0;

                    $('#whichButtonIsClicked').val("Get Latest Order");
                    document.forms["theForm"].submit()
                }

                return false;
            });

            $('#add-discount').click(function () {                          

                $('#whichButtonIsClicked').val("Add Discount");
                document.forms["theForm"].submit()

                return false;
            });      
                 

            //--------------------------------HANDLE DIFFERENT BUTTON-CLICKS END-----------------------------------------------

 
            //--------------------------------------Code for handling the search in list---------------------------------------

            //search button
            $('#search-products').click(function () {
                //search
                var grid = $('#products-grid').data('tGrid');
                grid.currentPage = 1; //new search. Set page size to 1
                grid.ajaxRequest();
                //clear selected checkboxes
                $('.checkboxGroups').attr('checked', false).change();
                selectedIds = [];
                return false;
            });

            $("#@Html.FieldIdFor(model => model.SearchProductSKU)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#search-products").click();
                    return false;
                }
            });
            $("#@Html.FieldIdFor(model => model.SearchProductName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#search-products").click();
                    return false;
                }
            });
            $("#@Html.FieldIdFor(model => model.GoDirectlyToSku)").keydown(function (event) {
                if (event.keyCode == 13) {
                    $("#go-to-product-by-sku").click();
                    return false;
                }
            });

            //automatic search when chosen category
            $("#@Html.FieldIdFor(model => model.SearchCategoryId)").change(function (event) {                
                $("#search-products").click();
                    return false;                
            });

 

            $('#mastercheckbox').click(function () {
                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
            });
                                    

            //wire up checkboxes. 
            $('#products-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                var $check = $(this);
                if ($check.is(":checked") == true) {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked == -1) {
                        //add id to selectedIds.  
                        selectedIds.push($check.val());  
                        $('#NewOrderItemIds').val(selectedIds.join(","));
                      
                        document.getElementById("NewOrderItemIdsDisplayLabel").innerHTML = selectedIds.join(",");
                        
                    }
                }
                else {
                    var checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked > -1) {
                        //remove id from selectedIds.  
                        selectedIds = $.grep(selectedIds, function (item, index) {
                            return item != $check.val();
                        });
                    }
                }
                updateMasterCheckbox();
            });
        });

        function onDataBinding(e) {
            var searchModel = {
                SearchProductName: $('#@Html.FieldIdFor(model => model.SearchProductName)').val(),
                SearchCategoryId: $('#SearchCategoryId').val(),
             @* SearchIncludeSubCategories: $('#@Html.FieldIdFor(model => model.SearchIncludeSubCategories)').is(':checked'),
              *@  SearchManufacturerId: $('#SearchManufacturerId').val(),
                SearchStoreId: $('#SearchStoreId').val(),
                SearchVendorId: $('#SearchVendorId').val(),
                SearchProductTypeId: 5,
                SearchProductSKU: $('#SearchProductSKU').val()
            };
            e.data = searchModel;
        }

        function onDataBound(e) {
            $('#products-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                var currentId = $(this).val();
                var checked = jQuery.inArray(currentId, selectedIds);
                //set checked based on if current checkbox's value is in selectedIds.  
                $(this).attr('checked', checked > -1);
            });

            updateMasterCheckbox();
        }

        function updateMasterCheckbox() {
            var numChkBoxes = $('#products-grid input[type=checkbox][id!=mastercheckbox]').length;
            var numChkBoxesChecked = $('#products-grid input[type=checkbox][checked][id!=mastercheckbox]').length;
            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
        }
    </script>  
