﻿@model AdminOrderCart



 <td class="adminTitle">              
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.TotalProducts)
                @Html.ValidationMessageFor(model => model.TotalProducts)
            </td>