
/* This is the main image centered. */

#sevenspikes-cloud-zoom {
	width: auto;
	overflow: visible;
	text-align: center;
}
#wrap {
	display: inline-block;
	line-height: 0;
}
#wrap a {
	display: inline-block !important;
	overflow: hidden;
}
#wrap img {
	display: inline !important;
}

/* This is the overlay element. */

.cloud-zoom-lens {
	background-color: #b68c65;	
	cursor: crosshair;
}

/* This is the zoom window. */

#cloudZoomWindowElement {
    left: 0;
    top: 0;
    z-index: 1;
}
#cloud-zoom-big {
	/*border: 1px solid #ccc;*/
	overflow: hidden;
}

/* This is the window title. */

.cloud-zoom-title {
	background-color: #000;
	padding: 5px 10px;
	text-align: center;	
	font-weight: bold;
	color: #fff;
}

/* This is the loading message. */

.cloud-zoom-loading {	
	background-color: #000;
	padding: 10px 0;
	color: #fff;
}

/* This hides product ribbon when zooming. */

.gallery .ribbon-wrapper:hover .product-ribbon {
    display: none;
}