﻿/*
* Copyright 2012 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

span.search-box-text {
    float: left;
	border-radius: 5px 0 0 5px;
	background: #fff url('images/input1.png') repeat-x;
}
input.search-box-text {
	width: 327px !important;
	background: none;
}
.instant-search-busy {
    background: url('../../../images/ajax-loader-small.gif') no-repeat 325px center !important;
}

/* AUTOCOMPLETE */

.instantSearch {
	width: 327px !important;
	height: auto !important;
	margin-top: -3px;
	border: 1px solid #b5b0bd;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 2px #999;
	background: #f6f6f6;
    padding: 10px !important;
}
.instantSearch .k-list-container {
	position: static !important;
	width: auto !important;
    height: auto !important;
}
.instant-search-item {
	margin-bottom: 3px;
	border: 1px solid #ccc;
	border-radius: 3px;
    overflow: hidden;
	background: #e6e6ee;
	box-shadow: inset 0 0 10px #d6d6dd;
    padding: 10px;
    cursor: pointer;
}
.instantSearch .k-item.k-state-hover .instant-search-item, 
.instantSearch .k-item.k-state-focused .instant-search-item {
	border-color: #bbb;
    background: #ececf3;
}
.instant-search-item .img-block {
	float: left;
    width: 70px;
    height: 70px;
	border: 1px solid #ccc;
	overflow: hidden;
	background: #fff;
}
.instant-search-item .detail {
    margin: 0 10px 0 80px;
	text-shadow: 1px 1px 0 #eee;
    line-height: 17px;
}
.instant-search-item .detail .title {
	margin-bottom: 5px;
     /*change text font style here*/ 
	/*font: normal 14px 'avantgarde';*/
    font: normal 14px Verdana, Geneva, sans-serif;
	color: #333;
}
.instant-search-item .detail .price {
	font-size: 14px;
	color: #c8c;
}



/*=====================================================
    
    TABLETS LANDSCAPE & NETBOOKS

=====================================================*/

@media screen and (max-width: 980px) and (min-width: 769px) {

    input.search-box-text {
        width: 270px !important;
    }

    .instantSearch {
        width: 260px !important;
    }

}



/*=====================================================
    
    TABLETS PORTRAIT & SMARTPHONES LANDSCAPE

=====================================================*/

@media screen and (max-width: 768px) and (min-width: 481px) {

    input.search-box-text {
        width: 334px !important;
    }

    .instantSearch {
        width: 324px !important;
    }

}



/*=====================================================
    
    SMALLER MOBILE DEVICES

=====================================================*/

@media screen and (max-width: 480px) {

    .search-box {
        display: inline-block;
    }
    span.search-box-text {
        width: 187px;
    }
    .instantSearch {
        width: 198px !important;
        border-radius: 0 5px 5px 5px;
    }
        .instantSearch .img-block {
            display: none;
        }
        .instantSearch .detail {
            margin: 0;
        }
    .instant-search-item .detail .title {
        font-size: 14px;
    }
    .instant-search-item .detail .price {
        font-size: 12px;
    }

}