﻿.search-box-text.instant-search-busy {
    background: #e9e9e9 url('../../../images/ajax-loader-small.gif') 6px center no-repeat !important;
}
.search-box .button-1.search-box-button {
    margin: 0 !important;
}

/* AUTOCOMPLETE */

.instant-search-item .img-block {
    float: right !important;
}
.instant-search-item .detail {
    margin: 0 80px 0 10px !important;
}

/*=====================================================
    
    SMALLER MOBILE DEVICES

=====================================================*/

@media screen and (max-width: 480px) {

    .instantSearch {
        margin-left: -33px !important;
    }
    .instant-search-item .detail {
        margin: 0 !important;
        text-align: center;
    }

}