/*
Skin Name: Nivo Slider Default Theme - modified for navigation inside
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

 .nivoSlider {
    position: relative;
    background: #fff url(loading.gif) no-repeat 50% 50%;
    border-radius: 5px !important;
    overflow: hidden !important;
}

     .nivoSlider img {
        position: absolute;
        top: 0px;
        left: 0px;
        display: none;
        border-radius: 5px !important;
        overflow: hidden !important;
    }

     .nivoSlider a {
        border: 0;
        display: block;
    }

 .nivo-controlNav {
    text-align: center;
    padding: 10px 0;
    position: relative;
    margin-top: -42px;
    z-index: 7;
}

     .nivo-controlNav a {
        display: inline-block;
        width: 22px;
        height: 22px;
        background: url(bullets.png) no-repeat;
        text-indent: -9999px;
        border: 0;
        margin: 0 2px;
    }

         .nivo-controlNav a.active {
            background-position: 0 -22px;
        }

 .nivo-directionNav a {
    display: block;
    width: 30px;
    height: 30px;
    background: url(arrows.png) no-repeat;
    text-indent: -9999px;
    border: 0;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

:hover .nivo-directionNav a {
    opacity: 1;
}

 a.nivo-nextNav {
    background-position: -30px 0;
    right: 15px;
}

 a.nivo-prevNav {
    left: 15px;
}

 .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}

     .nivo-caption a {
        color: #fff;
        border-bottom: 1px dotted #fff;
    }

         .nivo-caption a:hover {
            color: #fff;
        }

 .nivo-controlNav.nivo-thumbs-enabled {
    width: 100%;
    position: static;
    margin-top: 0;
}

     .nivo-controlNav.nivo-thumbs-enabled a {
        width: auto;
        height: auto;
        background: none;
        margin-bottom: 5px;
    }

     .nivo-controlNav.nivo-thumbs-enabled img {
        display: block;
        width: 120px;
        height: auto;
    }
