﻿@model BackwebOrder
@using Nop.Plugin.Widgets.CustomizedBackweb.Models;
@using Nop.Web.Framework;

@{
    ViewBag.Title = "BackwebOrder";
}
<h2>Calulate Simple Interest</h2>@using (Ajax.BeginForm("BackwebOrderAction", "BackwebOrder",
                            new AjaxOptions { UpdateTargetId = "divInterestDeatils" }))
    {
       
    <fieldset>
        <legend>Calulate Simple Interest</legend><div id="div1"></div>
 
        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)          
        </div>
 
        <div class="editor-label">
            @Html.LabelFor(model => model.Rate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rate)          
        </div>
 
        <div class="editor-label">
            @Html.LabelFor(model => model.Year)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Year)           
        </div>
        <p>
            <input type="submit" value="Calculate" />
        </p>
    </fieldset>
 }
 
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}