﻿@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Widgets.CustomizedBackweb.Models;
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td colspan="2">
                <b>@T("Plugins.Widgets.CuztomizedBackweb.Notes")</b><br />
            </td>
        </tr>
        <tr>      
           
            <td class="adminData">
            <a href="@Url.Action("PlaceNewOrder")" class="t-button">@T("Admin.Common.AddNewOrder")</a>
                </td> 
    

        <td class="adminData">
            <a href="@Url.Action("BackwebOrder")" class="t-button">@T("Admin.Common.BackwebOrder")</a>
                </td>      
            @Html.EditorFor(model => model.SearchString)
          @Html.LabelFor(model => model.ProductInfo)
            @Html.LabelFor(model => model.Text1)
                      @Html.NopLabelFor(model => model.ProductInfo)
            @Html.NopLabelFor(model => model.Text1)

          </tr>
    </table>
    
}