﻿@model PasswordRecoveryConfirmModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
@using Nop.Web.Models.Customer;
<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result
            </div>
        }
        @if (!Model.SuccessfullyChanged)
        {
            using (Html.BeginForm())
            {
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="inputs">
                            @Html.LabelFor(model => model.NewPassword, new { }, ":")
                            @Html.EditorFor(model => model.NewPassword)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(model => model.ConfirmNewPassword, new { }, ":")
                            @Html.EditorFor(model => model.ConfirmNewPassword)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" name="set-password" class="button-1 new-password-button overrideToWhiteButton2" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                </div>
            }
        }
    </div>
</div>
