﻿@model PasswordRecoveryModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div class="result" id="result">
                @Model.Result
            </div>
        }
        @using (Html.BeginForm())
        {
            <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        @Html.LabelFor(model => model.Email, new { }, ":")
                        @Html.TextBoxFor(model => model.Email, new { @class = "email" })
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>
            </div>
            <div class="buttons">
                <input type="submit" name="send-email" id="send-email" class="button-1 password-recovery-button overrideToWhiteButton2" value="@T("Account.PasswordRecovery.RecoverButton")" />
            </div>
        }

        @*<div class="buttons">
            <input type="submit" name="test" id="test" class="button-1 password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />
        </div>*@
        <div style="text-align:right;">
            <label id="waitText" style="display:none;" class="tooltip">Har du inte fått mailet? Vänta ett par minuter innan du försöker igen.</label>
        </div>


    </div>
</div>

<script>


    if (document.getElementById("result") != null) {
        if (document.getElementById("result").innerHTML.indexOf("hittades inte") > -1 || document.getElementById("result").innerHTML.indexOf("felstavad") > -1 || document.getElementById("result").innerHTML.indexOf("ny kund") > -1) {
            
        }
        else {
            document.getElementById("send-email").defaultValue = "E-post skickat";
            $("#send-email").attr("disabled", true);


            document.getElementById("waitText").style.cssText = "";
            setTimeout(function () { enableSubmit() }, 30000);
        }
    }


    var enableSubmit = function () {
        $("#send-email").removeAttr("disabled");
        document.getElementById("send-email").defaultValue = "Återställ";
    }

    //$("#send-email").click(function () {

    //    var that = this;
    //    document.getElementById("send-email").defaultValue = "E-post skickat";

    //    $(this).attr("disabled", true);
    //    setTimeout(function () { enableSubmit() }, 2000);
    //});
</script>
