.jcarousel-direction-rtl * {
    text-align: right;
}
.nop-jcarousel > h2 span {
	/*background: url('images/rtl-bullet1.png') right center no-repeat !important;
	padding-right: 45px;*/
}
.nop-jcarousel .jcarousel-item .prices > * {
    float: right !important;
    margin: 0 0 0 5px !important;
}
.nop-jcarousel .jcarousel-next-horizontal {
    left: 0 !important;
    right: inherit !important;
    background: url('images/prev-horizontal.png') top no-repeat !important;
}
.nop-jcarousel .jcarousel-prev-horizontal {
    right: 0 !important;
    left: inherit !important;
    background: url('images/next-horizontal.png') top no-repeat !important;
}
    .nop-jcarousel .jcarousel-next-horizontal:active,
    .nop-jcarousel .jcarousel-prev-horizontal:active {
        background-position: bottom !important;
    }
    .nop-jcarousel .jcarousel-prev-horizontal.jcarousel-prev-disabled, 
    .nop-jcarousel .jcarousel-next-horizontal.jcarousel-next-disabled {
        background-position: top !important;
        opacity: 0.6 !important;
    }