/*
* Copyright 2012 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

.nop-jcarousel {
	clear: both;
	margin-bottom: 20px;
}
.nop-jcarousel > h2 {
	background: url('images/border1.png') bottom repeat-x;
	margin-bottom: 25px;
	padding-bottom: 10px;
    padding-right: 100px;
     /*change text font style here*/ 
	/*font: normal normal 36px 'avantgarde_light';*/
    font: normal normal 36px Verdana, Geneva, sans-serif;
	color: #CC0000; /*style change here*/
}
.nop-jcarousel > h2 span {
	/*background: url('images/bullet1.png') left center no-repeat;
	padding-left: 45px;*/
}
.nop-jcarousel .jcarousel-clip {
    overflow: hidden;
}

/*carousel items*/

.nop-jcarousel .jcarousel-item-horizontal {
    margin: 0 7px;
}
.nop-jcarousel .jcarousel-item-horizontal .thumb-img {
    display: block;
    height: 212px;
    overflow: hidden;
	margin-bottom: 5px;
	line-height: 212px;
	text-align: center;
	border: 0px solid #ddd;
	border-radius: 212px;
}
.nop-jcarousel .jcarousel-item-horizontal .thumb-img img {
	vertical-align: middle;
	border-radius: 212px;
}
.nop-jcarousel .jcarousel-product-name {
	display: block;
	height: 44px;
	overflow: hidden;
	margin-bottom: 5px;
     /*change text font style here*/ 
	/*font: normal normal 18px 'avantgarde';*/
    font: normal normal 18px Verdana, Geneva, sans-serif;
	color: #333;
}
.nop-jcarousel .jcarousel-product-name:hover {
	text-decoration: underline;
}
.nop-jcarousel .jcarousel-item .short-description {
	height: 26px;
	overflow: hidden;
	margin-bottom: 5px;
	font: normal normal 11px Tahoma, Geneva, sans-serif;
}
.nop-jcarousel .jcarousel-item .prices {
    height: 18px;
    overflow: hidden;
    margin-bottom: 10px;
}
.nop-jcarousel .jcarousel-item .prices > * {
    margin-right: 5px;
    line-height: 18px;
}
.nop-jcarousel .jcarousel-item .old-price {
	margin-right: 3px;
	font: normal 11px /*'avantgarde'*/ Tahoma, Geneva, sans-serif;
	color: #999;
	text-decoration: line-through;
}
.nop-jcarousel .jcarousel-item .actual-price {
	font: bold 14px /*'avantgarde'*/ Tahoma, Geneva, sans-serif;
	color: #000000; /*style change here change price color*/
}
.nop-jcarousel .jcarousel-item .button {
	display: block;
	height: 32px;
	background: url('images/button7.png') top repeat-x;
	text-align: center;
	font: normal normal 14px/32px Tahoma, Geneva, sans-serif;
	color: #333;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.nop-jcarousel .jcarousel-item .button:hover {
	background-position: bottom;
	box-shadow: 0 1px 0 #fff inset;
}
.nop-jcarousel .jcarousel-prev-horizontal,
.nop-jcarousel .jcarousel-next-horizontal {
    cursor: pointer;
    width: 42px;
    height: 42px;
    position: absolute;
    top: -78px;
}
.nop-jcarousel .jcarousel-prev-horizontal {
    right: 50px;
    background: url('images/prev-horizontal.png') top no-repeat;
}
.nop-jcarousel .jcarousel-next-horizontal {
    right: 0;
    background: url('images/next-horizontal.png') top no-repeat;
}
.nop-jcarousel .jcarousel-prev-horizontal:hover, 
.nop-jcarousel .jcarousel-prev-horizontal:focus, 
.nop-jcarousel .jcarousel-next-horizontal:hover, 
.nop-jcarousel .jcarousel-next-horizontal:focus {
	background-position: bottom;
}
.nop-jcarousel .jcarousel-prev-horizontal:active, 
.nop-jcarousel .jcarousel-next-horizontal:active {
	opacity: 0.8;
}
.nop-jcarousel .jcarousel-prev-disabled-horizontal, 
.nop-jcarousel .jcarousel-prev-disabled-horizontal:hover, 
.nop-jcarousel .jcarousel-prev-disabled-horizontal:focus, 
.nop-jcarousel .jcarousel-prev-disabled-horizontal:active, 
.nop-jcarousel .jcarousel-next-disabled-horizontal, 
.nop-jcarousel .jcarousel-next-disabled-horizontal:hover, 
.nop-jcarousel .jcarousel-next-disabled-horizontal:focus, 
.nop-jcarousel .jcarousel-next-disabled-horizontal:active {
	background-position: top;
	cursor: default;
	opacity: 1;
}

/* If the wrap is set to circular and the carousel skin can display more items than there are, the carousel adds additional <li> elements to fill the
    empty spaces. This class is added only for those empty elements. They should not be visible. */
.nop-jcarousel .jcarousel-item-placeholder-horizontal {
    visibility: hidden;
}


/* VERTICAL */

.vertical-holder {
    margin-bottom: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
    background: #FFF url('images/boxpad2.png') top repeat-x;
    background: url('images/boxpad2.png') top repeat-x, url('images/boxpad3.png') bottom repeat-x;
    box-shadow: inset 0 1px 0 #FFF;
    padding: 10px;
}
.nop-jcarousel h2.vertical {
    border-bottom: 1px solid #DDD;
    border-radius: 5px 5px 0 0;
    padding: 5px 10px 10px;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #CC0000; /*style change here*/
    text-shadow: 1px 1px 0 #FFF;
    background: none;
    font: normal 14px Tahoma, Geneva, sans-serif;
}
.nop-jcarousel h2.vertical span {
    font-weight: normal;
    background: none;
    padding-left: 0;
}
.nop-jcarousel .jcarousel-container-vertical {
    padding: 60px 13px;
	border-radius: 5px;
}
.nop-jcarousel .jcarousel-clip-vertical {
    height: 360px;
}
.nop-jcarousel .jcarousel-item-vertical {
    height: 360px !important;
    float: none !important;
    width: auto !important;
    text-align: center !important;
}
.nop-jcarousel .jcarousel-item-vertical .item-holder {
    padding: 0 10px;
}
.nop-jcarousel .jcarousel-item-vertical .thumb-img {
    display: block;
    overflow: hidden;
	text-align: center;
	border: 0px solid #ddd;    
    border-radius: 5px;
    height:198px;
}

.nop-jcarousel .jcarousel-item-vertical.jcarousel-item .prices {
    height: auto;
}

.nop-jcarousel .jcarousel-next-vertical, 
.nop-jcarousel .jcarousel-prev-vertical {
    position: absolute;
    left: 50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
    margin: 0 0 0 -21px;
}
.nop-jcarousel .jcarousel-next-vertical {
    bottom: 5px;
    background: transparent url('images/next-vertical.png') no-repeat;
}
.nop-jcarousel .jcarousel-prev-vertical {
    top: 5px;
    background: transparent url('images/prev-vertical.png') no-repeat;
}
.nop-jcarousel .jcarousel-next-vertical:hover, 
.nop-jcarousel .jcarousel-next-vertical:focus,
.nop-jcarousel .jcarousel-prev-vertical:hover, 
.nop-jcarousel .jcarousel-prev-vertical:focus {
    background-position: bottom;
}
.nop-jcarousel .jcarousel-next-disabled-vertical, 
.nop-jcarousel .jcarousel-next-disabled-vertical:hover, 
.nop-jcarousel .jcarousel-next-disabled-vertical:focus, 
.nop-jcarousel .jcarousel-next-disabled-vertical:active,
.nop-jcarousel .jcarousel-prev-disabled-vertical, 
.nop-jcarousel .jcarousel-prev-disabled-vertical:hover, 
.nop-jcarousel .jcarousel-prev-disabled-vertical:focus, 
.nop-jcarousel .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    opacity: 0.5;
}
.nop-jcarousel .jcarousel-item-vertical .short-description {
    height: 27px;
}

/* If the wrap is set to circular and the carousel skin can display more items than there are, the carousel adds additional <li> elements to fill the
    empty spaces. This class is added only for those empty elements. They should not be visible. */

.nop-jcarousel .jcarousel-item-placeholder {
    visibility: hidden;
}

/*=====================================================
    
    SMALLER MOBILE DEVICES

=====================================================*/

@media screen and (max-width: 480px) {

    .nop-jcarousel > h2 {
        padding-bottom: 60px;
        padding-right: 0;
        font-size: 26px;
        text-align: center;
    }

    .nop-jcarousel .jcarousel-item-horizontal {
        text-align: center;
    }

    .nop-jcarousel .jcarousel-prev-horizontal, .nop-jcarousel .jcarousel-next-horizontal {
        top: -78px;
    }
    .nop-jcarousel .jcarousel-prev-horizontal {
        left: 50%;
        margin-left: -44px;
    }
    .nop-jcarousel .jcarousel-next-horizontal {
        right: 50%;
        margin-right: -44px;
    }

}