﻿@model NewsLetterSubscriptionListModel
@using Telerik.Web.Mvc.UI
@{
    var gridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    
    //page title
    ViewBag.Title = T("Admin.Promotions.newsLetterSubscriptions").Text;
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" alt="" />
        @T("Admin.Promotions.newsLetterSubscriptions")
    </div>
    <div class="options">



        <input type="submit" id="importcsv" name="importcsv" class="t-button" value="@T("Admin.Common.ImportFromCsv")" />
    </div>
</div>


@using (Html.BeginForm("ExportCsv", "NewsLetterSubscription", FormMethod.Post, new { id = "theForm" }))
{
    
   <table width="50%">

    <tr>
    <td>
       @*------------- Earstore 2.0 customized functionality@*------------- *@
      @foreach (var customerRole in Model.AvailableCustomerRoles)
                {
                    <input type="checkbox" name="SearchCustomerRoleIds" value="@customerRole.Id"
               @* @if (Model.SearchCustomerRoleIds != null && Model.SearchCustomerRoleIds.Contains(customerRole.Id))
                {
                    <text>checked="checked"</text>
                }*@
                />@customerRole.Name
                    <br />
                }
    </td>
    <td>
        Välj en eller flera <br />kundroller att exportera. <br /><br />
        <input type="submit" id="exportcsv" name="exportcsv" value="exportcsv" class="adminButtonBlue" />
    </td>
</tr>
       @* @*-------------Earstore 2.0 customized functionality@*------------- *@
       </table> 
            
}


 @* Functionality below is currently not used because of the change in newsletter subscription specific to Earstore *@

<br /><br />
<table width="100%">     

        <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.SearchEmail):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => Model.SearchEmail)
        </td>
    </tr>
     
    <tr>
        <td colspan="2">
            <input type="button" id="btnSearch" class="t-button" value="@T("Admin.Common.Search")" />
        </td>
    </tr>
</table>
<p>
</p>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<NewsLetterSubscriptionModel>()
                        .Name("newsLetterSubscriptions-grid")
                        .DataKeys(x =>
                        {
                            x.Add(y => y.Id).RouteKey("Id");
                        })
                        .Columns(columns =>
                        {
                            columns.Bound(x => x.Email)
                                .Width(300);
                            columns.Bound(x => x.Active)
                            .Template(
                                @<img alt="" src="@Url.Content("~/Administration/Content/images/active-" + item.Active.ToString().ToLowerInvariant() + ".gif")" />
                            )
                            .ClientTemplate("<img alt='' src='" + Url.Content("~/Administration/Content/images/") + "active-<#= Active #>.gif' />")
                            .Centered()
                            .Width(100);
                            columns.Bound(x => x.CreatedOn)
                                .ReadOnly()
                                .Width(150);
                            columns.Command(commands =>
                            {
                                commands.Edit().Text(T("Admin.Common.Edit").Text);
                                commands.Delete().Text(T("Admin.Common.Delete").Text);
                            }).Width(180);

                        })
                        .Pageable(settings => settings.PageSize(gridPageSize).Position(GridPagerPosition.Both))
                        .DataBinding(dataBinding => dataBinding.Ajax()
                            .Select("SubscriptionList", "NewsLetterSubscription")
                            .Update("SubscriptionUpdate", "NewsLetterSubscription")
                            .Delete("SubscriptionDelete", "NewsLetterSubscription"))
                            .ClientEvents(events => events.OnDataBinding("onDataBinding"))
                            .ClientEvents(x => x.OnError("grid_onError"))
                        .EnableCustomBinding(true))
        </td>
    </tr>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSearch').click(function () {
            var grid = $('#newsLetterSubscriptions-grid').data('tGrid');
            grid.currentPage = 1; //new search. Set page size to 1
            grid.ajaxRequest();
            return false;
        });

        $("#@Html.FieldIdFor(model => model.SearchEmail)").keydown(function (event) {
            if (event.keyCode == 13) {
                $("#btnSearch").click();
                return false;
            }
        });
    });

    function onDataBinding(e) {
        var searchModel = {
            SearchEmail: $('#@Html.FieldIdFor(model => model.SearchEmail)').val()
        };
        e.data = searchModel;
    }

    function grid_onError(e) {
        alert(e.XMLHttpRequest.responseText);
        e.preventDefault();
    }
</script>
@*import emails form*@
@{Html.Telerik().Window()
        .Name("importcsv-window")
        .Title(T("Admin.Common.ImportFromCsv").Text)
        .Content(@<text>
    @using (Html.BeginForm("ImportCsv", "NewsLetterSubscription", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table style="text-align: left;">
            <tr>
                <td>
                    @T("Admin.Common.CsvFile"):
                </td>
                <td>
                    <input type="file" id="importcsvfile" name="importcsvfile" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" class="t-button" value="@T("Admin.Common.ImportFromCsv")" />
                </td>
            </tr>
        </table>
    }
    </text>)
        .Width(400)
        .Draggable(true)
        .Modal(true)
        .Visible(false)
        .Render();
}
<script type="text/javascript">
    $(document).ready(function () {

        $('#exportcsv').click(function () {

            document.getElementById("quick-add-toCart").style.visibility = "hidden";


            var customerRoleIds = [];
            $('[name=SearchCustomerRoleIds]:checked').each(function () {
                customerRoleIds.push($(this).val());
            });          
           
            //$('#theChosenCustomerRoleIds').val(customerRoleIds.join(","));

            document.forms["theForm"].submit()

            return false;
        });


        $("#importcsv").click(function (e) {
            e.preventDefault();
            $('#importcsv-window').data('tWindow').center().open();
        });
    });

</script>
