/*
* Copyright 2012 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

.jcarousel-skin-thumbs {
	width: 302px;
}

.jcarousel-skin-thumbs .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-thumbs .jcarousel-clip-horizontal {
	margin: 0 19px;
}

/*carousel buttons*/

.jcarousel-skin-thumbs .jcarousel-prev-horizontal,
.jcarousel-skin-thumbs .jcarousel-next-horizontal {
    position: absolute;
    top: 50%;
    width: 10px;
    height: 15px;
	margin: -1px 0 0;
	cursor: pointer;
}
.jcarousel-skin-thumbs .jcarousel-prev-horizontal {
    background: url('images/prev-horizontal.png') top no-repeat;
    left: 0;
}
.jcarousel-skin-thumbs .jcarousel-next-horizontal {
    right: 0;
    background: url('images/next-horizontal.png') top no-repeat;
}
.jcarousel-prev-horizontal:hover, .jcarousel-prev-horizontal:focus, .jcarousel-next-horizontal:hover, .jcarousel-next-horizontal:focus {
	background-position: bottom;
}
.jcarousel-skin-thumbs .jcarousel-prev-horizontal:active, .jcarousel-skin-thumbs .jcarousel-next-horizontal:active {
	opacity: 0.8;
}
.jcarousel-skin-thumbs .jcarousel-prev-disabled-horizontal, .jcarousel-skin-thumbs .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-thumbs .jcarousel-prev-disabled-horizontal:focus, .jcarousel-skin-thumbs .jcarousel-prev-disabled-horizontal:active, 
.jcarousel-skin-thumbs .jcarousel-next-disabled-horizontal, .jcarousel-skin-thumbs .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-thumbs .jcarousel-next-disabled-horizontal:focus, .jcarousel-skin-thumbs .jcarousel-next-disabled-horizontal:active {
	background-position: top;
	cursor: default;
	opacity: 1;
}

/*carousel items*/

.jcarousel-skin-thumbs .jcarousel-item {
}
.jcarousel-skin-thumbs .jcarousel-item-horizontal {
    margin: 12px 12px 0 0;
}

.product-details-page .picture-thumbs a.cloud-zoom-gallery {
    display: block;
    width: 78px !important;
    height: 78px !important;
    overflow: hidden;
	margin: 0 !important;
	text-align: center;
	line-height: 78px !important;
}
img.cloud-zoom-gallery-img {
	margin: 0;
	vertical-align: middle;
}
