﻿@model IList<ProductOverviewModel>
@using Nop.Web.Models.Catalog;
@if (Model.Count > 0 && 5 == 8)
{
    <div class="home-page-product-grid">
        <div class="grid-title">
            <strong>@T("HomePage.Products")</strong>
        </div>
        <div class="item-grid">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    <div class="item-content">
                        <div class="picture">
                            <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" title="@item.DefaultPictureModel.Title">
                                <img alt="@item.DefaultPictureModel.AlternateText" src="@item.DefaultPictureModel.ImageUrl" title="@item.DefaultPictureModel.Title" />
                            </a>
                        </div>
                        <h3 class="product-title">
                            <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })">@item.Name</a>
                        </h3>
                        @*removed description and old price*@
                        <div class="prices">
                            <strong class="actual-price">@item.ProductPrice.Price</strong>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}