﻿@model ProductDetailsModel
@using Nop.Core;
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web;
@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Catalog;
@using Nop.Core.Domain.Orders;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title, meta
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }
}
<!--product breadcrumb-->
@Html.Action("ProductBreadcrumb", "Catalog", new { productId = Model.Id })

<div class="page product-details-page">
    <div class="page-body">
    @Html.Widget("productdetails_top")
    @using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
    {
            <div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
            <div class="product-essential">
                @Html.Widget("productdetails_before_pictures")
                <!--product pictures-->
                @Html.Partial("_ProductDetailsPictures", Model)
                @Html.Widget("productdetails_after_pictures")
                <div class="overview">
                    <div class="product-name">
                        <h1 itemprop="name">
                            @Model.Name
                        </h1>
                    </div>
                    @if (!String.IsNullOrEmpty(Model.ShortDescription))
                    {
                        <div class="short-description">
                            @Html.Raw(Model.ShortDescription)
                        </div>
                    }
                    @Html.Widget("productdetails_overview_top")

                    <!--Back in stock subscription-->
                    @Html.Partial("_BackInStockSubscription", Model)

                    <!--product manufacturers-->
                    @Html.Action("ProductManufacturers", "Catalog", new { productId = Model.Id })

                    @Html.Action("ProductReviewOverview", "Catalog", new { productId = Model.Id })

                    <!--sample download-->
                        @Html.Partial("_DownloadSample", Model)

                    <div class="add-info">
                        @if(!Model.AddToCart.DisableWishlistButton)
                        {
                            <input type="button" class="add-to-wishlist-button" value="@T("ShoppingCart.AddToWishlist")" data-productid="@Model.Id" onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist })    ', '#product-details-form');return false;" />
                        }
                        @Html.Action("CompareProductsButton", "Catalog", new { productId = Model.Id })
                        @Html.Action("ProductEmailAFriendButton", "Catalog", new { productId = Model.Id })
                    </div>
                    <!--add-info-->

                    <!--product SKU, manufacturer part number, stock info-->
                    @Html.Partial("_SKU_Man_Stock", Model)

                    <div class="buy-panel">
                        @{
                            var dataDictAttributes = new ViewDataDictionary();
                            dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
                            @Html.Partial("_ProductAttributes", Model.ProductVariantAttributes, dataDictAttributes)               
                        }
                        <div class="order-line">
                            @{
                                var dataDictPrice = new ViewDataDictionary();
                                dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);
                                @Html.Partial("_ProductPrice", Model.ProductPrice, dataDictPrice)

                                var dataDictAddToCart = new ViewDataDictionary();
                                dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                                @Html.Partial("_AddToCart", Model.AddToCart, dataDictAddToCart)        
                            }
                        </div>
                    </div>

                    @Html.Action("ShareButton", "Catalog")

                    @Html.Widget("productdetails_overview_bottom")

                </div>

                @if (!String.IsNullOrEmpty(Model.FullDescription))
                {
                        <div class="full-description" itemprop="description">
                        @Html.Raw(Model.FullDescription)
                    </div>
                }

                @Html.Widget("productdetails_before_collateral")

            </div>
            <div class="product-collateral">

                <!--product tier prices-->
                    @Html.Action("ProductTierPrices", "Catalog", new { productId = Model.Id })

                @{
                    var dataDictGiftCard = new ViewDataDictionary();
                    dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = string.Format("giftcard_{0}", Model.Id);
                    @Html.Partial("_GiftCardInfo", Model.GiftCard, dataDictGiftCard)
                }

                @Html.Action("ProductSpecifications", "Catalog", new { productId = Model.Id })

                @Html.Action("ProductTags", "Catalog", new { productId = Model.Id })
                
                @Html.Action("Index", "Tracking", new { productId = Model.Id })
                
            </div>
        </div>
    }
</div>
</div>
@Html.Action("RelatedProducts", "Catalog", new { productId = Model.Id })

@Html.Action("ProductsAlsoPurchased", "Catalog", new { productId = Model.Id })

@Html.Widget("productdetails_bottom")