﻿@model IList<ProductOverviewModel>
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.RecentlyAddedProducts").Text);
}
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Catalog;
<div class="page recently-added-products-page">
    <div class="page-title">
        <div class="title">
            <h1>@T("Products.NewProducts")</h1>
        </div>
                <a href="@Url.RouteUrl("RecentlyAddedProductsRSS")" class="link-rss" title="@T("Products.NewProducts.RSS.Hint")">@T("Products.NewProducts.RSS")</a>
    </div>
    @*product list*@
    @if (Model.Count > 0)
    {
@*grid mode*@
        <div class="product-grid">
            <div class="item-grid">
                @foreach (var item in Model)
                {
                    <div class="item-box">
                        @Html.Partial("_ProductBox", item)
                    </div>
                }
            </div>
        </div>
        
    }
</div>
