﻿@model SearchModel
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Search").Text);
}
@using Nop.Core;
@using Nop.Core.Infrastructure;
@using Nop.Web;
@using Nop.Web.Models.Catalog;
@using Nop.Web.Extensions;
<div class="page search-page">
    <div class="page-title">
        <h1>@T("Search")</h1>
    </div>
    <div class="page-body">
        @using (Html.BeginRouteForm("ProductSearch", FormMethod.Get))
        {
            <div class="search-input">
                <script type="text/javascript">
                    $(document).ready(function () {

                        $("#@Html.FieldIdFor(model => model.As)").click(toggleAdvancedSearch);

                        toggleAdvancedSearch();
                    });

                    function toggleAdvancedSearch() {

                        if ($('#@Html.FieldIdFor(model => model.As)').is(':checked')) {
                            $('#advanced-search-block').show();
                        }
                        else {
                            $('#advanced-search-block').hide();
                        }
                    }

                </script>
                <div class="basic-search">
                    <div class="inputs">
                        @Html.LabelFor(model => model.Q, new { }, ":")
                        @Html.TextBoxFor(model => model.Q, new { @class = "search-text" })
                    </div>
                    @Html.Widget("productsearch_page_basic")
                    <div class="inputs reversed">
                        @Html.CheckBoxFor(model => model.As)
                        @Html.LabelFor(model => model.As)
                    </div>
                </div>
                <div class="advanced-search" id="advanced-search-block">
                    @if (Model.AvailableCategories.Count > 0)
                    {
                        <div class="inputs">
                            @Html.LabelFor(model => model.Cid, new { }, ":")
                            @Html.DropDownListFor(model => model.Cid, Model.AvailableCategories)
                        </div>
                        <div class="inputs reversed">
                            @Html.CheckBoxFor(model => model.Isc)
                            @Html.LabelFor(model => model.Isc)
                        </div>
                    }
                    @if (Model.AvailableManufacturers.Count > 0)
                    {
                        <div class="inputs">
                            @Html.LabelFor(model => model.Mid, new { }, ":")
                            @Html.DropDownListFor(model => model.Mid, Model.AvailableManufacturers)
                        </div>
                    }
                    <div class="inputs">
                        <label>@T("Search.PriceRange"):</label>
                        <span class="price-range">
                            @T("Search.PriceRange.From")
                            @Html.TextBoxFor(model => model.Pf, new { @class = "price-from" })
                            @T("Search.PriceRange.To")
                            @Html.TextBoxFor(model => model.Pt, new { @class = "price-to" })
                        </span>
                    </div>
                    <div class="inputs reversed">
                        @Html.CheckBoxFor(model => model.Sid)
                        @Html.LabelFor(model => model.Sid)
                    </div>
                    @Html.Widget("productsearch_page_advanced")
                </div>
                <div class="buttons">
                    <input type="submit" class="button-1 search-button" value="@T("Search")" />
                </div>
                    @if (!String.IsNullOrEmpty(Model.Warning))
                        {
                <strong class="warning">
                    @Model.Warning
                </strong>
                }
            </div>
        }
        <div class="search-results">
            @if (Model.NoResults)
            {
                <strong class="result">
                    @T("Search.NoResultsText")
                </strong>
            }
            @if( Model.Products.Count > 0)
            {
                <div class="product-list">
                    @*list mode*@
                    <div class="item-grid">
                        @foreach (var product in Model.Products)
                        {
                            <div class="item-box">
                                @Html.Partial("_ProductBox", product)
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <!--page-body-->

    <div class="pager">
        @if (Model.PagingFilteringContext.TotalPages > 1)
        {
            <div>
                @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber").BooleanParameterName("as").BooleanParameterName("isc").BooleanParameterName("sid")
            </div>                
            <div class="corner"></div>
        }
    </div>

</div>
