﻿.productTabs-header ul,
 .productTabs-header ul li{
    float: right !important;
}
.productTabs-header li:first-child a {
    border-radius: 0 5px 0 0 !important;
}
.productTabs-header li:last-child a {
    border-radius: 5px 0 0 0 !important;
}
.productTabs-body p {
    text-align: right !important;
}

/*=====================================================
    
    TABLETS LANDSCAPE & NETBOOKS

=====================================================*/

@media screen and (max-width: 980px) and (min-width: 481px) {

    .ui-tabs .ui-tabs-nav li:first-child {
        border-radius: 0 5px 0 0;
        padding-right: 0;
    }
    .ui-tabs .ui-tabs-nav li:last-child {
        border-radius: 5px 0 0 0;
    }

}

/*=====================================================
    
    SMALLER MOBILE DEVICES

=====================================================*/

@media screen and (max-width: 480px) {
    
    .ui-tabs .ui-tabs-nav {
        float: none !important;
        overflow: hidden;
        border-radius: 5px !important;
    }
        .ui-tabs .ui-tabs-nav li {
            padding: 0 !important;
            background: none !important;
            border-radius: 0 !important;
        }
            .ui-tabs .ui-tabs-nav li a {
                border-radius: 0 !important;
            }
        .ui-tabs .ui-tabs-nav li:hover a {
            background-position: left bottom !important;
        }
    .productTabs-body ul {
        padding-left: 0 !important;
    }

}