
/* This is the main image centered. */

#sevenspikes-cloud-zoom {
	width: auto;
	overflow: visible;
	text-align: center;
}

#wrap {
	display: inline-block;
	overflow: hidden;
}

#wrap a {
	display: inline-block !important;
	overflow: hidden;
}

/* This is the overlay element. */

.cloud-zoom-lens {
	margin: 0px;
	border: none;
	background-color: #fff;	
	cursor: crosshair;	
}

/* This is for the title text. */

.cloud-zoom-title {
	background-color: #000;
	padding: 3px;
	text-align: center;
	font: bold 10px Arial, Helvetica, sans-serif;
	color: #fff;	
}

/* This is the zoom window. */

.product-details-page .overview {
    position: relative;
}
#cloudZoomWindowElement {
    left: 0;
    top: 0;
    z-index: 1;
}
#cloud-zoom-big {
	border: none;
	overflow: hidden;
}

/* This is the loading message. */

.cloud-zoom-loading {
	border: 1px solid #000;	
	background: #222;
	padding: 3px;
	color: #fff;
}
.cloud-zoom-gallery-img {
    margin: 2px;
}

/* This hides product ribbon when zooming. */

.gallery .ribbon-wrapper:hover .product-ribbon {
    display: none;
}