﻿.instant-search-busy {
    background: #fff url('../../../images/ajax-loader-small.gif') no-repeat 3px !important;
}

span.search-box-text {
    float: right;
}
input.search-box-text {
    padding: 1px 5px 0 0;
}
.instant-search-item .img-block {
    float: right;
}
.instant-search-item .detail {
    float: left;
}
.instant-search-item .detail .title,
.instant-search-item .detail .price {
    text-align: right;
}