﻿@** Copyright 2013 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*@

@using Nop.Core;
@using Nop.Core.Infrastructure;

@model SevenSpikes.Nop.Plugins.MegaMenu.Models.MegaMenuModel
@{
    Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.MegaMenu/Themes/" + Model.Theme + "/Content/MegaMenu.css");

    var supportRtl = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Rtl;
    if (supportRtl)
    {
        Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.MegaMenu/Themes/" + Model.Theme + "/Content/MegaMenu.rtl.css");
    }

    Html.AddScriptParts("~/Plugins/SevenSpikes.Nop.Plugins.MegaMenu/Scripts/jquery.lazyload.min.js");
}

<ul class="mega-menu">
    @RenderMegaMenu(isMegaMenuResponsive:false)
</ul>

@{
    if (Model.Settings.EnableResponsiveMenu)
    {    
        Html.AddScriptParts("~/Plugins/SevenSpikes.Core/Scripts/SevenSpikesExtensions.js");
        Html.AddScriptParts("~/Plugins/SevenSpikes.Nop.Plugins.MegaMenu/Scripts/MegaMenuResponsive.min.js");
    
        <div class="menu-title"><span>@T("SevenSpikes.MegaMenu.ResponsiveMenuTitle")</span></div>
        <ul class="mega-menu-responsive">
            @RenderMegaMenu(isMegaMenuResponsive:true)
        </ul>
    }
}

<script type="text/javascript">

    $(function () {
        $("img.lazy").lazyload({
            event: "menuShown",
            effect: "fadeIn"
        });
    });

    // We need to trigger an event, in order for the lazy loading to work. The default event is scroll, which is not useful in this cace
    $(".mega-menu").on("mouseover", function () {
        $("img.lazy").trigger("menuShown");
    });
    @if(Model.Settings.EnableClickForDropdown)
    {
        <text>
        $(".mega-menu li .dropdown").siblings("a").click(function (e) {
            e.preventDefault();
        });    
        $(".mega-menu li .dropdown").click(function (e) {
            e.stopPropagation();
        });
        $(".mega-menu > li").click(function (e) {
            e.stopPropagation();
            var currentDropdown = $(this).children(".dropdown");
            $(".mega-menu li .dropdown").not(currentDropdown).filter(":visible").slideToggle("fast"); // Hides all visible dropdowns except the current one
            currentDropdown.slideToggle("fast"); // Shows current li dropdown only
        });
        $(document).click(function () {
            $(".mega-menu li .dropdown").filter(":visible").slideToggle("fast");
        });

        </text>
    }
    else{
        <text>
        $(".mega-menu > li").hover(
            function () { // HANDLER IN
                $(this).children(".dropdown").css("display", "block");
            },
            function () { // HANDLER OUT
                $(this).children(".dropdown").css("display", "none");
            }
        );
        </text>
    }

</script>

@helper RenderMegaMenu(bool isMegaMenuResponsive)
{
    
    if (Model.Settings.IncludeHomePageLink)
    {
        <li>
            <a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a>
        </li>
    }
    if (Model.Settings.EnableCategories)
    {
        if(isMegaMenuResponsive)
        {
            @Html.Action("GetCategoriesResponsive", "MegaMenu", Model.Categories)
        }
        else
        {
            @Html.Action("GetCategories", "MegaMenu", Model.Categories)
        }
    }
    if (Model.Settings.EnableManufacturers)
    {
        if (isMegaMenuResponsive)
        {
            @Html.Action("GetManufacturersResponsive", "MegaMenu", Model.Manufacturers)
        }
        else
        {
            @Html.Action("GetManufacturers", "MegaMenu", Model.Manufacturers)
        }
    }
    MvcHtmlString megaMenuTopicBlock = Html.Action("TopicBlock", "MegaMenu", new { systemName = "MegaMenuTopic" });

    if (Model.Settings.EnableMegaMenuTopic && !MvcHtmlString.IsNullOrEmpty(megaMenuTopicBlock))
    {
        <li>
            @megaMenuTopicBlock
        </li>
    }
    if (Model.Settings.IncludeMyAccountLink)
    {
        <li>
            <a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a>
        </li>
    }
    if (Model.Settings.IncludeBlogLink)
    {
        <li>
            <a href="@Url.RouteUrl("Blog")">@T("Blog")</a>
        </li>
    }
    if (Model.Settings.IncludeForumLink)
    {
        <li>
            <a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a>
        </li>
    }
        
    if (Model.Settings.IncludeAboutUsLink)
    {
        /* // Uncomment this code block if you want the About us topic to be in dropdown (and remove the <li> below).
        MvcHtmlString aboutUsTopicBlock = Html.Action("TopicBlock", "MegaMenu", new { systemName = "AboutUs" });
        
        if (!MvcHtmlString.IsNullOrEmpty(aboutUsTopicBlock) && !isMegaMenuResponsive)
        {
            <li>@aboutUsTopicBlock</li>
        }
        else
        {
            <li><a href="@Url.RouteUrl("Topic", new { SystemName = "aboutus" })">@T("AboutUs")</a></li>
        }
        */
        <li><a href="@Url.RouteUrl("Topic", new { SystemName = "aboutus" })">@T("AboutUs")</a></li>
    }
    
    if (Model.Settings.IncludeContactUsLink)
    {
        <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
    }
}