﻿@** Copyright 2013 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*@

@using Nop.Core;
@using Nop.Core.Infrastructure;
@using SevenSpikes.Nop.Plugins.QuickView.Models;
@model QuickViewModel
@{
    Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.QuickView/Styles/common.css");
    Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.QuickView/Themes/" + Model.Theme + "/Content/QuickView.css");

    var supportRtl = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Rtl;
    if (supportRtl)
    {
        Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.QuickView/Styles/common.rtl.css");
        Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.QuickView/Themes/" + Model.Theme + "/Content/QuickView.rtl.css");
    }
    
    Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.QuickView/Styles/cloud-zoom.css");
    Html.AddCssFileParts("~/Content/fancybox/jquery.fancybox-1.3.4.css");
    Html.AddCssFileParts("~/Content/fileuploader/fileuploader.css");

    Html.AddScriptParts("~/Plugins/SevenSpikes.Core/Scripts/kendo.public.min.js");
    Html.AddScriptParts("~/Plugins/SevenSpikes.Core/Scripts/SevenSpikesExtensions.js");
    Html.AddScriptParts("~/Plugins/SevenSpikes.Nop.Plugins.QuickView/Scripts/jquery.json-2.2.min.js");
    Html.AddScriptParts("~/Plugins/SevenSpikes.Nop.Plugins.QuickView/Scripts/cloud-zoom.1.0.2.min.js");
    Html.AddScriptParts("~/Plugins/SevenSpikes.Nop.Plugins.QuickView/Scripts/QuickView.min.js");
    Html.AddScriptParts("~/Scripts/jquery.fancybox-1.3.4.pack.js");
    Html.AddScriptParts("~/Scripts/fileuploader.js");
    
    
    <div class="quickViewData" data-productSelector="@Model.QuickViewSettingsModel.ProductItemSelector" 
         data-retrieveQuickViewUrl="@Url.Action("QucikViewData", "QuickViewCatalog")" 
         data-quickViewButtonText="@T("SevenSpikes.QuickView.Admin.Settings.QuickViewButtonText")" 
         data-isQuickViewPopupDraggable="@Model.QuickViewSettingsModel.MakeQuickViewPopupDraggable" 
         data-enableQuickViewPopupOverlay="@Model.QuickViewSettingsModel.EnableQuickViewPopupOverlay">
    </div>
}