﻿@model ForumGroupModel
@using Nop.Web.Models.Boards;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(Model.Name);
}
<div class="page forum-group-page">
    @Html.Action("ForumBreadcrumb", new { forumGroupId = Model.Id })

    @Html.Partial("_SearchBox")

    <div class="subcontent-wrapper">
        <div class="forum-group">
            @Html.Partial("_ForumGroup", Model)
        </div>
    </div><!--subcontent-wrapper-->
</div>
