/* GLOBAL STYLES */

.product-details-page .full-description,
.product-details-page .product-specs-box, 
.product-details-page .product-reviews-overview, 
.product-details-page .product-no-reviews,
.ui-tabs .product-specs-box .title {
    display: none;
}
.ui-tabs .product-specs-box,
.ui-tabs .product-reviews-page {
    display: block;
}

.ui-tabs .full-description {
    display: block;
    border: 0;
    margin-bottom: 0;
    padding: 0;
    color: #222;
}

/* TABS STYLES */

.productTabs {
    padding: 0;
    clear: both;
    margin: 10px 5px 0;
}
    .productTabs .ui-widget-header {
        background: rgb(252,252,252);
        background: url("images/bg-menu.jpg") repeat-x left top;
        background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(224,224,224,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(224,224,224,1)));
        background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%);
        background: -o-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%);
        background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%);
        background: linear-gradient(to bottom, rgba(252,252,252,1) 0%,rgba(224,224,224,1) 100%);
    }
.productTabs ul.ui-tabs-nav{
    border: none;
    border-bottom: 1px solid #aaa;
}
.productTabs li a {
    outline: -webkit-focus-ring-color auto 0 !important; 
}
    .productTabs .product-specs-box {
        display: block;
    }
    .productTabs .product-specs-box .title {
        padding: 0;
        margin-bottom: 10px;
    }
    .productTabs .product-specs-box .data-table {
        margin: 0;
    }
.productTabs .ui-tabs-panel {
    padding: 15px;
}
.productTabs .product-reviews-page .write-review {
    margin-top: 0;
}