﻿@model ReturnRequestListModel
@using Telerik.Web.Mvc.UI
@using System.Globalization;

@{
    var gridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;
    
    //page title
    ViewBag.Title = T("Admin.ReturnRequests").Text;
}
@using (Html.BeginForm())
{

    
  
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-sales.png")" alt="" />
        @T("Admin.ReturnRequests")
    </div>
    <div class="options">
                       

    </div>
</div>
    
    //---------------Added a Filter function for Earstore--------------
    
     @Html.NopLabelFor(model => model.searchStatus) <text>:</text>     

         <select data-val="true" id="searchStatus" name="searchStatus" class="valid"> 
                    <option selected="selected" value="All">All</option>
                    <option value="Pending">Pending</option>
                    <option value="Received">Received</option>
                    <option value="ReturnAuthorized">Return authorized</option>
             <option value="ItemsRepaired">Item(s) repaired</option>
             <option value="ItemsRefunded">Item(s) refunded</option>
             <option value="RequestRejected">Request rejected</option>
             <option value="Cancelled">Cancelled</option>
                </select> 
 <input type="button" id="search-returnRequests" class="t-button" value="@T("Admin.Common.Search")" style="visibility:hidden" />
   //---------------Added a Filter function for Earstore--------------

     
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<ReturnRequestModel>()
                    .Name("returnrequests-grid")
                    .ClientEvents(events => events
                        .OnDataBinding("onDataBinding"))
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.Id)
                            .Width(50);
                        columns.Bound(x => x.ProductName)
                            .Width(200)
                            .Template(x => Html.ActionLink(x.ProductName, "Edit", "Product", new { id = x.ProductId }, new { }))
                            .ClientTemplate("<a href=\"" + @Url.Content("~/Admin/Product/Edit/") + "<#= ProductId #>\"><#= ProductName #></a>");
                        columns.Bound(x => x.Quantity)
                            .Width(50)
                            .Centered();
                        columns.Bound(x => x.CustomerId)
                            .Width(100)
                            .Template(x => Html.ActionLink(x.CustomerInfo, "Edit", "Customer", new { id = x.CustomerId }, new { }))
                            .ClientTemplate("<a href=\"" + @Url.Content("~/Admin/Customer/Edit/") + "<#= CustomerId #>\"><#= CustomerInfo #></a>");
                        columns.Bound(x => x.OrderId)
                            .Width(50)
                            .Template(x => Html.ActionLink(T("Admin.Common.View").Text, "Edit", "Order", new { id = x.OrderId }, new { }))
                            .ClientTemplate("<a href=\""+ @Url.Content("~/Admin/Order/Edit/") + "<#= OrderId #>\">" + T("Admin.Common.View").Text + "</a>");
                        columns.Bound(x => x.CreatedOn)
                            .Width(100)
                            .Centered();
                        columns.Bound(x => x.ReturnRequestStatusStr)
                            .Width(100)
                            .Centered();
                        columns.Bound(x => x.Id)
                            .Width(50)
                            .Centered()
                            .Template(x => Html.ActionLink(T("Admin.Common.Edit").Text, "Edit", new { id = x.Id }))
                            .ClientTemplate("<a href=\"Edit/<#= Id #>\">" + T("Admin.Common.Edit").Text + "</a>")
                            .Title(T("Admin.Common.Edit").Text);
                    })
                    .Pageable(settings => settings.PageSize(gridPageSize).Position(GridPagerPosition.Both))
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("List", "ReturnRequest"))
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>
  <script type="text/javascript">
      $(document).ready(function () {

          //search button
          $('#search-returnRequests').click(function () {
              var grid = $('#returnrequests-grid').data('tGrid');
              grid.currentPage = 1; //new search. Set page size to 1   
         
              grid.ajaxRequest();          

              return false;
          });

          //automatic search when chosen category
          $("#@Html.FieldIdFor(model => model.searchStatus)").change(function (event) {
              $("#search-returnRequests").click();
              return false;
          });
      });
          function onDataBinding(e) {               
              var searchModel = {
                  SearchStatus: $('#@Html.FieldIdFor(model => model.searchStatus)').val(),                  
              };
              e.data = searchModel;
          }     

      </script>
}