﻿.filtersTitlePanel p {
    float: right !important;
}
.filtersGroupPanel a {
    text-align: right !important;
    padding-left: 0 !important;
    padding-right: 15px;
}
.clearFilterOptionsAll,
.clearFilterOptions,
.clearPriceRangeFilter {
    float: left !important;
}
.toggleControl {
    float: right !important;
}
.block .title {
    overflow: hidden;
}
.jDropDown {
	margin: 0 5px !important;
}

/* CHECKBOX MODE */

.jDropDown > div {
	background-position: 5px center !important;
	padding: 4px 4px 4px 30px !important;
}
.filtersGroupPanel.filtersDropDownPanel .jDropDown {
    margin: 0 !important;
}
.filtersGroupPanel.filtersDropDownPanel li a {
    padding: 5px 10px !important;
}
.filtersGroupPanel li a {
    padding: 5px 26px 5px 0;
}
.filtersGroupPanel li a:before {
    right: 8px;
    left: auto;
}

.filtersGroupPanel a.filterItemUnselected {
    background-position: right 2px !important;
}
.filtersGroupPanel a.filterItemSelected {
    background-position: right -18px !important;
}
.filtersGroupPanel a.filterItemSelectedDisabled {
    background-position: right -38px !important;
}
.filtersGroupPanel a.filterItemDisabled {
    background-position: right -58px !important;
}

/* PRODUCT GRID SELECTORS */

.sortOptionsDropDown div,
.productsPageSizeDropDown div,
.viewOptionsDropDown div {
    background: url("images/arrowDown.png") no-repeat 5px 5px !important;
    padding: 4px !important;
}
    .sortOptionsDropDown div p,
    .productsPageSizeDropDown div p,
    .jDropDown div p {
        text-align: right !important;
        padding: 0 4px 0 0 !important;
    }
.product-page-size .jDropDown {
    float: right;
}

/* POP UP */

.ajaxFilters .k-window-actions {
    right: inherit !important;
    left: 10px;
}

/* COLOR SQUARE ATTRIBUTES */

.colorOptions .color-container {
    right: 9px;
    left: auto;
}

/*=====================================================
    
    TABLETS LANDSCAPE & NETBOOKS

=====================================================*/

@media screen and (max-width: 980px) and (min-width: 769px) {

    .filtersGroupPanel a.filterItemUnselected,
    .filtersGroupPanel a.filterItemSelected,
    .filtersGroupPanel a.filterItemDisabled,
    .filtersGroupPanel a.filterItemSelectedDisabled {
        background-position: right center !important;
    }
    .filtersGroupPanel li a {
        padding: 10px 30px 10px 5px !important;
    }
    .filtersGroupPanel li a:before {
        right: 8px;
        left: auto !important;
    }

}




/*=====================================================
    
    TABLETS PORTRAIT & SMARTPHONES LANDSCAPE

=====================================================*/

@media screen and (max-width: 768px) and (min-width: 481px) {
    
    .filtersGroupPanel a.filterItemUnselected,
    .filtersGroupPanel a.filterItemSelected,
    .filtersGroupPanel a.filterItemDisabled,
    .filtersGroupPanel a.filterItemSelectedDisabled {
        background-position: right center !important;
    }
    .filtersGroupPanel li a {
        padding: 10px 30px 10px 5px !important;
    }
    .filtersGroupPanel li a:before {
        right: 8px;
        left: auto !important;
    }

}



/*=====================================================
    
    SMALLER MOBILE DEVICES

=====================================================*/

@media screen and (max-width: 480px) {

    .filtersGroupPanel a.filterItemUnselected,
    .filtersGroupPanel a.filterItemSelected,
    .filtersGroupPanel a.filterItemDisabled,
    .filtersGroupPanel a.filterItemSelectedDisabled {
        background-position: right center !important;
    }
    .filtersGroupPanel li a {
        padding: 10px 30px 10px 5px !important;
    }
    .filtersGroupPanel li a:before {
        right: 8px;
        left: auto !important;
    }

}