﻿/*
* Copyright 2012 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

.ajaxFilters {
    border-radius: 5px;
}
.filtersTitlePanel {
	display: none;
}
.clearFilterOptionsAll {
	float: right;
	cursor: pointer;
}
.filter-block a.toggleControl {
	cursor: pointer;
}
.filter-block a.clearFilterOptions,
.filter-block a.clearPriceRangeFilter {
	float: right;
	font: normal 11px/17px Tahoma, Geneva, sans-serif;
	text-transform: lowercase;
	color: #000;
	cursor: pointer;
}
.filter-block a.clearFilterOptions:hover {
	color: #CC0000; /*style change here*/
}
.filtersGroupPanel {
	padding: 10px 0;
}

/* PRICE RANGE SLIDER */

.priceRangeMinMaxPanel {	
    height: 30px;
	overflow: hidden;
    padding: 0 5px;
    font: normal 11px Tahoma, Geneva, sans-serif;
    color: #666;
}
.priceRangeMinPanel {
    float: left;
}
.priceRangeMaxPanel {
    float: right;
}
.ui-slider {
	position: relative;
	height: 5px;
	margin: 0 10px 15px;
	border-width: 1px;
	border-style: solid;
	border-color: #aaa #d2d2d2 #e3e3e3;
	border-radius: 3px;
    background: #ccc;   
}
.ui-slider-range {
	height: 5px;
    background: url('images/filter_foreground.png') repeat-x;
    padding: 0;
    position: absolute;
}
.ui-slider-handle {
	position: absolute;
    top: -8px !important;
	width: 24px !important;
	height: 24px !important;
	margin-left: -11px !important;
	border: none !important;
    background: url('images/scale_knob.png') no-repeat !important;
	cursor: pointer !important;
}
.priceRangeCurrentPricesPanel {
	overflow: hidden;
	font: bold 12px Tahoma, Geneva, sans-serif;
    color: #555;
}
.priceRangeCurrentPricesPanel .currentMinPrice {
    float: left;
}
.priceRangeCurrentPricesPanel .currentMaxPrice {
    float: right;
}

/* CHECKBOX MODE */

    .filtersGroupPanel ul,
    .filtersGroupPanel li {
        padding: 0;
    }
    .filtersGroupPanel li {
        margin-top: 2px;
    }
        .filtersGroupPanel li:first-child {
            margin-top: 0;
        }
    .filtersGroupPanel li a {
        display: block;
        padding: 5px 0 5px 26px;
        line-height: 1.2;
        position: relative;
        font-size: 12px !important;
    }
        .filtersGroupPanel li a:hover {
            color: #CC0000; /*style change here*/
        }
    .filtersGroupPanel li a:before {
        content: " ";
        display: inline-block;
        width: 8px;
        height: 8px;
        border: 1px solid #333;
        position: absolute;
        top: 50%;
        left: 8px;
        margin: -5px 0 0;
    }
    .filtersGroupPanel li a.filterItemSelected {
        background: #e6e6ee;
        color: #CC0000; /*style change here*/
    }
        a.filterItemSelected:before {
            background:url(../../../images/selected.png) no-repeat center;
        }
    a.filterItemSelectedDisabled:before {
        background:url(../../../images/selected.png) no-repeat center;
    }
    a.filterItemDisabled,
    a.filterItemSelectedDisabled {
        opacity: 0.4;      
        cursor: default !important;  
    }

/* COLOR SQUARE ATTRIBUTES */

.colorOptions .color-container {
    position: absolute;
    top: 50%;
    margin: -4px 0 0;
    left: 9px;
    overflow: hidden;
    width: 8px;
    height: 8px;
}
    .colorOptions .color {
        width: 8px;
        height: 8px;
        display: block;
    }
.colorOptions a.filterItemSelected .color {
	background: url('../../../images/selected.png') center no-repeat;
}
.colorOptions a.filterItemDisabled,
.colorOptions a.filterItemSelectedDisabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.colorOptions .defaultColor {
	background: -moz-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(50%, #000000), color-stop(100%, #000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%); /* IE10+ */
	background: linear-gradient(135deg, #ffffff 0%, #ffffff 50%, #000000 50%, #000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* NO RESULTS POPUP */

.ajaxFilters.k-window {
	position: absolute;
	z-index: 10001;
	height: auto !important;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px #ccc;
	background: #fff;
	padding: 1px !important;
}
.ajaxFilters .k-window-titlebar {
	margin: 0 !important;
	border-bottom: 1px solid #999;
	background: #bbb url('images/button1.png') top repeat-x;
	padding: 8px;
}
.ajaxFilters .k-window-titlebar span {
	font-size: 16px;
	color: #333;
	text-shadow: 1px 1px 0 #fff;
}
.ajaxFilters .k-window-actions {
	position: absolute;
	top: 10px;
	right: 10px;
}
.ajaxFilters .k-window-actions a {
	display: block;
}
.ajaxFilters .k-window-actions .k-icon {
	display: block;
    width: 16px;
	height: 16px;
	border: 1px solid #ccc;
	border-radius: 9px;
	background: #333 url('../../../images/button-close-hover.png') no-repeat center;
    box-shadow: 0 0 1px #999 inset;
	font-size: 0;
}
.ajaxFilters .k-window-actions .k-icon:hover {
	background: #fff url('../../../images/button-close.png') no-repeat center;
}
.ajaxFilters .k-window-content {
	min-width: inherit !important;
	min-height: inherit !important;
	background: url('../../../images/separator.png') top repeat-x;
	padding: 15px;
	line-height: 18px;
	color: #555;
}

/* PRODUCT GRID SELECTORS */

.jDropDown {
	position: relative;
	float: left;
	margin: 0 10px;
	border: 1px solid #bbb;
	border-bottom: 1px solid #ccc;
	border-radius: 3px;
	background: url('images/input1.png') repeat-x;
	text-transform: lowercase;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #444;
	cursor: pointer;
    text-align: left;
}
.product-viewmode .jDropDown {
	width: 90px;
}
.product-sorting .jDropDown {
	width: 130px;
}
.product-page-size .jDropDown {
	width: 50px;
}
.jDropDown > div {
	background:url("images/arrowDown.png") right center no-repeat;
	padding: 4px 30px 4px 4px;
	line-height: 17px;
}
.jDropDown ul {
	display: none;
	position: absolute;
	z-index: 100;
	top: 20px;
	left: -1px;
	width: 100%;
	border: 1px solid #bbb;
	border-top: 0px;
	border-radius: 0 0 5px 5px;
	background: #fff;
	padding: 3px 0;
}
.jDropDown li:hover,
.jDropDown li.selected {
	background: #eee;
	color: #333;
}
.jDropDown li {
	border-top: 1px dotted #ccc;
	font: normal 12px Tahoma, Geneva, sans-serif;
	color: #666;
	cursor: pointer;
}
.jDropDown li.selected a {
	color: #666;
}
.jDropDown li > * {
	display: block;
	padding: 4px;
	color: #555;
    cursor: pointer;
}

/* DROPDOWN MODE */

.filtersDropDownPanel {
    display: block;
}
.grid-display-options .filtersDropDownPanel {
    margin-left: 95px;
    margin-right: 0;
}
.nopAjaxFilters7Spikes .filtersDropDownPanel {
    padding-bottom: 0;
}
.grid-display-options .filtersDropDownPanel:first-child {
    margin-left: 0;
}
.filtersDropDownPanel > span {
	float: left;
	line-height: 26px;
}
.nopAjaxFilters7Spikes .filtersDropDown.jDropDown {
	float: none;
	width: 99%;
    margin-left: 0;
}
.filtersDropDown li {
	margin-top: 0px;
}
.filtersGroupPanel.filtersDropDownPanel li a {
	padding: 5px 10px;
}
.filtersDropDown a.filterItemDisabled,
.filtersDropDown a.filterItemDisabledSelected {
	display: none;
}

.filtersGroupPanel.filtersDropDownPanel li a:before {
    display: none;
}
    
/* AJAX LOADER */

.productPanelAjaxBusy {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff url('../../../images/ajaxLoader.gif') no-repeat 50% 50%;
    filter: Alpha(opacity = 70);
    opacity: 0.7;
    z-index: 2;
}



/*=====================================================
    
    TABLETS LANDSCAPE & NETBOOKS

=====================================================*/

@media screen and (max-width: 980px) and (min-width: 769px) {

    .filtersPanel:after {
	    content: ".";
	    display: block;
	    clear: both;
	    visibility: hidden;
	    line-height: 0;
	    height: 0;
        font-size: 0;
    }
    .product-selectors > div > span {
        line-height: 32px;
    }
    .product-viewmode .jDropDown {
        height: 30px;
    }
    .jDropDown > div {
        height: 22px;
        line-height: 22px;
    }
    .jDropDown ul {
        top: 28px;
    }
    .jDropDown li > * {
        padding: 9px 5px;
    }

    .priceRangeMinMaxPanel {
        height: 20px;
        padding: 0 5px;
    }
    .ui-slider {
        margin: 15px 10px;
    }
    .ui-slider-handle {
        top: -13px !important;
        height: 32px !important;
        background-position: left center !important;
    }

    .nopAjaxFilters7Spikes .block .title {
        padding: 0 5px 5px;
    }
    .block .title {
        position: relative;
        overflow: hidden;
    }
    .filter-block a.toggleControl {
        float: left;
        line-height: 32px;
    }
    .filter-block a.clearFilterOptions, .filter-block a.clearPriceRangeFilter {
        display: block;
        position: static;
        width: 42px;
        height: 32px;
        background: #eee;
        line-height: 32px;
        text-align: center;
    }

    .filtersGroupPanel li a {
        padding: 9px 0 9px 35px !important;
    }
    .filtersGroupPanel li a:before {
        width: 13px;
        height: 13px;
        left: 8px;
        margin: -8px 0 0;
    }
    .filtersGroupPanel.filtersDropDownPanel li a {
        padding: 9px 10px !important;
    }

/* COLOR SQUARES */

    .colorOptions .color-container {
        margin: -7px 0 0;
        left: 9px;
        width: 13px;
        height: 13px;
    }
    .colorOptions .color {
        width: 13px;
        height: 13px;
    }

}



/*=====================================================
    
    TABLETS PORTRAIT & SMARTPHONES LANDSCAPE

=====================================================*/

@media screen and (max-width: 768px) and (min-width: 481px) {

    .filtersPanel {
        display: block !important;
    }
        .filtersPanel:after {
	        content: ".";
	        display: block;
	        clear: both;
	        visibility: hidden;
	        line-height: 0;
	        height: 0;
            font-size: 0;
        }
    .filtersGroupPanel {
        padding: 0 15px 35px;
        display: none;
    }
        .nopAjaxFilters7Spikes .filtersDropDownPanel {
            padding: 0 15px 45px;
        }
    .filter-block a.clearPriceRangeFilter, .filter-block a.clearFilterOptions {
        position: absolute;
        bottom: 10px;
        right: 50%;
        margin-right: -27px;
        line-height: 13px;
        text-transform: uppercase;
        float: none;
        border-top: 1px dotted #ddd;
        padding: 5px 8px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 3px;
        background: url('images/button5.png') top repeat-x;
        box-shadow: inset 0 1px 0 #f6f6f6;
        color: #333;
        text-shadow: 1px 1px 0 #fff;
    }
        .filter-block a.clearPriceRangeFilter:active,
        .filter-block a.clearFilterOptions:active {
            background-position: bottom;
        }
    .nopAjaxFilters7Spikes .block .title a.toggleControl {
        background: url(images/filter_icon.png) no-repeat 97% center;
    }

    .product-selectors > div > span {
        line-height: 32px;
    }
    .product-viewmode .jDropDown {
        height: 30px;
    }
    .jDropDown > div {
        height: 22px;
        line-height: 22px;
    }
    .jDropDown ul {
        top: 28px;
    }
    .jDropDown li > * {
        padding: 9px 5px;
    }

    .priceRangeMinMaxPanel {
        height: 20px;
        padding: 0 5px;
    }
    .ui-slider {
        margin: 15px 10px;
    }
    .ui-slider-handle {
        top: -13px !important;
        height: 32px !important;
        background-position: left center !important;
    }

    .filtersGroupPanel li a {
        padding: 9px 0 9px 35px !important;
    }
    .filtersGroupPanel li a:before {
        width: 13px;
        height: 13px;
        left: 8px;
        margin: -8px 0 0;
    }
    .filtersGroupPanel.filtersDropDownPanel li a {
        padding: 9px 10px !important;
    }

/* COLOR SQUARES */

    .colorOptions .color-container {
        margin: -7px 0 0;
        left: 9px;
        width: 13px;
        height: 13px;
    }
    .colorOptions .color {
        width: 13px;
        height: 13px;
    }

/* THEME SPECIFIC */
    
    .side-2 > .block:nth-of-type(2n) {
        clear: both;
        margin: 0 1.4% 1.4% 0;
    }
    .side-2 > .block:nth-of-type(2n+1) {
        clear: none;
        margin: 0 0 1.4%;
    }
}



/*=====================================================
    
    SMALLER MOBILE DEVICES

=====================================================*/

@media screen and (max-width: 480px) {

    .filtersPanel {
        display: block !important;
    }
        .filtersPanel:after {
	        content: ".";
	        display: block;
	        clear: both;
	        visibility: hidden;
	        line-height: 0;
	        height: 0;
            font-size: 0;
        }
    .filtersGroupPanel {
        padding: 0 15px 35px;
        display: none;
    }
        .nopAjaxFilters7Spikes .filtersDropDownPanel {
            padding: 0 15px 45px;
        }
    .filter-block a.clearPriceRangeFilter, .filter-block a.clearFilterOptions {
        position: absolute;
        bottom: 10px;
        right: 50%;
        margin-right: -27px;
        line-height: 13px;
        text-transform: uppercase;
        float: none;
        border-top: 1px dotted #ddd;
        padding: 5px 8px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 3px;
        background: url('images/button5.png') top repeat-x;
        box-shadow: inset 0 1px 0 #f6f6f6;
        color: #333;
        text-shadow: 1px 1px 0 #fff;
    }
        .filter-block a.clearPriceRangeFilter:active,
        .filter-block a.clearFilterOptions:active {
            background-position: bottom;
        }
    .nopAjaxFilters7Spikes .block .title a.toggleControl {
        background: url(images/filter_icon.png) no-repeat 97% center;
    }

    .product-selectors > div > span {
        line-height: 32px;
    }
    .product-viewmode .jDropDown {
        height: 30px;
    }
    .jDropDown > div {
        height: 22px;
        line-height: 22px;
    }
    .jDropDown ul {
        top: 28px;
    }
    .jDropDown li > * {
        padding: 9px 5px;
    }

    .priceRangeMinMaxPanel {
        height: 20px;
        padding: 0 5px;
    }
    .ui-slider {
        margin: 15px 10px;
    }
    .ui-slider-handle {
        top: -13px !important;
        height: 32px !important;
        background-position: left center !important;
    }

    .filtersGroupPanel li a {
        padding: 9px 0 9px 35px !important;
    }
    .filtersGroupPanel li a:before {
        width: 13px;
        height: 13px;
        left: 8px;
        margin: -8px 0 0;
    }
    .filtersGroupPanel.filtersDropDownPanel li a {
        padding: 9px 10px !important;
    }

/* COLOR SQUARES */

    .colorOptions .color-container {
        margin: -7px 0 0;
        left: 9px;
        width: 13px;
        height: 13px;
    }
    .colorOptions .color {
        width: 13px;
        height: 13px;
    }

}