﻿@model HeaderLinksModel
@using Nop.Web.Models.Common;

<div class="header-links">
    <ul>
        @Html.Widget("header_links_before")
       


       @if (Model.ShoppingCartEnabled)
        {
            <li id="topcartlink">

               <table>
                   <tr>
                       <td>
                           <a href="@Url.RouteUrl("ShoppingCart")"> <img src="~/Themes/Beauty/Content/img/icon4.png" /> </a>

                       </td>
                       <td>

                           <a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">
                               <span class="cart-label">@T("ShoppingCart")</span>
                               <span class="cart-qty">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</span>
                           </a> &nbsp;&nbsp;&nbsp;

                           @*<input type="button" class="button-1 add-to-cart-button" value="Till Kassan">*@

                                                  

                           @*<a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">                               
                               <label style="color:red;font-size:16px">Till Kassan</label>                               
                           </a>*@

                       </td>
                   </tr>
                   <tr>
                       <td>
                       </td>
                   </tr>

               </table>
                 
                



</li>
           
        }
        <li>
            @*
            @T("SevenSpikes.Themes.Beauty.HeaderShoppingCartBox")
     @if (Model.ShoppingCartItems == 0)
    {
        <label>@T("SevenSpikes.Themes.Beauty.HeaderShoppingCartBox.NoItems")</label>
    }
    else
    {
        if (Model.ShoppingCartItems == 1)
        {
        <a href="@Url.RouteUrl("ShoppingCart")">@T("SevenSpikes.Themes.Beauty.HeaderShoppingCartBox.OneItemText")</a>
        }
        else
        {
        <a href="@Url.RouteUrl("ShoppingCart")">@T("SevenSpikes.Themes.Beauty.HeaderShoppingCartBox.SeveralItemsText", Model.ShoppingCartItems)</a>

        }

    }*@

    <br />
    @* @T("SevenSpikes.Themes.Beauty.HeaderShoppingCartBox.End")*@
        </li>

            @Html.Widget("header_links_after")


        </ul>


    </div>
