﻿@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("AdminHeaderLinks", "Common")
<div class="header-line">
    <div class="center">
        <div class="header-contacts">
            <!-- Changed resources -->
            <span class="phone">@T("SevenSpikes.Themes.Beauty.Common.HeaderContacts.Phone")</span>


            <span class="mail"><a href="javascript:AntiSpam('@T("SevenSpikes.Themes.Beauty.Common.HeaderContacts.EmailName")', '@T("SevenSpikes.Themes.Beauty.Common.HeaderContacts.EmailDomain")')">@T("SevenSpikes.Themes.Beauty.Common.HeaderContacts.EmailName") [at] @T("SevenSpikes.Themes.Beauty.Common.HeaderContacts.EmailDomain")</a></span>
            
            <span class="mail" style="background:none">
                <a href="http://www.facebook.com/earstore.se" target="_blank"><img class="facebookImage" src="/Themes/Beauty/Content/img/facebookImage28.png"> </a>
                </span>

</div>
    </div>
        
        <div class="header-links-wrapper">
            @Html.Action("HeaderLinks", "Common")     @*THIS ONE*@
            @Html.Action("FlyoutShoppingCart", "ShoppingCart")
        </div>
    </div>
</div>

<div class="master-wrapper-page">
    @Html.Action("JavaScriptDisabledWarning", "Common")
    <div class="master-wrapper-content">
        <script type="text/javascript">
            AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
        </script>


        @Html.Partial("Header")
        @{
            var menu = @Html.Widget("theme_header_menu");
        }



        <div class="header-menu">

            @if (MvcHtmlString.IsNullOrEmpty(menu))
            {

                @Html.Action("Menu", "Common")
            }
            else
            { @menu }
        </div>


        @Html.Widget("content_before")
        @*ajax loading window*@
        <div class="ajax-loading-block-window" style="display: none">
            <div class="loading-image">
            </div>
        </div>
        <div class="master-wrapper-main">
            @RenderBody()
        </div>
        @Html.Widget("content_after")
        @Html.Action("EuCookieLaw", "Common")
    </div>
</div>
@Html.Action("Footer", "Common")
@Html.Widget("body_end_html_tag_before")
