﻿@*header beginning moved here as well as the logo*@
<div class="header">
    <div class="header-logo">
        <a href="@Url.RouteUrl("HomePage")" class="logo">
            @Html.Widget("beauty_theme_logo")
        </a>@*changed*@
    </div>
    <!--header-logo-->

    <div class="header-selectors-wrapper">

        @Html.Action("TaxTypeSelector", "Common")

        @Html.Action("CurrencySelector", "Common")

        @Html.Action("LanguageSelector", "Common")

        @Html.Widget("header_selectors")
    </div>
    <!--header-selectors-wrapper-->

    <div class="search-box">
        @Html.Action("SearchBox", "Catalog")
    </div>
     
    
    
    
        @Html.Action("ShoppingCartBox", "BeautyThemeCommon") @*changed*@
   
     





        <div style="clear: both"></div>
        @*added*@
  
</div>


