﻿@model UploadProductDocumentModel
@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Ladda upp produktblad";
}

<h2>Ladda upp produktblad</h2><br />
@using (Html.BeginForm("UploadProductDocument",
                        "Product",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <label for="file">Ladda upp</label>
    <input type="file" name="file" id="file" /><br><br>
    <input type="submit" value="Ladda upp" />
    <br><br>
    
}

<b>@Model.message</b> <br><br />

<b>Existerande filer</b><br />

@using (Html.BeginForm("HandleUploadedDoc", "Product"))
{

    @*@Html.DropDownListFor("selectedFile", Model.UploadedProductDocuments, new { size = 15 })<br /><br />*@
    
    @Html.DropDownListFor(x => x.selectedFile, new SelectList(Model.UploadedProductDocuments, "Value", "Text"), new { size = 15, style = "width: 350px;" }) <br /><br />


    <button name="button" type="submit" value="Ladda ner">Ladda ner</button> <text>&nbsp; &nbsp; &nbsp; &nbsp;</text>
    <button name="button" type="submit" value="Ta bort" onclick="return confirm('Filen raderas permanent. Är du säker?')">Ta bort</button><br /><br />

}


   
Länken blir alltså  www.earstore.se/content/uppladdadeProduktblad/[filnamnet] <br />
där [filnamnet] är det filnamn och ändelse som visas i listan ovan.
<br /><b>Exempel url-länk: www.earstore.se/content/uppladdadeProduktblad/someJPG.jpg</b><br />
