﻿@model FooterModel
@using Nop.Web.Models.Common;
@using Nop.Core.Infrastructure;
@{
    var themeSettings = EngineContext.Current.Resolve<SevenSpikes.Theme.Beauty.Domain.BeautyThemeSettings>(); // changed
    var facebookUrl = themeSettings.FacebookUrl; // changed
    var twitterUrl = themeSettings.TwitterUrl; // changed
    var removeCopyright = themeSettings.RemoveCopyright;

    var workingLanguageId = EngineContext.Current.Resolve<Nop.Core.IWorkContext>().WorkingLanguage.Id;
}
<div class="footer">
    <div class="center">
        <div class="upper-area">
            <div class="footlist footer-contacts">
                <h3 class="title">
                    @T("SevenSpikes.Themes.Beauty.Common.ConnectWithUs")</h3> @*changed*@
                <ul>
                    <li class="phone">
                        @T("SevenSpikes.Themes.Beauty.Common.ConnectWithUs.Phone")</li> @*changed*@
                   @* <li class="mobile">
                        @T("SevenSpikes.Themes.Beauty.Common.ConnectWithUs.Mobile")</li> *@@*changed*@
                    <li class="email">
                        @T("SevenSpikes.Themes.Beauty.Common.ConnectWithUs.Email")</li> @*changed*@
                </ul>
            </div>
            <div class="footlist">
                <h3 class="title">@T("SevenSpikes.Themes.Beauty.Common.SomeInformation")</h3> @*changed*@
                <ul>
                    <li><a href="@Url.RouteUrl("Topic", new { SystemName = "privacyinfo" })">@T("PrivacyNotice")</a></li> 
                    <li><a href="@Url.RouteUrl("Topic", new { SystemName = "conditionsofUse" })">@T("ConditionsOfUse")</a></li>
                    <li><a href="@Url.RouteUrl("Topic", new { SystemName = "SecurePayment" })">@T("SevenSpikes.Themes.Beauty.Common.SomeInformation.SecurePayment")</a></li> @*changed*@
                </ul>
            </div>
            <div class="footlist">
                <h3 class="title">@T("SevenSpikes.Themes.Beauty.Common.ShippingAndReturns")</h3> @*changed*@
                <ul>
                    <li><a href="@Url.RouteUrl("Topic", new { SystemName = "InternationalShipping" })">@T("SevenSpikes.Themes.Beauty.Common.ShippingAndReturns.InternationalShipping")</a></li> @*changed*@
                    <li><a href="@Url.RouteUrl("Topic", new { SystemName = "shippinginfo" })">@T("ShippingReturns")</a></li>
                    <li><a href="@Url.RouteUrl("Topic", new { SystemName = "DeliveryInformation" })">@T("SevenSpikes.Themes.Beauty.Common.ShippingAndReturns.DeliveryInformation")</a></li> @*changed*@
                </ul>
            </div>
            <div class="footlist">
                <h3 class="title">@T("SevenSpikes.Themes.Beauty.Common.ServiceAndSupport")</h3> @*changed*@
                <ul>
                    <li><a href="@Url.RouteUrl("Topic", new { SystemName = "Support" })">@T("SevenSpikes.Themes.Beauty.Common.ServiceAndSupport.CustomerAssistance")</a></li> @*changed*@
                    <li><a href="@Url.RouteUrl("Topic", new { SystemName = "FAQ" })">@T("SevenSpikes.Themes.Beauty.Common.ServiceAndSupport.FAQ")</a></li> @*changed*@
                    <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a> </li>
                </ul>
            </div>
        </div>
        <div class="lower-area">

            @Html.Action("NewsletterBox", "Newsletter")


            @*
            <div class="footbox social">
                <h3 class="title">@T("SevenSpikes.Themes.Beauty.Common.FollowUs")</h3>
                @if (!String.IsNullOrEmpty(facebookUrl))
                {
                    <a href="@facebookUrl" class="facebook" target="_blank"></a>
                }
                @if (!String.IsNullOrEmpty(twitterUrl))
                {
                    <a href="@twitterUrl" class="twitter" target="_blank"></a>
                }
                <a  class="rss" href="@Url.RouteUrl("BlogRSS", new { languageId = workingLanguageId })"></a>
            </div>
            *@

            <div class="footbox facebook">

                <table>
                    <tr>
                        <td>
                            <a href="http://www.facebook.com/earstore.se" target="_blank"><img class="facebookImageLarge" src="/Themes/Beauty/Content/img/facebookImage55.png"> </a>
                        </td>
                        <td>
                            <div class="facebookText">


                                <a href="http://www.facebook.com/earstore.se" target="_blank" style="color:#F5F5F5">

                                    Följ oss på Facebook för nyheter och <br />
                                    intressant information om hörsel

                                </a>

                            </div>


                        </td>
                    </tr>

                </table>

            </div>





            @*moved here*@
            <div class="footbox pay-options">
                @*<div>
                    <a href="http://www.facebook.com"> <img src="/Themes/Beauty/Content/img/facebook_logo_detail.gif" alt="" height="30"></a>
                </div>*@

                <h3 class="title">@T("SevenSpikes.Themes.Beauty.Common.PaymentOptions")</h3> @*changed*@


                <img src="@Url.Content("~/Themes/Beauty/Content/img/earstoreCreditCards.png")" alt="" height=" 30" />
                @*<img src="@Url.Content("~/Themes/Beauty/Content/img/earstorePaymentMethodImage.png")" height=" 30" alt="" />*@


                @* <img src="@Url.Content("~/Themes/Beauty/Content/img/pay_icon3.png")" alt="" />
                <img src="@Url.Content("~/Themes/Beauty/Content/img/pay_icon4.png")" alt="" />
                <img src="@Url.Content("~/Themes/Beauty/Content/img/pay_icon5.png")" alt="" />
                <img src="@Url.Content("~/Themes/Beauty/Content/img/pay_icon6.png")" alt="" />*@
            </div>

        </div>
    </div>
</div>
<div class="bottomline">
    <div class="center">
        <span class="footer-disclaimer">@T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), Model.StoreName)</span>
        @if(!removeCopyright)
        {
            <span class="footer-poweredby">Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a></span>
        }
        <div class="footer-storetheme">@Html.Action("StoreThemeSelector", "Common")
        </div>
        @Html.Action("ChangeDeviceBlock", "Common")
    </div>
        @Html.Widget("footer")
</div>
