﻿/*
* Copyright 2013 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

/* DROPDOWN */

.mega-menu-responsive, .mega-menu-title {
    display: none;
}
.mega-menu .dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    background: url('images/shadow2.png') top repeat-x;
    background: url('images/shadow2.png') top repeat-x, url('images/boxpad3.png') bottom repeat-x;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 3px 3px #666;
    padding: 4px;
    border-radius: 5px;
}
    .mega-menu .dropdown.fullWidth {
        left: 0;
        width: 972px;
        margin-left: 0;
        border-radius: 5px;
    }

/* ROWS AND BOXES */

.mega-menu .row {
	overflow: hidden;
	width: 100%;
	border-spacing: 10px 5px;
}
    .mega-menu .row .box {
	    float: left;
        margin-left: 1px;
    }
        .mega-menu .row .box:first-child {
            margin-left:0;
        }
.mega-menu .categories .box {
    width: 242px;
    min-height: 165px;
    padding-bottom: 15px;
}
.mega-menu .manufacturers .box {
    width: 242px;
}
.mega-menu .manufacturers.fullWidth .box{
    width: 161px;
}
.mega-menu .box > ul {
    padding: 10px;
}
.mega-menu .title {
    display: block;
    background: #e6e6ee url('images/shadow2.png') top repeat-x;
    padding: 10px 15px 8px;
     /*change text font style here*/ 
    /*font: normal normal 16px/20px 'avantgarde';*/
     font: normal normal 16px/20px Verdana, Geneva, sans-serif;
    color: #444;
    text-shadow: 1px 1px 0 #fff;
    text-transform: capitalize;
    border-bottom: 1px solid #ddd;
}
    .mega-menu .title strong {
        font-weight: normal;
    }
    .mega-menu .title a {
        display: block;
        color: #444;
    }
        .mega-menu .title a:hover {
            color: #CC0000; /*style change here*/
        }
.mega-menu .box li a {
    display: block;
    padding: 5px 5px 5px 15px;
    font: normal normal 12px Tahoma, Geneva, sans-serif;
    color: #666 !important;
    text-shadow: 1px 1px 0 #fff;
    border-radius: 0;
    background: url('images/arrow1.png') 6px center no-repeat;
}
.mega-menu .box li:hover a {
    background: url('images/arrow2.png') 7px center no-repeat;
    color: #CC0000 !important;
}
.mega-menu a.view-all {
    color: #eee !important;
    font-weight: bold !important;
}
    .mega-menu .row .title {
        background-image: none;
        margin-bottom: 10px;
        padding: 5px 10px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ccc;
    }
.mega-menu .picture {
    float: left;
}
    .mega-menu .picture img {
        border-width: 0px;
    }
    .mega-menu .picture a {
        display: block;
        width: 90px;
        height: 90px;
        overflow: hidden;
    }
.mega-menu .box .subcategories {
    margin: 0 0 0 100px;
}
.mega-menu .row ul {
    padding: 0;
    border: none;
    box-shadow: none;
}
.mega-menu .manufacturer span {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}
.mega-menu li a.manufacturer {
    text-align: center;
}
.mega-menu .manufacturers.fullWidth li a.manufacturer {
    padding: 0 !important;
    background: none !important;
}
.mega-menu .topic-wrapper {
    overflow: hidden;
    padding: 0 8px;
}
    .mega-menu .topic-wrapper p {
        margin-bottom: 10px;
        padding: 10px 8px;
        font: normal normal 11px/18px Tahoma, Geneva, sans-serif;
    }
    .mega-menu .topic-wrapper strong {
        display: block;
        margin-bottom: -4px;
        padding: 10px 0;
         /*change text font style here*/ 
        /*font: normal normal 16px/20px 'avantgarde';*/
         font: normal normal 16px/20px Verdana, Geneva, sans-serif;
        color: #444;
        text-shadow: 1px 1px 0 #fff;
        text-transform: capitalize;
        border-bottom: 1px dotted #ccc;
    }



/*=====================================================
    
    TABLETS PORTRAIT & SMARTPHONES LANDSCAPE

=====================================================*/

@media screen and (max-width: 768px) and (min-width: 481px) {

    .mega-menu {
        display: none;
    }

}



/*=====================================================
    
    SMALLER MOBILE DEVICES

=====================================================*/

@media screen and (max-width: 480px) {

    .mega-menu {
        display: none;
    }

}