﻿@model BlogPostListModel
@using Nop.Web;
@using Nop.Web.Extensions;
@using Nop.Web.Models.Blogs;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Blog").Text);
}
@section left {
    @Html.Action("BlogMonths", "Blog")
    @Html.Action("BlogTags", "Blog")
}
<div class="page blog-page">
    <div class="page-title">
        <a href="@Url.RouteUrl("BlogRSS", new { languageId = Model.WorkingLanguageId })" class="link-rss"></a>
        <h1>
            @if (String.IsNullOrEmpty(Model.PagingFilteringContext.Tag))
            {
                if (Model.PagingFilteringContext.GetParsedMonth().HasValue)
                {
                @String.Format(T("Blog.FilteredByMonth").Text, Model.PagingFilteringContext.GetParsedMonth().Value.Year, Model.PagingFilteringContext.GetParsedMonth().Value.ToString("MMMM"));
                }
                else
                {
                @T("Blog")
                }
            }
            else
            {
                @String.Format(T("Blog.TaggedWith").Text, Model.PagingFilteringContext.Tag);
            }
        </h1>
    </div>
    <div class="page-body">
        @Html.Widget("bloglist_page_before_posts")
        <div class="blog-posts">
            @foreach (var item in Model.BlogPosts)
            {
                <div class="post">
                    <div class="post-head">
                        <a class="post-title" href="@Url.RouteUrl("BlogPost", new { SeName = item.SeName })">@item.Title</a>
                        <span class="post-date">-@item.CreatedOn.ToString("D")</span>
                    </div>
                    <!--blog-title-->
                    <div class="post-body">
                        @Html.Raw(item.Body)
                    </div>
                    <div class="blog-footer">

                        @if (item.Tags.Count > 0)
                        {
                            <div class="tags">
                                <label>@T("Blog.Tags"):</label>
                                <ul>
                                    @for (int i = 0; i < item.Tags.Count; i++)
                                    {
                                        var tag = item.Tags[i];
                                        <li><a href="@Url.RouteUrl("BlogByTag", new { tag = tag })">@tag</a></li>
                                        if (i != item.Tags.Count - 1)
                                        {
                                        <li class="separator">,</li>
                                        }
                                    }
                                </ul>
                            </div>
                        }

                        @if (item.AllowComments)
                        {
                        <div class="blog-details">
                            <a href="@Url.RouteUrl("BlogPost", new { SeName = item.SeName })">
                                    @string.Format(T("Blog.CommentsLink").Text, item.NumberOfComments)
                                </a>
                            </div>
                        }
                    </div>
                    @Html.Widget("bloglist_page_inside_post")
                </div>
            }
        </div>
        @if (Model.PagingFilteringContext.TotalPages > 1)
        {
            <div class="pager">
                <div>
                    @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
                </div>
                <div class="corner"></div>
            </div>
        }
        @Html.Widget("bloglist_page_after_posts")
    </div>
</div>
