﻿span.search-box-text {
    float: right !important;
    margin: 0 0 0 5px !important;
}
.search-box-button {
    float: right !important;
}
.instant-search-busy {
    background-position: left center !important;
}

/* AUTOCOMPLETE */

.instant-search-item .img-block {
    float: right !important;
}
.instant-search-item .detail {
    float: left !important;
    text-align: right !important;
}