﻿/*=====================================================
    
    SMALLER MOBILE DEVICES

=====================================================*/

@media screen and (max-width: 480px) {
      
/* HEADER */

    .sub-category-grid .title a,
    .home-page-category-grid .title a,
    .header-links-wrapper .header-links {
        text-align: center;
    }
    .header-contacts > *,
    .header-links-wrapper .header-links ul {
        display: inline-block;
        float: none !important;
    }
    .header-logo {
        margin-top: -10px !important;
    }
    .menu-title span {
        padding: 0 3% 0 0 !important;
        background-position: 3% center !important;
    }

/* HEADER MENU */

    .header-menu ul li {
        float: none !important;
    }
    .top-menu > li,
    .mega-menu > li {
        padding: 0 !important;
    }
    .top-menu li,
    .mega-menu li,
    .top-menu > li:first-child > a,
    .mega-menu > li:first-child > a,
    .top-menu > li:first-child,
    .mega-menu > li:first-child,
    .top-menu > li:last-child > a,
    .mega-menu > li:last-child > a,
    .top-menu > li:last-child,
    .mega-menu > li:last-child {
        border-radius: 0 !important;
    }
    .header-menu ul li a,
    .header-menu ul li div span,
    .header-menu ul li div span a {
        text-align: right !important;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	    box-sizing: border-box;
    }    
    .header-menu > ul > li > a, 
    .header-menu > ul > li > div > a, 
    .header-menu > ul > li > div > span {
        padding: 0 4.34153400868307% 0 0;
    }
	.dropdown > ul > li > a,
	.dropdown > ul > li > div > a {
		padding: 0 7.34153400868307% 0 0;
	}
    .inner-dropdown > ul > li > a {
        padding: 0 9.34153400868307% 0 0;
    }
    .header-menu > ul .plus-button {
        right: auto !important;
        left: 0;
        border-left: 0 !important;
        border-right: 1px solid #c2c2c2;
    }
    .new_select .activeSelect {
        background: url("../img/rtl-responsive-select_btn1.png") no-repeat left top !important;
        padding: 0 5px 0 30px !important;
    }
    .new_select .activeSelect:hover {
        background-position: left bottom !important;
    }

/* PRODUCT DETAILS PAGE */

    .product-tags-list li.separator {
        line-height: 32px;
    }
    .product-details-page .gallery,
    .product-details-page .overview {
        width: 100% !important;
    }
    .product-variant-list .variant-picture {
        float: none !important;
        width: auto;
    }
    .variant-picture + .variant-overview {
        margin: 0 !important;
    }
    .product-details-page .variant-name {
        padding: 0 !important;
    }
    .product-details-page .picture {
        width: 80%;
    }
    .product-details-page .picture-thumbs a {
        width: 32%;
        margin: 2% 2% 2% 0 !important;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	    box-sizing: border-box;
    }
    .product-details-page .picture-thumbs a:nth-child(3n+1) {
        margin-right: 0 !important;
    }
    .product-filters,
    .product-filters ul,
    .product-details-page .add-info > * {
        display: block;
        float: none !important;
        margin: 0 0 10px 0 !important;
    }
    .product-details-page .add-info > input {
        display: inline-block;
    }
    .order-line .prices,
    .order-line .add-to-cart,
    .order-line .add-to-cart .quantity {
        float: none !important;
        margin: 0 0 10px 0 !important;
        overflow: hidden;
    }
    .order-line .add-to-cart .quantity > * {
        display: inline-block;
        float: none !important;
    }
    .order-line .add-to-cart .qty-label {
        line-height: normal;
    }
    .order-line .add-to-cart .qty-input {
        padding: 0 !important;
    }

/* ACCOUNT & REGISTER */

    .registration-page .inputs select + select,
    .account-page .inputs select + select {
        margin-top: 10px !important;
    }
    .registration-page .inputs,
    .customer-info-page .inputs {
        position: relative;
    }
    .registration-page .inputs #username-availabilty,
    .customer-info-page .inputs #username-availabilty {
        float: left;
        margin-top: 5px;
    }
    .account-page .buttons,
    .registration-page .buttons {
        text-align: center !important;
    }
    .account-page .address-item .info,
    .account-page .order-item .info,
    .account-page .address-item .buttons,
    .account-page .order-item .buttons,
    .account-page .add-button {
        float: none !important;
        text-align: center !important;
    }
    
/* LOGIN & PASSWORD RECOVERY */

    .login-page input[type="submit"],
    .login-page input[type="button"] {
        margin-top: 10px;
    }
    .login-page .forgot-password {
        display: block;
        margin: 8px 0 0 0;
    }
    .login-page .forgot-password a {
        margin: 0 !important;
    }
    .login-page .inputs.reversed {
        padding: 0 !important;
    }
    .password-recovery-page label {
        margin-right: 0 !important;
        text-align: right !important;
    }

/* TABLES */

    .cart th:first-child,
    .data-table th:first-child {
        border-left: 1px dotted #fff !important;
    }
    .cart td:first-child,
    .data-table td:first-child {
        border-left: 1px dotted #ccc !important;
    }
    .compare-products-table-mobile td,
    .compare-products-table-mobile td div {
        position: static !important;
        padding: 10px !important;
        text-align: center !important;
    }
        .compare-products-table-mobile td:first-child a,
        .compare-products-table-mobile td div input.remove-button {
            display: inline-block;
        }
    .compare-products-table-mobile td:before {
        content: "" !important;
    }

/* BLOCKS */

    .side-2,
    .center-2 {
        float: none !important;
        width: 100% !important;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	    box-sizing: border-box;
    }
    .side-2 .block {
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	    box-sizing: border-box;
    }
    .block .title strong,
    .block .title a.toggleControl {
        padding: 0 10px 0 35px;
        height: 46px;
        background-position: 3% center !important;
    }
    .block .list li a,
    .block .list li.active > a,
    .block .list li .sublist a,
    .block .list li.active > .sublist li.active a {
        background-position: 97% center !important;
    }
    .block .list li:hover > a,
    .block .list li .sublist li:hover a {
        background: #eee url('../img/rtl-arrow2.png') 97% center no-repeat !important;
    }

/* MISC */

    .item-box *,
    .product-details-page .add-info {
        text-align: center !important;
    }
    .news-list-homepage .title {
        text-align: center;
    }
    .giftcard label {
        margin-right: 10px;
        width: auto;
    }
    .home-page-product-grid .product-title {
        max-height: 30px;
    }
    .contact-page .inputs *,
    .email-a-friend-page .inputs *,
    .contact-page .contact-us-button {
        margin: 0 !important;
    }
    .ui-tabs .ui-tabs-nav li {
        padding: 0 !important;
    }

/* CATEGORY */

    .manufacturer-list-page .manufacturer-grid .item-box {
        width: 100%;
        margin: 0 0 2% 0 !important;
    }
    .manufacturer-list-page .manufacturer-grid .manufacturer-item .title {
        margin-bottom: 0 !important;
    }
    .manufacturer-list-page .manufacturer-grid .manufacturer-item .title a {
        display: block;
        padding: 8px 0;
        height: 100%;
    }
    .manufacturer-list-page .manufacturer-grid .manufacturer-item .picture {
        display: none;
    }

/* SHOPPING CART */

    .cart-footer > *,
    .cart-footer .cart-collaterals > * {
        float: none !important;
        width: 100% !important;
        max-width: 100% !important;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	    box-sizing: border-box;
    }
    .cart-collaterals .shipping-options .inputs input[type="submit"].estimate-shipping-button {
        display: inline-block;
        float: none !important;
    }

/* EXTERNAL PAYMENT */

    .order-summary-content .addon-buttons {
        text-align: center;
        margin: 0 0 30px;
    }

/* CHECKOUT */

    .order-progress ul {
        width: 100%;
    }
    .order-progress ul li {
        float: none !important;
    }
    .wishlist-page .buttons,
    .checkout-page .common-buttons {
        text-align: center !important;
    }
    .checkout-page .common-buttons > * {
        margin: 5px 0 !important;
    }

/* SEARCH */

    .search-page .search-results .item-box .prices {
        overflow: hidden;
    }
    .search-page .product-list .picture,
    .search-page .product-list .prices > *,
    .search-page .product-list .details .add-info .buttons {
        float: none !important;
    }
    .search-page .product-list .details {
        margin: 0 !important;
    }

/* COMPARE */

    .compare-products-page .page-title {
        margin-bottom: 50px !important;
    }

/* PRODUCT REVIEW */

    .write-review .inputs > *,
    .write-review .review-rating > * {
        float: none !important;
    }
    .write-review .button-1 {
        padding: 10px !important;
    }
    .review-item-head .review-title {
        float: right;
    }
    .review-item-head .product-review-box {
        float: left;
    }
    
/* WISHLIST */

    .wishlist-page .page-title {
        text-align: center !important;
    }
    .wishlist-page .common-buttons > *{
        margin: 0 4px 10px 4px !important;
    }
    .wishlist-page .common-buttons input {
        display: inline-block;
        float: none !important;
    }
    .wishlist-page .common-buttons input:last-child {
        margin-left: 0 !important;
    }

/* SITEMAP */

    .sitemap-page .entity {
        float: right;
        width: 100%;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	    box-sizing: border-box;
    }
    .sitemap-page .entity .entity-body ul li {
        padding-left: 0 !important;
        padding-right: 10px;
    }
    .sitemap-page .entity .entity-body ul li a {
        padding-left: 0 !important;
        padding-right: 10px;
        background: url('../img/rtl-arrow2.png') right center no-repeat;
        text-align: right;
    }

/* UI DIALOGS */

    .ui-dialog-titlebar span {
        line-height: 26px;
    }
    .ui-dialog-titlebar button {
        text-indent: -9999px;
    }

/* FOOTER */

    .footer .footlist,
    .footer .footlist:first-child {
        margin: 0 0 2% 0 !important;
        width: 100% !important;
    }
    .footer .footbox.social,
    .footer .footbox.pay-options {
        float: none !important;
        margin: 0 auto 15px auto !important;
    }
    .footer-poweredby,    
    .footer-disclaimer {
        float: none !important;
    }
    .footer-contacts .email,
    .footer-contacts .phone,
    .footer-contacts .mobile {
        padding: 0 !important;
    }

}