﻿/*=====================================================
    
    SMALLER MOBILE DEVICES

=====================================================*/

@media screen and (max-width: 480px) {
	
    input[type="text"],
    input[type="password"] {
        padding: 5px;
        height: 32px;
        line-height: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .inputs input[type="text"],
    .inputs input[type="password"] {
        width: 93%;
        max-width: 312px;
    }
    .inputs {
        text-align: center;
        padding: .3% 0 !important;
        position: relative;
        width: 90%;
        margin: 0 auto;
    }
    .inputs textarea {
        width: 90%;
        max-width: 300px;
    }
    select {
        height: 32px;
        max-width: 94%;
    }
    .data-table a {
        display: inline-block;
    }

    .master-wrapper-content {
	    position: relative;
    }
    .side-2, .center-2 {
	    width: auto;
	    float: none;
	    margin-left: 0;
	    margin-right: 0;
    }
    .center-2 {
        text-align: center;
    }
    .master-wrapper-page,
    .footer .center,
    .bottomline .center {
	    width: 90%;
    }
    .login-page,
    .account-page,
    .checkout-page,
    .wishlist-page,
    .password-recovery-page,
    .compare-products-page,
    .product-reviews-page,
    .contact-page,
    .email-a-friend-page,
    .sitemap-page {
        text-align: center;
    }
    .topic-html-content-title {
        text-align: center;
    }
    .page-title {
        text-align: center;
        display: block;
    }
    .page-title .title {
        display: inline-block;
    }
    .page-title h1,
    .topic-html-content-header {
        float: none;
        font-size: 24px;
        display: inline-block;
    }
    .link-rss {
        display: none;
    }    
    .news-list-page .read-more,
    .news-list-homepage .read-more {
        float: none;
        margin: 0;
        padding: 10px 20px;
        height: 30px;
        line-height: 30px;
    }
    
/* BAR NOTIFICATION */
    
    .bar-notification {
	    height: 37px;
	    line-height: 37px;
    }
    .bar-notification .close {
        width: 32px;
        height: 32px;
        margin: 2px 5px;
    }
    .bar-notification a {
        display: inline-block;
        line-height: 32px;
    }
    .bar-notification .content {
        font-size: 11px;
    }

    /* Eearstore 2.0 added */
    
    .popup-cart-notif {
	    height: 37px;
	    line-height: 37px;
    }
    .popup-cart-notif .close {
        width: 32px;
        height: 32px;
        margin: 2px 5px;
    }
    .popup-cart-notif a {
        display: inline-block;
        line-height: 32px;
    }
    .popup-cart-notif .content {
        font-size: 11px;
    }

      /* Eearstore 2.0 added */

/* HEADER */

.admin-header-links {
    position: static;
    left: inherit;
    top: inherit;
}
    .admin-header-links a {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 1px 0;
        line-height: 32px;
        background: #666;
    }
        .admin-header-links a:hover {
            background: #999;
        }
    .header-line {
        height: auto;
        min-height: 67px;
        background: url(../img/responsive-headerline-top.png) repeat-x left top, url(../img/responsive-headerline-bottom.png) repeat-x left bottom, #fdfdfd;
    }
    .header-line .center {
        width: 100%;
    }
    .header-line .center > div {
	    display: inline-block;
	    width: 100%;
    }
    .header-links-wrapper {
        float: none;
    }
    .header-contacts {
	    float: none;
	    margin-right: 0;
	    font: italic 11px/32px Arial, Helvetica, sans-serif;
	    text-align: center;
    }
    .header-contacts .phone {
	    float: none;
    }
    .header-contacts .mail {
	    display: inline-block;
	    float: none;
    }
    .header-contacts .mail a {
	    display: inline-block;
	    background-position: left 0;
    }
    .header-contacts .mail a:hover {
	    background-position: left -35px;
    }
             .header-contacts .facebookImage { 
        margin-bottom: -10px   !important;            
        margin-left: -20px !important;

     }

        .header-links ul {
            text-align: center;
        }
    .header-links ul li:first-child {
	    margin: 0;
    }
    .header-links li {
	    display: inline-block;
	    float: none;
	    margin-left: 5px;
    }
    .header-links li a {
	    display: inline-block;
    }
    .header-links li a.ico-wishlist {
        display: none;
    }

    .flyout-cart,
    .header-basket {
	    display: none !important;
    }

    .header-selectors-wrapper {
	    display: block !important;
	    float: none;
	    width: 100%;
	    max-width: 100%;
	    text-align: center;
        margin-top: 5px;
    }
    .header-selectors-wrapper > div {
        display: block;
        float: none;
        margin: 0 0 10px;
    }
    .header-selectors-wrapper > div > div {
        display: inline-block;
    }
    .header-selectors-wrapper > div:last-child {
	    margin: 0;
    }

    .language-list li,
    .language-list li:first-child {
        margin: 0;
    }
    .language-list a {
        width: 32px;
        height: 32px;
    }

    .new_select {
	    width: 150px !important;
	    border-radius: 3px;
	    background: url("../img/responsive-select1.png") repeat-x;
    }
    .new_select .passiveSelect,
    .new_select .activeSelect {
	    height: 25px;
	    background: url("../img/responsive-select_btn1.png") right top no-repeat;
	    padding: 0 30px 0 5px;
	    font: italic 15px/25px 'kepler_b';	
    }
        .new_select .styleSelect_item {
            top: 22px !important;
        }
        .new_select .styleSelect_item_content {
            min-width: 149px;
            border-radius: 0 0 5px 5px;
            border: 1px solid #999;
            border-top: 0;
        }
            .new_select ul {
                padding: 0;
            }
            .new_select li {
                padding: 9px;
            }

    .header {
        padding: 90px 0 0px 0;
        min-height: 100px;
	    text-align: center;
	    overflow: visible;
    }
    .header-logo {
	    float: none;
	    margin-bottom: 15px;
	    text-align: center;
    }
    .header-logo a {
	    display: inline-block;
        width: 100%;
    }
    .header-logo a img {
	    max-width: 100%;
    }
    .search-box {
	    position: static;
	    width: 220px;
        margin: 0 auto 20px auto;
    }
    input.search-box-text {
	    width: 187px !important;
        height: 33px;
    }
        .ui-autocomplete.ui-menu.ui-widget.ui-widget-content {
            width: 62.3% !important;
            border-radius: 5px;
        }
            .ui-autocomplete.ui-menu.ui-widget.ui-widget-content img {
                display: none;
            }

/* HEADER MENU */

    .header-menu {
        background: #b2b2b2;
        border-radius: 5px;
        overflow: hidden;    
    }
    .header-menu .menu-title {
        display: block;
        background: url('../img/responsive-navpad.png') top repeat-x;
        border-radius: 5px;
    }
        .header-menu > ul > li .dropdown {
            display: none;
        }
        .menu-title span {
            background: url("../img/responsive-nav-icon.png") no-repeat 97% center;
            color: #333;
            display: block;
            font: 24px/56px Tahoma,Geneva,sans-serif;
            text-transform: uppercase;
            padding: 0 0 0 2.89435600578871%;
            cursor: pointer;
            text-shadow: -1px -1px 0 #fff;
        }
    .header-menu > ul > li {
	     float: none;
	     background: #b2b2b2;
	     padding-right: 0;
    }
    .header-menu > ul > li:last-child {
	    border-radius: 0 0 5px 5px;
    }
    .header-menu > ul .nav-item-wrapper {
        -webkit-transition: background .1s ease-in-out;
        -moz-transition: background .1s ease-in-out;
        -o-transition: background .1s ease-in-out;
        transition: background .1s ease-in-out;
        position: relative;
    }
        .header-menu > ul .nav-item-wrapper:active {
            background: #c9c9c9;
        }
    .header-menu > ul .nav-item-wrapper:after {
        content: ".";
	    display: block;
	    clear: both;
	    visibility: hidden;
	    line-height: 0;
	    height: 0;
    }
    .header-menu > ul > li > a,
    .header-menu > ul > li > div > a,
    .header-menu > ul > li > div > span {
	    background: url('../img/responsive-navpad.png') top repeat-x;
	    text-align: center;
	    font: normal 16px/55px Tahoma, Geneva, sans-serif;
	    -webkit-transition: color .07s ease-in-out;
	    -moz-transition: color .07s ease-in-out;
	    -o-transition: color .07s ease-in-out;
	    transition: color .07s ease-in-out;
        padding: 0 0 0 4.34153400868307%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        text-align: left;
        border-top: 1px solid #c2c2c2;
        color: #333;
    }
    .header-menu > ul > li > a:hover {
	    background: url('../img/responsive-navpad.png') bottom repeat-x;
    }
    .header-menu > ul > li:first-child > a {
        border-radius: 0;
    }
    .header-menu > ul > li:last-child > a {
        border-radius: 0 0 5px 5px;
    }
    .header-menu > ul > li:hover > a {
        box-shadow: none;
    }
    .header-menu > ul > li > div > a,
    .header-menu > ul > li > div > span {
        float: left;
        width: 100%;
        font: normal normal 16px/56px Tahoma, Geneva, sans-serif;
        display: block;
        color: #444;
        text-transform: uppercase;
        text-shadow: -1px -1px 0 #fff;
    }
    .header-menu > ul > li > div > span {
        cursor: default;
    }
    .header-menu > ul > li > div > a:hover {
        color: #CC0000; /*style change here*/
    }
    .header-menu > ul .plus-button {
        position: absolute;
        top: 0;
        right: 0;
        border-left: 1px solid #a3a3a3;
        width: 56px;
        height: 56px;
        background: url('../img/responsive-plus.png') no-repeat center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
        -webkit-transition: background .1s ease-in-out;
        -moz-transition: background .1s ease-in-out;
        -o-transition: background .1s ease-in-out;
        transition: background .1s ease-in-out;
    }
	.header-menu > ul .plus-button:active {
		background: #c9c9c9 url('../img/responsive-plus.png') no-repeat center;
	}
    .header-menu > ul .plus-button.close {
        background: url('../img/responsive-minus.png') no-repeat center;
    }
	.header-menu > ul .plus-button.close:active {
		background: #c9c9c9 url('../img/responsive-minus.png') no-repeat center;
	}
    .dropdown > ul > li {
        border-top: 1px solid #a3a3a3;
		background-color: #d2d2d2;
    }
	.dropdown > ul > li > a,
	.dropdown > ul > li > div > a {
		padding: 0 0 0 7.34153400868307%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		text-align: left;
		width: 100%;
		font: normal normal 16px/56px Tahoma, Geneva, sans-serif;
		display: block;
		color: #555;
		text-transform: uppercase;
        text-shadow: -1px -1px 0 #fff;
	}
	.dropdown > ul > li > a:hover,
	.dropdown > ul > li > div > a:hover {
		background-color: #d9d9d9;
	}
    .inner-dropdown > ul > li {
        border-top: 1px solid #a3a3a3;
        background-color: #e2e2e2;
    }
    .inner-dropdown > ul > li > a {
        padding: 0 0 0 9.34153400868307%;
		text-transform: none;
    }
	.inner-dropdown > ul > li > a:hover {
		background-color: #efefef;
        text-shadow: -1px -1px 0 #fff;
    }

/* ITEM GRID & CATEGORY PAGE */    

    .breadcrumb {
	    padding: 0;
    }
    .breadcrumb li a,
    .breadcrumb li strong {
	    display: inline-block;
	    padding: 7px 3px;
	    font-size: 13px;
    }

    .product-filters .title,
    .product-filters .filter-title {
        text-align: center;
    }
    .product-viewmode,
    .product-page-size {
	    display: none;
    }
    .product-selectors > div {
	    margin: 0 0 10px;
        float: none;
    }
        .product-selectors > div > * {
            float: none !important;
            display: inline-block;
        }
    .product-filters li.item {
	    float: none;
        margin: 0;
    }
        .product-filters li.item a {
            display: block;
            text-align: center;
            line-height: 24px;
        }
    .category-title, .grid-title,
    .product-grid .title {
        text-align: center;
    }
    .category-title .title,
    .grid-title strong,
    .product-grid .title strong {
        font-size: 26px;
        display: inline-block;
    }
    .product-grid .item-grid,
    .product-list .item-grid {
	    border-radius: 5px 5px 0 0;
    }
    .product-grid .item-box {
        max-height: 442px;
        height: auto;
    }
    .item-box,
    .shopping-cart-page .cross-sells .item-box {
	    float: none;
	    width: auto;
	    margin: 0 0 10px !important;
	    padding: 3%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
        .item-box .picture a {
            width: 100%;
            display: block;
            text-align: center;
        }
    .item-box .picture img {
        vertical-align: inherit;
    }
    .category-page .item-box .picture img {
        vertical-align: middle;
    }
    .product-grid .item-box .picture {
        width: 100%;
        line-height: inherit;
    }
    .rating {
        margin: 0 auto 5px;
    }
    .item-box .add-info {
         /*height: 88px;*/ /*lookhere smaller element for removing buttons*/
        height: 28px;
    }
    .item-box input[type="button"],
    .item-box .buynow-button {
	    padding: 10px 0;
    }
    .bestsellers .item-box {
	    width: auto;
    }
    .sub-category-grid .item-box {
	    width: auto;
	    margin: 0 0 10px;
	    padding: 2%;
        height: auto;
    }
    .home-page-category-grid .item-box {
        width: 100%;
        margin: 0 0 14px !important;
        padding: 0 1.5%;
        height: auto;
        border: 10px solid #ddd;
    }
    .sub-category-grid .title,
    .home-page-category-grid .title {
	    margin: 0;
	    border-radius: 5px;
        padding: 0;
    }
    .sub-category-grid .title a,
    .home-page-category-grid .title a {
	    padding: 8px 10px;
        display: block;
        text-align: center;
    }
    .home-page-category-grid .category-title {
        margin: 0;
    }
    .home-page-category-grid .category-title a {
        display: block;
        line-height: 32px;
    }
    .sub-category-grid .picture,
    .home-page-category-grid .picture {
	    display: none;
    }

    .pager div {
	    overflow: hidden;
    }
    .pager li,
    .pager li:first-child {
	    margin: 0 5px 10px;
    }
    .pager a, .pager span {
	    padding: 7px 11px;
    }

/* HOMEPAGE PRODUCT GRID RESPONSIVE TRICK */

    .home-page-product-grid .item-box {
        position: relative;
        width: auto;
        height: auto;
        overflow: hidden;
    }
    .home-page-product-grid .item-box:before{
	    content: "";
	    display: block;
	    padding-top: 100%; 	/* initial ratio of 1:1*/
    }
    .home-page-product-grid .item-box .item-content {
	    position:  absolute;
	    top: 8%;
	    left: 0;
	    bottom: 0;
	    right: 0;
        text-align: center;
    }
    .home-page-product-grid .picture {
        margin: 0 0 10px;
        line-height: inherit;
        width: 50%;
        height: auto;
        display: inline-block;
    }
    .home-page-product-grid .product-title {
        font-size: 12px;
    }

/* BLOCKS */

    .block {
        position: relative;
        padding: 0;
    }
    .block .title {
        border-width: 0;
        border-radius: 5px 5px 0 0;
        background: none;
        box-shadow: 0;
        padding: 0;
    }
    .block .title strong,
    .block .title a.toggleControl {
        display: block;
        padding: 0 35px 0 10px;
        height: 46px;
        line-height: 46px;
        overflow: hidden;
        width: 100%;
        border: none;
        box-shadow: none;
        font-size: 13px;
        cursor: pointer;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	    box-sizing: border-box;
        background: url(../img/responsive-toggle.png) no-repeat 97% center;
    }
    .block .listbox {
        display: none;
        border-top: 1px solid #eee;
        margin: 0 15px 15px;
    }
    .block .list li a {
	    padding: 12px 0 12px 20px;
    }
    .block-popular-tags a,
    .block-popular-blogtags a {
	    line-height: 28px;
    }
    .vote-poll-button {
	    padding: 8px 23px;
    }

/* PRODUCT PAGE */

    .gallery {
	    float: none;
	    width: auto;
	    text-align: center;
    }
    .gallery .picture {
	    display: inline-block;
	    width: 100%;
	    max-width: 300px;
    }
    .gallery .picture img {
	    max-width: 100%;
    }
    .gallery .picture-thumbs {
	    width: 100%;
	    max-width: 336px;
	    margin: 0 auto;
    }
    .gallery .picture-thumbs a {
	    display: inline-block;
	    float: none;
	    width: 73px;
	    height: 73px;
	    margin: 10px 0 0;
        line-height: 70px;
    }
    .gallery .picture-thumbs a img {
	    max-width: 100%;
    }
    .product-details-page .overview {
	    float: none;
	    width: auto;
	    margin: 0 0 20px;
    }
    .product-details-page .product-name h1, 
    .product-details-page .variant-name,
    .product-grid .title {
	    font-size: 22px;
    }
    .product-details-page .manufacturers {
	    line-height: 32px;
    }
    .product-details-page .add-info > * {
	    float: none;
	    margin: 0 0 10px;
    }
    .add-to-wishlist-button,
    .add-to-compare-list-button {
	    padding: 8px 12px;
	    font-size: 12px;
    }
        .email-a-friend-button {
            height: 32px;
        }
    .order-line > *,
    .order-line .prices > * {
        float: none;
        text-align: center;
    }
    .order-line .prices {
	    margin: 0 0 10px;
        line-height: 24px;
    }
        .order-line .product-price {
            margin: 0;
        }
    .add-to-cart * {
        float: none !important;
    }
    .add-to-cart .quantity {
        float: none;
        margin: 0 0 10px;
        text-align: center;
    }
    .add-to-cart .add-to-cart-button {
	    padding: 10px 32px;
    }
    .add-to-cart .qty-label {
	    margin: 0 5px 0 0;
	    font-size: 12px;
	    line-height: 45px;
    }
    .add-to-cart .qty-input {
	    margin: 0;
	    padding: 10px;
    }

    .product-tags-list li a {
        display: inline-block;
        line-height: 32px;
    }

    .product-variant-line .variant-picture {
        float: none;
        margin: 0 auto 10px;
    }
    .product-variant-line .variant-overview {
	    width: 100%;
    }
    .variant-picture + .variant-overview {
        clear: both;
    }

/* ATTRIBUTES & COLOR SQUARES */

    .attributes select {
        max-width: 100%;
    }
    .attributes label {
	    display: inline-block;
	    line-height: 32px;
	    cursor: pointer;
    }
    .color-squares li {
        margin-left: 3px;
    }
    .color-squares li:first-child {
        margin-left: 0;
    }
    .color-squares label {
        line-height: 28px;
    }
    .color-squares .color {
        width: 28px;
        height: 28px;
    }

/* SEARCH PAGE */

    .basic-search input[type="text"] {
	    width: 80%;
    }
    .search-input .inputs {
        text-align: center;
    }
    .search-input .inputs label {
	    margin: 0 0 5px;
	    text-align: center;
        width: 100%;
    }
    .search-input .inputs.reversed label {
	    display: inline-block;
	    line-height: 33px;
    }
    .advanced-search .inputs {
	    padding-left: 0;
    }
    .advanced-search .inputs select {
	    max-width: 100%;
    }
    .search-input input[type="submit"] {
	    padding: 12px 36px;
    }
    .search-page .product-list .picture {
	    float: none;
    }
    .search-page .product-list .details {
	    margin: 0;
    }
    .advanced-search .price-range {
	    max-width: 90%;
        display: block;
        margin: 0 auto;
    }
    .advanced-search .price-range > * {
	    margin: 0 auto 5px !important;
        display: block;
        width: 100px !important;
    }
    .search-results .item-box input[type="button"],
    .search-results .item-box .buynow-button {
        display: inline-block;
    }

/* GIFTCARD */

    .giftcard label {
        line-height: 32px;
    }
    .giftcard input[type="text"],
	.giftcard textarea {
        padding: 3px;
        line-height: 32px;
        max-width: 95%;
    }
    .giftcard input[type="text"] {
        height: 32px;
    }

/* REGISTRATION PAGE */

    .registration-page .title, 
    .login-page .title, 
    .account-page .title, 
    .return-request-page .title {
        text-align: center;
    }
    .registration-result-page {
        text-align: center;
    }
    .registration-result-page .result {
        padding: 20px 10px;
        float: none;
    }

/* LOGIN PAGE */

    .registration-page .buttons,
	.registration-result-page .buttons,
	.login-page .buttons,
	.account-page .buttons,
	.account-page .add-button {
        margin-top: 10px;
        text-align: center !important;
        float: none;
    }
    .login-page input[type="button"].checkout-as-guest-button {
        margin-bottom: 10px;
        float: none;
    }
    .login-page .inputs.reversed {
        padding-left: 3px;
    }
    .inputs label {
        margin-bottom: 5px;
    }
    .login-page input[type=text],
	.login-page input[type="password"] {
        width: 90%;
        max-width: 300px;
    }
    .registration-page input[type="submit"],
	.registration-result-page input[type="button"],
	.login-page input[type="submit"],
	.login-page input[type="button"],
	.account-page .button-1,
	.password-recovery-page .button-1 {
        padding: 12px;
        width: 100%;
        max-width: 180px;
        font-size: 14px;
    }
    .login-page .inputs.reversed label {
        line-height: 32px;
    }
    .forgot-password {
        display: block;
        margin: 5px 0;
        text-align: center;
    }
    .external-authentication fieldset.facebook-login-block {
        float: none !important;
    }

/* MY ACCOUNT */

    #check-availability-button {
        margin: 10px 0 0;
        padding: 10px;
    }
    .registration-page .inputs label, .account-page .inputs label {
        margin: 0 0 5px;
        width: 100%;
    }
    .account-page .button-2 {
        padding: 12px 20px;
        font-size: 14px;
        margin: 0 5px 10px;
    }
    .account-page input[type=file] {
        padding: 10px;
    }
    .registration-page select, .account-page select {
        min-width: inherit;
        margin: 0 0 5px;
        width: 93%;
        max-width: 312px;
    }
    .account-page .address-item .info, .account-page .order-item .info,
    .account-page .address-item .buttons, .account-page .order-item .buttons {
        float: none;
        text-align: center;
    }
    .inputs .required {
        position: absolute;
        top: 25px;
        right: 0px;
    }
    .avatar-page .image {
        float: none;
        border: 1px solid #ccc;
        display: inline-block;
        margin-bottom: 10px;
        max-width: 100%;
    }
    .avatar-page .upload-avatar-button {
        margin-bottom: 10px;
    }

/* SHOPPING CART */
    
    .shopping-cart-page .page-title {
        display: block;
    }
    .order-progress li {
        width: 60px;
        margin-bottom: 5px;
    }
        .order-progress li a {
            font-size: 11px;
        }
    .wishlist-page .buttons,
	.checkout-page .common-buttons {
        text-align: center;
    }
    .wishlist-page .buttons input[type="button"],
	.wishlist-page .buttons input[type="submit"],
	.checkout-page .common-buttons input[type="submit"] {
        margin: 10px 0;
        padding: 10px;
    }
    .cart-footer {
        text-align: center;
    }
    .cart-footer .totals {
        width: 100%;
        max-width: 220px;
        float: none;
        display: inline-block;
    }
    .cart-footer .checkout-button {
        padding: 10px;
        width: 160px;
    }
    .cart-collaterals {
        width: auto;
        display: inline-block;
        float: none;
    }
    .cart-collaterals .deals {
        float: none;
        width: 90%;
        margin-right: 0;
        display: inline-block;
    }
        .cart-collaterals .coupon-box,
		.cart-collaterals .giftcard-box,
		.cart-collaterals .shipping {
            padding: 3% 6%;
        }
    .cart-collaterals .shipping {
        float: none;
        width: auto;
    }
    .cart-collaterals input[type="text"] {
        margin: 5px 0;
    }
        .cart-collaterals input[type="submit"] {
            padding: 8px 10px;
        }
    .cart-collaterals .shipping-options select,
    .cart-collaterals .shipping-options .zip-input {
        width: 90% !important;
    }
        .cart-collaterals .estimate-shipping-button {
            float: none;
        }

/* EXTERNAL PAYMENT */

    .order-summary-content .addon-buttons {
        text-align: center;
        margin: 0 0 20px 0;
        float: none;
        width: auto;
    }

/* CHECKOUT PAGE */

    .checkout-page .page-title {
        display: block;
    }
    .address-grid .address-item {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }
    .checkout-data input[type="submit"],
	.checkout-data input[type="button"] {
        padding: 10px;
        font-size: 13px;
        float: none;
    }
    .checkout-data input[name=nextstep] {
        padding: 10px 25px !important;
    }
    .checkout-page select {
        max-width: 300px;
        width: 90%;
    }
    .order-review-data ul {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #ddd;
        border-radius: 5px;
        background: #f6f6f6;
        margin: 0 0 5px;
        padding: 10px;
    }
    .order-review-data li.title {
        margin: 0;
    }
    .checkout-data .section .title {
        font-size: 16px;
    }
    .order-completed a {
        line-height: 32px;
    }
    .checkout-data .buttons {
        text-align: center !important;
        padding: 20px 10px;
    }
    .order-details-page .button-1 {
        padding: 10px 20px;
    }
    .order-details-page .page-title {
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
    }
    .order-details-page .page-title h1 {
        display: inline-block;
        padding-left: 50px;
    }
    .order-details-page .print-order-button, 
    .order-details-page .pdf-order-button {
        top: auto;
        bottom: -42px;
        margin-top: 0;
        right: 50%;
        margin-right: 10px;
    }
    .order-details-page .pdf-order-button {
        margin-right: -95px;
    }
    .order-details-page .button-2 {
        padding: 9px 20px;
    }
    .order-details-area td {
        float: left;
        padding: 10px;
        vertical-align: top;
        display: block;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
    }
    .order-details-page .actions input[type=button] {
        vertical-align: middle;
        display: block;
        margin: 0 auto;
    }
    .order-details-page .cart-total {
        width: 220px;
        margin: 0 auto;
    }
    .order-details-page .cart-total td:first-child {
        text-align: right;
        max-width: none;
        width: auto;
    }
    .order-details-page .cart-total-right {
        text-align: left;
    }

    .shipment-details-page {
        text-align: center;
    }
    .shipment-overview ul {
        margin: 0 0 15px;
        width: 100%;
        text-align: center;
    }

/* OPC */

    .opc .step-title {
        padding: 5px;
        text-align: left;
    }
    .opc .step-title * {
        float: none;
        margin: 0;
        display: inline-block;
    }
    .opc li .step-title * {
        font-size: 14px;
    }
    .opc .active .step-title * {
        font-size: 20px;
    }
    .opc .checkout-data, .opc .buttons {
        padding: 2%;
    }

/* EU COOKIE LAW & TERMS OF SERVICE */

    [aria-describedby="dialog-eu-cookie-law"],
    [aria-describedby="terms-of-service-warning-box"] {
        width: 100% !important;
        left: 0 !important;
        margin-left: 0 !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }
    [aria-describedby="dialog-eu-cookie-law"] button {
        padding: 7px 21px;
    }
    [aria-describedby="dialog-eu-cookie-law"] .ui-dialog-titlebar button,
    [aria-describedby="terms-of-service-warning-box"] .ui-dialog-titlebar button {
        padding: 12px;
    }

/* FANCYBOX */

    #fancybox-wrap {
        width: 100% !important;
        left: 0 !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }
    #fancybox-outer,
    #fancybox-content {
        width: auto !important;
    }

/* COMPARE LIST */

    .compare-products-page .page-title {
        margin-bottom: 50px;
    }
    .compare-products-page .page-body {
        position: relative;
    }
    .compare-products-page .clear-list {
        padding: 7px 14px;
        top: -42px;
        right: 50%;
        left: auto;
        margin-right: -40px;
    }
    .compare-products-page input[type="button"] {
        padding: 9px 18px;
    }

/* PASSWORD RECOVERY */

    .password-recovery-page label {
        text-align: center;
        width: 100% !important;
    }
    .password-recovery-page .buttons {
        text-align: center;
    }

/* PRODUCT REVIEWS PAGE */

    .write-review input[type="text"],
	.write-review textarea {
        width: 90% !important;
        max-width: 428px;
    }
    .review-rating > label {
        margin-bottom: 5px;
        width: 100%;        
    }
    .review-rating ul {
        position: relative;
        padding: 0;
        width: 100%;
        text-align: center;
        font-size: 11px;
    }
    .write-review .review-rating li {
        display: inline-block;
        padding-top: 20px;
    }
    .write-review .review-rating li.first {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
    }
    .write-review .review-rating li.last {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
    }
    .write-review .review-rating li input {
        width: 32px;
        height: 32px;
    }
    .write-review .buttons {
        text-align: center;
    }
    .write-review .buttons .button-1 {
        height: 32px;
    }

/* CONTACT PAGE */

    .contact-page .inputs, 
    .email-a-friend-page .inputs,
    .contact-page .buttons,
    .email-a-friend-page .buttons {
        padding: .3% 0;
    }
    .contact-page input[type="submit"],
	.email-a-friend-page input[type="submit"] {
        padding: 10px 24px;
    }
    .contact-page .input-box,
    .contact-page label,
    .email-a-friend-page .input-box, 
    .email-a-friend-page label {
        float: none !important;
    }
    .contact-page .input-box,
    .email-a-friend-page .input-box {
        margin-right: 0;
    }
    .contact-page textarea,
    .email-a-friend-page textarea {
        width: 93%;
        max-width: 485px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }

/* RETURN REQUEST PAGE */

    .return-request-page td:last-child {
        text-align: left !important;
    }
    .return-request-page .inputs label {
        width: 100%;
        margin-bottom: 5px;
    }
    .return-request-page textarea {
        width: 100%;
        max-width: 485px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;    
    }
    .return-request-page .buttons {
        text-align: center;
    }
    .return-request-page .button-1 {
        max-width: 185px;
        width: 100%;
        padding: 10px 5px;
        font-size: 14px;
    }

/* SITEMAP */

    .sitemap-page .entity {
        float: none;
        padding: 0;
        display: inline-block;
    }
    .sitemap-page .entity > * {
        padding: 10px;
    }
    .sitemap-page li {
        padding-left: 10px;
        -webkit-transition: background .1s ease-in-out;
        -moz-transition: background .1s ease-in-out;
        -o-transition: background .1s ease-in-out;
        transition: background .1s ease-in-out;
    }
    .sitemap-page a {
        line-height: 32px;
        display: block;
        text-align: left;
        -webkit-transition: background .1s ease-in-out;
        -moz-transition: background .1s ease-in-out;
        -o-transition: background .1s ease-in-out;
        transition: background .1s ease-in-out;
    }
    .sitemap-page li:active,
    .sitemap-page li:hover {
        background: #eee;
    }

/* FOOTER */

    .footer .footlist {
	    float: none;
	    width: 60%;
	    margin: 0 auto 15px !important;
	    text-align: center;
    }
    .footer .footlist li {
	    background: none;
	    font-size: 12px;
        background: 0;
    }
    .footer .footlist a {
	    display: inline-block;
	    padding: 7px 0 7px 10px;
	    font-size: 12px;
	    line-height: 13px;
    }
    .footer-contacts li {
        padding: 4px 0 3px 27px
    } 
    .footer .footbox {
	    float: none !important;
	    margin: 0 auto 15px !important;
    }
    .footer .footbox.newsletter {
	    width: 100%;
	    text-align: center;
    }
    input.newsletter-text {
	    width: 180px;
        height: 28px;
        padding: 3px;
    }
    .footer-contacts li {
        padding-left: 0;
    }
    .newsletter-subscribe-block {
	    display: inline-block;
        min-width: 218px;
    }
    .footer .footbox.pay-options {
	    width: 100%;
	    text-align: center;
    }
    .footer .footbox.pay-options img {
	    width: 14%;
	    max-width: 48px;
	    margin-right: 3px;
    }
    .footer .footbox.social {
	    width: 100%;
	    text-align: center;
    }
    .footer .footbox h3 {
	    text-align: center;
    }
    .bottomline {
	    height: auto;
	    max-height: 115px;
	    background: url('../img/responsive-bottom.png') top repeat-x;
	    text-align: center;
	    color: #bbb;
    }
    .bottomline .center span {
	    display: block;
	    float: none;
        font-size: 9px;
        line-height: 26px;
    }
    .footer-storetheme {
	    clear: both;
	    width: auto;
    }
    .footer-storetheme select {
	    color: #ccc;
    }

}