﻿/*=====================================================
    
    TABLETS PORTRAIT & SMARTPHONES LANDSCAPE

=====================================================*/

@media screen and (max-width: 768px) and (min-width: 481px) {

    input[type="text"], input[type="password"] {
        padding: 5px;
        height: 20px;
        line-height: 20px;
    }
    select {
        height: 32px;
        max-width: 100%;
    }
    .data-table a {
        display: inline-block;
    }
    .link-rss {
        display: none;
    }
    .master-wrapper-page,
    .footer .center,
    .bottomline .center {
	    width: 90%;
    }
    .page-title h1,
    .topic-html-content-header {
        float: none;
        font-size: 32px;
    }
    .master-wrapper-content {
	    position: relative;
    }
    .center-2,  .side-2 {
	    float: none !important;
	    width: auto;
    }
    .side-2:after {
	    content: ".";
	    display: block;
	    clear: both;
	    visibility: hidden;
	    line-height: 0;
	    height: 0;
        font-size: 0;
    }

/* Fix for Error and validation messages */
    .inputs {
        display: inline-block;
        position: relative;
        text-align: center;
    }    
    .inputs .message-error,
    .inputs .field-validation-error,
    .inputs .not-available-status,
    .inputs .password-error {
        display: block;
    }
    .inputs .required {
        position: absolute;
        top: 15px;
        right: -10px;
    }
    .registration-result-page,
    .page-title,
    .form-fields,
    .checkout-page .enter-address,
    .edit-address {
        text-align: center;
    }
    .edit-address .inputs .required,
    .account-page .inputs .required,
    .registration-page .inputs .required,
    .password-recovery-page .inputs .required {
        right: auto;
    }
    .cart-footer .shipping .required {
        top: 0;
    }
    .inputs span[data-valmsg-for="DateOfBirthDay"],
    .inputs span[data-valmsg-for="DateOfBirthMonth"],
    .inputs span[data-valmsg-for="DateOfBirthYear"] {
        display: none;
    }
    .search-input .inputs {
        display: block;
    }
    /* end */
    
/* BAR NOTIFICATION */
    
    .bar-notification {
	    height: 37px;
	    line-height: 37px;
    }
    .bar-notification .close {
        width: 32px;
        height: 32px;
        margin: 2px 5px;
    }
    .bar-notification a {
        display: inline-block;
        line-height: 32px;
    }

    /* Earstore 2.0 added */
    
    .popup-cart-notif {
	    height: 37px;
	    line-height: 37px;
    }
    .popup-cart-notif .close {
        width: 32px;
        height: 32px;
        margin: 2px 5px;
    }
    .popup-cart-notif a {
        display: inline-block;
        line-height: 32px;
    }

     /* Earstore 2.0 added */

/* HEADER */

    .admin-header-links {
        position: static;
        left: inherit;
        top: inherit;
    }
        .admin-header-links a {
            width: 100%;
            text-align: center;
            padding: 0;
            margin: 1px 0;
            line-height: 32px;
            background: #666;
        }
            .admin-header-links a:hover {
                background: #999;
            }
    .header-line {
        height: auto;
        min-height: 67px;
        margin-bottom: 20px;
        background: url(../img/responsive-headerline-top.png) repeat-x left top, url(../img/responsive-headerline-bottom.png) repeat-x left bottom, #fdfdfd;
    }
    .header-line .center {
        width: 100%;
    }
    .header-line .center > div {
	    display: inline-block;
	    width: 100%;
    }
    .header-links-wrapper {
        float: none;
    }
    .header-contacts {
	    float: none;
	    margin-right: 0;
	    font: italic 12px/32px Arial, Helvetica, sans-serif;
	    text-align: center;
    }
    .header-contacts .phone {
	    float: none;
    }
    .header-contacts .mail {
	    display: inline-block;
	    float: none;
    }
    .header-contacts .mail a {
	    display: inline-block;
	    background-position: left 0;
    }
    .header-contacts .mail a:hover {
	    background-position: left -35px;
    }

         .header-contacts .facebookImage { 
        margin-bottom: -10px   !important;            
        margin-left: -20px !important;

     }


        .header-links ul {
            text-align: center;
        }
    .header-links ul li:first-child {
	    margin: 0;
    }
    .header-links li {
	    display: inline-block;
	    float: none;
	    margin-left: 5px;
    }
    .header-links li a {
	    display: inline-block;
    }

    .flyout-cart,
    .header-basket {
	    display: none !important;
    }

    .header {
        padding: 65px 0 20px;
        min-height: 80px;
        text-align: center;
        overflow: visible;
    }

    .header-logo {
	    float: none !important;
	    margin-bottom: 15px;
	    text-align: center;
    }
    .header-logo a {
        display: inline-block;
        max-width: 100%;
    }
    .header-logo a img {
        max-width: 100%;
    }
    .header-selectors-wrapper {
        display: block !important;
        float: none;
        width: 100%;
        max-width: 100%;
        text-align: center;
        top: 0;
    }
    .header-selectors-wrapper > div {
	    display: block;
	    float: none;
        margin: 0;
    }

    .language-list {
        max-width: 100%;
    }
    .language-list li,
    .language-list li:first-child {
        margin: 0;
    }
    .language-list a {
        width: 32px;
        height: 32px;
    }

    .new_select {
	    width: 150px !important;
        margin: 0 auto 10px;
	    border-radius: 3px;
	    background: url("../img/responsive-select1.png") repeat-x;
    }
    .new_select .passiveSelect,
    .new_select .activeSelect {
	    height: 25px;
	    background: url("../img/responsive-select_btn1.png") no-repeat right top;
	    padding: 0 30px 0 5px;
	    font: italic 15px/25px 'kepler_b';	
    }
    .new_select .styleSelect_item {
        top: 22px !important;
    }
    .new_select .styleSelect_item_content {
        min-width: 149px;
        border-radius: 0 0 5px 5px;
        border: 1px solid #999;
        border-top: 0;
    }
        .new_select ul {
            padding: 0;
        }
        .new_select li {
            padding: 9px;
        }

    .search-box {
	    display: inline-block;
	    position: static;
    }
    input.search-box-text {
	    width: 334px;
        height: 21px;
    }
        .ui-autocomplete.ui-menu.ui-widget.ui-widget-content {
            width: 372px !important;
            border-radius: 5px;
        }

/* HEADER MENU */

    .header-menu {
        margin: 0 auto 35px auto;
        width: 80%;
        background: #b2b2b2;
        border-radius: 5px;
        overflow: hidden;    
    }
    .header-menu .menu-title {
        display: block;
        background: url('../img/responsive-navpad.png') top repeat-x;
        border-radius: 5px;
    }
        .header-menu > ul > li .dropdown {
            display: none;
        }
        .menu-title span {
            background: url("../img/responsive-nav-icon.png") no-repeat 97% center;
            color: #333;
            display: block;
            font: 24px/56px Tahoma,Geneva,sans-serif;
            text-transform: uppercase;
            padding: 0 0 0 2.89435600578871%;
            cursor: pointer;
            text-shadow: -1px -1px 0 #fff;
        }
    .header-menu > ul > li {
	     float: none;
	     background: #b2b2b2;
	     padding-right: 0;
    }
    .header-menu > ul > li:last-child {
	    border-radius: 0 0 5px 5px;
    }
    .header-menu > ul .nav-item-wrapper {
        -webkit-transition: background .1s ease-in-out;
        -moz-transition: background .1s ease-in-out;
        -o-transition: background .1s ease-in-out;
        transition: background .1s ease-in-out;
        position: relative;
    }
        .header-menu > ul .nav-item-wrapper:active {
            background: #c9c9c9;
        }
    .header-menu > ul .nav-item-wrapper:after {
        content: ".";
	    display: block;
	    clear: both;
	    visibility: hidden;
	    line-height: 0;
	    height: 0;
    }
    .header-menu > ul > li > a,
    .header-menu > ul > li > div > a,
    .header-menu > ul > li > div > span {
	    background: url('../img/responsive-navpad.png') top repeat-x;
	    text-align: center;
	    font: normal 16px/56px Tahoma, Geneva, sans-serif;
	    -webkit-transition: color .07s ease-in-out;
	    -moz-transition: color .07s ease-in-out;
	    -o-transition: color .07s ease-in-out;
	    transition: color .07s ease-in-out;
        padding: 0 0 0 4.34153400868307%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        text-align: left;
        border-top: 1px solid #c2c2c2;
        color: #333;
    }
    .header-menu > ul > li > a:hover {
	    background: url('../img/responsive-navpad.png') bottom repeat-x;
    }
    .header-menu > ul > li:first-child > a {
        border-radius: 0;
    }
    .header-menu > ul > li:last-child > a {
        border-radius: 0 0 5px 5px;
    }
    .header-menu > ul > li:hover > a {
        box-shadow: none;
    }
    .header-menu > ul > li > div > a,
    .header-menu > ul > li > div > span {
        float: left;
        width: 100%;
        display: block;
        color: #444;
        text-transform: uppercase;
        text-shadow: -1px -1px 0 #fff;
    }
    .header-menu > ul > li > div > span {
        cursor: default;
    }
    .header-menu > ul > li > div > a:hover {
        color: #CC0000; /*style change here*/
    }
    .header-menu > ul .plus-button {
        position: absolute;
        top: 0;
        right: 0;
        border-left: 1px solid #a3a3a3;
        width: 56px;
        height: 56px;
        background: url('../img/responsive-plus.png') no-repeat center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
        -webkit-transition: background .1s ease-in-out;
        -moz-transition: background .1s ease-in-out;
        -o-transition: background .1s ease-in-out;
        transition: background .1s ease-in-out;
    }
	.header-menu > ul .plus-button:active {
		background: #c9c9c9 url('../img/responsive-plus.png') no-repeat center;
	}
    .header-menu > ul .plus-button.close {
        background: url('../img/responsive-minus.png') no-repeat center;
    }
	.header-menu > ul .plus-button.close:active {
		background: #c9c9c9 url('../img/responsive-minus.png') no-repeat center;
	}
    .dropdown > ul > li {
        border-top: 1px solid #a3a3a3;
		background-color: #d2d2d2;
    }
	.dropdown > ul > li > a,
	.dropdown > ul > li > div > a {
		padding: 0 0 0 7.34153400868307%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		text-align: left;
		width: 100%;
		font: normal normal 16px/56px Tahoma, Geneva, sans-serif;
		display: block;
		color: #555;
		text-transform: uppercase;
        text-shadow: -1px -1px 0 #fff;
	}
	.dropdown > ul > li > a:hover,
	.dropdown > ul > li > div > a:hover {
		background-color: #d9d9d9;
	}
    .inner-dropdown > ul > li {
        border-top: 1px solid #a3a3a3;
        background-color: #e2e2e2;
    }
    .inner-dropdown > ul > li > a {
        padding: 0 0 0 9.34153400868307%;
		text-transform: none;
    }
	.inner-dropdown > ul > li > a:hover {
		background-color: #efefef;
        text-shadow: -1px -1px 0 #fff;
    }
    
/* ITEM GRID & CATEGORY PAGE */    
    
    .breadcrumb {
	    padding: 0;
    }
    .breadcrumb li a, 
    .breadcrumb li strong {
	    display: inline-block;
	    padding: 7px 3px;
	    font-size: 13px;
    }
    
    .product-selectors > div {
	    width: 100%;
	    margin-right: 0;
	    text-align: center;
    }
    .product-selectors > div > * {
	    display: inline-block;
        float: none;
    }
    .product-page-size,
    .product-viewmode {
	    display: none;
    }
    .product-filters li.item {
	    float: none;
        margin: 0;
    }
        .product-filters li.item a {
            display: block;
            text-align: center;
            line-height: 24px;
        }

    .sub-category-grid .item-grid, .product-grid .item-grid {
        padding: 0;
    }
    .product-grid .item-box {
        max-height: 440px;
        height: auto;
    }
    .item-box,
    .shopping-cart-page .cross-sells .item-box {
	    width: 48.5%;
	    margin: 0 .75% 1.5%;
	    padding: 1.5%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .product-grid .item-box .picture {
        width: 100%;
    }
    .item-box .add-info {
         /*height: 88px;*/ /*lookhere smaller element for removing buttons*/
        height: 28px; 
    }
    .item-box input[type="button"],
    .item-box .buynow-button {
	    padding: 10px 0;
    }
    .sub-category-grid .item-box {
        height: auto;
    }
    .home-page-product-grid .picture a {
        width: 100%;
        max-width: 278px;
    }
    .bestsellers .item-box, .sub-category-grid .item-box {
        width: 47.828%;
        margin: 0 1% 10px;
    }
    .home-page-category-grid .item-box {
        width: 48%;
        margin: 0 1% 14px !important;
        padding: 0 1.5%;
        height: auto;
        border: 10px solid #ddd;
    }
    .home-page-product-grid .item-box {
        width: 380px;
        height: 380px;
        float: none;
        margin: 0 auto 20px !important;
    }
    .sub-category-grid .title,
    .home-page-category-grid .title {
	    margin: 0;
	    border-radius: 5px;
        padding: 0;
    }
    .sub-category-grid .title a,
    .home-page-category-grid .title a {
	    padding: 8px 10px;
        display: block;
    }
    .home-page-category-grid .category-title {
        margin: 0;
    }
    .home-page-category-grid .category-title a {
        display: block;
        line-height: 32px;
    }
    .sub-category-grid .picture,
    .home-page-category-grid .picture {
	    display: none;
    }

    .pager a, .pager span {
	    padding: 7px 11px;
    }

/* BLOCKS */

    .block {
        position: relative;
        float: left;
        width: 49.3%;
        margin: 0 0 1.4%;
        padding: 0;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	    box-sizing: border-box;
    }
    .block:nth-of-type(2n+1) {
        clear: both;
        margin: 0 1.4% 1.4% 0;
    }
    .block .title {
        border-width: 0;
        border-radius: 5px 5px 0 0;
        background: none;
        box-shadow: 0;
        padding: 0;
    }
    .block .title strong,
    .block .title a.toggleControl {
        display: block;
        padding: 0 35px 0 10px;
        height: 46px;
        line-height: 46px;
        overflow: hidden;
        width: 100%;
        border: none;
        box-shadow: none;
        font-size: 13px;
        cursor: pointer;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	    box-sizing: border-box;
        background: url(../img/responsive-toggle.png) no-repeat 97% center;
    }
    .block .listbox {
        display: none;
        border-top: 1px solid #eee;
        margin: 0 15px 15px;
    }
    .block .list li a {
	    padding: 12px 2.69360269360269% 12px 6.73400673400673%;
    }
    .block .sublist {
	    margin: 5px 0 5px 5.05050505050505%;
    }
    .poll-display-text,
    .poll-options {
	    padding: 10px 3.36700336700337%;
    }
    .poll-options .answer {
	    padding: 2px 0.72202166064982%;
    }
    .block-popular-tags ul,
    .block-popular-blogtags ul {
	    padding: 5px 1.68350168350168%;
    }
    .block-popular-tags a,
    .block-popular-blogtags a {
	    line-height: 28px;
    }
    .vote-poll-button {
	    padding: 8px 23px;
    }

/* PRODUCT PAGE */

    .gallery {
	    float: none;
	    width: auto;
	    text-align: center;
    }
    .gallery .picture {
	    display: inline-block;
    }
    .gallery .picture-thumbs {
        width: 80%;
        margin: 0 auto;
    }
    .gallery .picture-thumbs a {
        margin: 10px 4px 0 4px;
        float: none;
        display: inline-block;
    }

    .product-details-page .overview {
	    float: none;
	    width: auto;
	    margin: 0 0 20px;
    }
    .product-details-page .product-name h1,
    .product-details-page .variant-name, 
    .product-grid .title,
    .category-title .title, 
    .grid-title strong {
        font-size: 26px;
    }
    .product-details-page .manufacturers {
	    line-height: 32px;
    }
    .add-to-wishlist-button,
    .add-to-compare-list-button {
	    padding: 8px 12px;
	    font-size: 12px;
    }
        .email-a-friend-button {
            height: 32px;
        }
    .order-line .prices {
	    line-height: 49px;
    }
    .add-to-cart .add-to-cart-button {
	    padding: 10px 32px;
    }
    .add-to-cart .qty-input {
        padding: 13px 10px;
        margin-top: 1px;
    }
    .add-to-cart .qty-label {
	    font-size: 12px;
	    line-height: 49px;
    }

    .product-tags-list li a {
        display: inline-block;
        line-height: 32px;
    }

    .product-variant-line .variant-picture {
        float: none;
        margin: 0 0 10px;
    }
    .product-variant-line .variant-overview {
	    width: auto;
        float: none;
    }
    .variant-picture + .variant-overview {
        clear: both;
    }

/* ATTRIBUTES & COLOR SQUARES */

    .attributes label {
	    display: inline-block;
	    line-height: 32px;
	    cursor: pointer;
    }
    .color-squares li {
        margin-left: 3px;
    }
    .color-squares li:first-child {
        margin-left: 0;
    }
    .color-squares label {
        line-height: 28px;
    }
    .color-squares .color {
        width: 28px;
        height: 28px;
    }

/* SEARCH PAGE */

    .search-input .inputs {
        text-align: center;
    }
    .search-input .inputs label {
        width: 100%;
        margin-right:0;
        text-align: center;
    }
    .basic-search input[type="text"] {
	    width: 60%;
    }
    .search-input .inputs.reversed label {
	    display: inline-block;
	    line-height: 33px;
    }
    .advanced-search .inputs {
	    padding-left: 0;
    }
    .search-input input[type="submit"] {
	    padding: 12px 36px;
    }

/* NEWS PAGE */

    .news-item-page textarea {
        width: 311px;
        box-sizing: border-box;
    }
    .news-list-page .read-more,
    .news-list-homepage .read-more {
        height: 30px;
        line-height: 30px;
    }

/* GIFTCARD */

    .giftcard label {
        line-height: 32px;
    }
    .giftcard input[type="text"], .giftcard textarea {
        padding: 3px;
        line-height: 24px;
    }
    .giftcard input[type="text"] {
        height: 24px;
    }

/* REGISTRATION PAGE */

    .registration-result-page .buttons {
        top: 7px;
        right: 17px;
    }

/* LOGIN PAGE */

    .registration-page .buttons,
    .registration-result-page .buttons,
    .login-page .buttons,
    .account-page .buttons,
    .account-page .add-button {
        margin-top: 10px;
        overflow: hidden;
    }
    .checkout-as-guest-button {
        float: left;
        margin-bottom: 10px;
    }
    .register-button,
    .login-button {
        clear: both;
        float: left;
    }
    fieldset.facebook-login-block {
        float: left !important;
    }

/* MY ACCOUNT */

    #check-availability-button {
        margin: 10px 0 0;
        padding: 10px;
    }
    .registration-page .inputs label, .account-page .inputs label {
        margin-bottom: 5px;
        width: 100%;
    }
    .registration-page input[type="submit"],
    .registration-result-page input[type="button"],
    .login-page input[type="submit"], .login-page input[type="button"],
    .account-page .button-1, .password-recovery-page .button-1 {
        padding: 10px 20px;
    }
    .account-page .button-2 {
        padding: 10px 20px;
        font-size: 14px;
    }
    .account-page input[type=file] {
        padding: 10px;
    }
    .registration-page select, .account-page select {
        min-width: inherit;
        margin: 0 0 5px;
        width: 90%;
        max-width: 312px;
    }

    .block.block-account-navigation {
        float: none;
        width: 100%;
        max-width: 420px;
        margin: 0 auto;
    }

/* SHOPPING CART */

    .order-progress li {
        width: 15.7573%;
    }
    .cart-footer .totals {
        width: 220px;
        float: none;
        margin: 0 auto;
    }
    .cart-collaterals {
        width: 340px;
        clear: both;
        float: none;
        margin: 0 auto;
    }
    .cart-collaterals .deals {
        float: none;
        max-width: 280px;
        margin: 0 auto;
    }
    .cart-collaterals .shipping {
        float: none;
        width: auto;
    }
    .cart-collaterals input[type="submit"] {
        padding: 8px 10px;
    }
    .cart-footer .checkout-button {
        padding: 10px;
    }
    .cart-footer .checkout-buttons {
        text-align: center;
    }

/* EXTERNAL PAYMENT */

    .order-summary-content .addon-buttons {
        text-align: center;
        margin: 0 0 20px 0;
        float: none;
        width: auto;
    }

/* CHECKOUT PAGE */

    .address-grid .address-item {
        width: 50%;
        padding: 1%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }
    .address-grid .address-box {
        min-height: 220px;
    }
    .checkout-data input[type="submit"], .checkout-data input[type="button"] {
        padding: 10px;
        font-size: 14px;
    }
    .checkout-data input[name=nextstep] {
        padding: 10px 25px !important;
    }
    .inputs label {
        margin-bottom: 5px;
        width: 100%;
    }
    .order-details-page .button-1 {
        padding: 10px 20px;
    }
    .order-details-page .page-title {
        margin-bottom: 50px;
    }
    .order-details-page .page-title h1 {
        display: inline-block;
        padding-left: 50px;
    }
    .order-details-page .button-2 {
        padding: 9px 20px;
    }
    .order-details-page .print-order-button, 
    .order-details-page .pdf-order-button {
        top: auto;
        bottom: -42px;
        margin-top: 0;
        right: 50%;
    }
    .order-details-page .pdf-order-button {
        margin-right: -104px;
    }
    .order-details-area td {
        width: 50%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .shipment-overview ul {
        width: 49%;
    }

/* EU COOKIE LAW */

    [aria-describedby="dialog-eu-cookie-law"] {
        width: 380px !important;
        margin-left: -190px !important;
    }
    [aria-describedby="dialog-eu-cookie-law"] button {
        padding: 7px 21px;
    }
    [aria-describedby="dialog-eu-cookie-law"] .ui-dialog-titlebar button,
    [aria-describedby="terms-of-service-warning-box"] .ui-dialog-titlebar button {
        padding: 12px;
    }

/* WISHLIST */

    .wishlist-page .buttons input[type="button"], 
    .wishlist-page .buttons input[type="submit"], 
    .checkout-page .common-buttons input[type="submit"] {
        padding: 10px;
    }

/* COMPARE LIST */

    .compare-products-page .page-body {
        position: relative;
    }
    .compare-products-page .page-title {
        margin-bottom: 50px;
    }
    .compare-products-page .clear-list {
        padding: 7px 14px;
        top: -42px;
        right: 50%;
        left: auto;
        margin-right: -40px;
    }
    .compare-products-page input[type="button"] {
        padding: 9px 18px;
    }

/* PASSWORD RECOVERY */

    .password-recovery-page label {
        text-align: left;
        width: 100% !important;
    }

/* FANCYBOX (TERMS&CONDITIONS) */

    #fancybox-wrap {
        width: 390px !important;
    }
    #fancybox-outer {
        width: 87%;
    }
    #fancybox-content {
        width: 320px !important;
    }

/* PRODUCT REVIEWS PAGE */

    .write-review input[type="text"], .write-review textarea {
        width: 90% !important;
        max-width: 428px;
    }
    .review-rating > label {
        margin-bottom: 5px;
        width: 100%;        
    }
    .review-rating ul {
        width: auto;
        text-align: left;
    }

/* CONTACT PAGE */

    .contact-page .inputs, 
    .email-a-friend-page .inputs,
    .contact-page .buttons,
    .email-a-friend-page .buttons {
        padding: 0;
    }
    .contact-page input[type="submit"], .email-a-friend-page input[type="submit"] {
        padding: 10px 24px;
    }
    .contact-page .input-box,
    .contact-page label,
    .email-a-friend-page .input-box, 
    .email-a-friend-page label {
        float: none !important;
    }
    .contact-page textarea,
    .email-a-friend-page textarea {
        width: 100%;
        max-width: 485px;
        min-width: 300px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }

/* RETURN REQUEST PAGE */

    .return-request-page td:last-child {
        text-align: left !important;
    }
    .return-request-page .inputs label {
        width: 100%;
        margin-bottom: 5px;
    }
    .return-request-page textarea {
        width: 100%;
        max-width: 485px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;    
    }
    .return-request-page .buttons {
        text-align: left;
    }

/* SITEMAP */

    .sitemap-page .entity > * {
        padding: 10px;
    }
    .sitemap-page li {
        padding-left: 10px;
        -webkit-transition: background .1s ease-in-out;
        -moz-transition: background .1s ease-in-out;
        -o-transition: background .1s ease-in-out;
        transition: background .1s ease-in-out;
    }
    .sitemap-page a {
        line-height: 32px;
        display: block;
        text-align: left;
        -webkit-transition: background .1s ease-in-out;
        -moz-transition: background .1s ease-in-out;
        -o-transition: background .1s ease-in-out;
        transition: background .1s ease-in-out;
    }
    .sitemap-page li:active,
    .sitemap-page li:hover {
        background: #eee;
    }

/* FOOTER */

    .footer .footlist {
	    width: 38.92908827785818%;
	    margin: 0 5.49927641099855% 3.71747211895911% !important;
    }
    .footer .footlist li {
	    font-size: 12px;
    }
    .footer .footlist a {
	    display: inline-block;
	    padding: 7px 0 7px 10px;
	    line-height: 13px;
	    font-size: 12px;
    }
    .footer-contacts li {
        padding: 4px 0 3px 27px
    } 
    .footer .footbox {
	    float: none !important;
	    margin: 0 auto 15px !important;
    }
    .footer .footbox.newsletter {
	    width: 300px;
    }
    .footer input.newsletter-text {
        padding: 3px;
    }
    .footer .footbox.pay-options {
	    width: 326px;
    }
    .footer .footbox.pay-options img {
	    margin-right: 3px;
    }
    .footer .footbox.social {
	    width: 230px;
        text-align: center;
    }
    .footer .footbox h3 {
	    text-align: center;
    }

    .bottomline {
	    height: auto;
	    max-height: 115px;
	    background: url('../img/responsive-bottom.png') top repeat-x;
	    text-align: center;
	    color: #bbb;
    }
    .bottomline span {
	    display: block;
	    float: none !important;
    }
    .footer-storetheme {
	    clear: both;
	    width: 220px;
    }
    .footer-storetheme select {
	    color: #ccc;
    }

}