﻿/*=====================================================
    
    TABLETS PORTRAIT & SMARTPHONES LANDSCAPE

=====================================================*/

@media screen and (max-width: 768px) and (min-width: 481px) {
    
/* HEADER */

    .sub-category-grid .title a,
    .home-page-category-grid .title a,
    .header-links-wrapper .header-links {
        text-align: center;
    }
    .header-contacts > *,
    .header-links-wrapper .header-links ul {
        display: inline-block;
        float: none !important;
    }
    .header-logo {
        margin-top: -10px !important;
    }
    .header-selectors-wrapper > * {
        margin: 0 10px 0 0 !important;
    }
    .header-selectors-wrapper > div:first-child {
        margin: 0 !important;
    }
    .header-selectors-wrapper > * > .new_select {
        width: 132px !important;
    }
    .menu-title span {
        padding: 0 3% 0 0 !important;
        background-position: 3% center !important;
    }

/* HEADER MENU */

    .header-menu ul li {
        float: none !important;
    }
    .top-menu > li,
    .mega-menu > li {
        padding: 0 !important;
    }
    .top-menu li,
    .mega-menu li,
    .top-menu > li:first-child > a,
    .mega-menu > li:first-child > a,
    .top-menu > li:first-child,
    .mega-menu > li:first-child,
    .top-menu > li:last-child > a,
    .mega-menu > li:last-child > a,
    .top-menu > li:last-child,
    .mega-menu > li:last-child {
        border-radius: 0 !important;
    }
    .header-menu ul li a,
    .header-menu ul li div span,
    .header-menu ul li div span a {
        text-align: right !important;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	    box-sizing: border-box;
    }    
    .header-menu > ul > li > a, 
    .header-menu > ul > li > div > a, 
    .header-menu > ul > li > div > span {
        padding: 0 4.34153400868307% 0 0;
    }
	.dropdown > ul > li > a,
	.dropdown > ul > li > div > a {
		padding: 0 7.34153400868307% 0 0;
	}
    .inner-dropdown > ul > li > a {
        padding: 0 9.34153400868307% 0 0;
    }

    .header-menu > ul .plus-button {
        right: auto !important;
        left: 0;
        border-left: 0 !important;
        border-right: 1px solid #c2c2c2;
    }
    .new_select .activeSelect {
        background: url("../img/rtl-responsive-select_btn1.png") no-repeat left top !important;
        padding: 0 5px 0 30px !important;
    }
    .new_select .activeSelect:hover {
        background-position: left bottom !important;
    }

/* PRODUCT DETAILS PAGE */

    .product-tags-list li.separator {
        line-height: 32px;
    }
    .product-details-page .gallery,
    .product-details-page .overview {
        width: 100% !important;
    }
    .product-variant-list .variant-picture {
        float: none !important;
    }
    .variant-picture + .variant-overview {
        margin: 0 !important;
    }
    .product-details-page .variant-name {
        padding: 0 !important;
    }
    .product-details-page .picture {
        width: 80%;
    }
    .product-details-page .picture-thumbs a {
        width: 32%;
        margin: 2% 2% 2% 0 !important;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	    box-sizing: border-box;
    }
    .product-details-page .picture-thumbs a:nth-child(3n+1) {
        margin-right: 0 !important;
    }

/* ACCOUNT & REGISTER */

    .registration-page .inputs select + select,
    .account-page .inputs select + select {
        margin-top: 10px !important;
    }
    .registration-page .inputs,
    .customer-info-page .inputs {
        position: relative;
    }
    .registration-page .inputs #username-availabilty,
    .customer-info-page .inputs #username-availabilty {
        float: left;
        margin-top: 5px;
    }

/* TABLES */

    .cart th:first-child,
    .data-table th:first-child {
        border-left: 1px dotted #fff !important;
    }
    .cart td:first-child,
    .data-table td:first-child {
        border-left: 1px dotted #ccc !important;
    }

/* BLOCKS */

    .block .title strong,
    .block .title a.toggleControl {
        padding: 0 10px 0 35px;
        height: 46px;
        background-position: 3% center !important;
    }
    .block .list li a,
    .block .list li.active > a,
    .block .list li .sublist a,
    .block .list li.active > .sublist li.active a {
        background-position: 97% center !important;
    }
    .block .list li:hover > a,
    .block .list li .sublist li:hover a {
        background: #eee url('../img/rtl-arrow2.png') 97% center no-repeat !important;
    }

/* CATEGORY */

    .manufacturer-list-page .manufacturer-grid .item-box {
        width: 49.5%;
        margin: 0 0 0 1% !important;
    }
    .manufacturer-list-page .manufacturer-grid .item-box:nth-child(2n+1) {
        margin-left: 0 !important;
    }
    .manufacturer-list-page .manufacturer-grid .manufacturer-item .title {
        margin-bottom: 0 !important;
        padding: 6px 0;
    }
    .manufacturer-list-page .manufacturer-grid .manufacturer-item .picture {
        display: none;
    }

/* SHOPPING CART */

    .cart-footer > *,
    .cart-footer .cart-collaterals > * {
        float: none !important;
        width: 100% !important;
        max-width: 100% !important;
        text-align: center !important;
    }
    .cart-collaterals .shipping-options .inputs input[type="submit"].estimate-shipping-button {
        display: inline-block;
        float: none !important;
    }
    .shipping .estimate-shipping .shipping-options .inputs span.required {
        top: 10px;
        right: 21%;
    }

/* EXTERNAL PAYMENT */

    .order-summary-content .addon-buttons {
        text-align: center;
        margin: 0 0 30px;
    }

/* SEARCH */

    .search-page .search-results .item-box .prices {
        overflow: hidden;
    }

/* COMPARE */

    .compare-products-page .clear-list {
        left: 0;
        right: auto !important;
        top: 60px;
    }
    .compare-products-page .page-title {
        margin-bottom: 50px !important;
    }

/* CONTACT US */

    .contact-page .contact-us-button {
        margin: 0 !important;
    }

/* CHECKOUT */
    
    .order-progress ul {
        width: 100%;
    }
    .checkout-page .common-buttons {
        text-align: center !important;
    }
    .checkout-page .common-buttons input[type="submit"] {
        margin: 0 !important;
    }

/* LOGIN & PASSWORD RECOVERY */

    .register-button, .login-button {
        float: right !important;
    }
    .login-page input[type="submit"],
    .login-page input[type="button"] {
        margin-top: 10px;
    }
    .login-page .forgot-password a {
        margin: 0 !important;
    }
    .password-recovery-page label {
        margin-right: 0 !important;
        text-align: right !important;
    }
    .external-authentication fieldset.facebook-login-block {
        float: right !important;
    }

/* SITEMAP */

    .sitemap-page .entity {
        float: right;
        width: 50%;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	    box-sizing: border-box;
    }
    .sitemap-page .entity .entity-body ul li {
        padding-left: 0 !important;
        padding-right: 10px;
    }
    .sitemap-page .entity .entity-body ul li a {
        padding-left: 0 !important;
        padding-right: 10px;
        background: url('../img/rtl-arrow2.png') right center no-repeat;
        text-align: right;
    }

/* WISHLIST */

    .wishlist-page .common-buttons {
        text-align: center;
    }
    .wishlist-page .common-buttons input {
        display: inline-block;
        float: none !important;
    }
    .wishlist-page .common-buttons input:last-child {
        margin-left: 0 !important;
    }

/* UI DIALOGS */

    .ui-dialog-titlebar span {
        line-height: 26px;
    }
    .ui-dialog-titlebar button {
        text-indent: -9999px;
    }

/* FOOTER */

    .footer .footlist {
        width: 38.92908827785818%;	    
    }
    .footer .footlist:first-child {
        margin: 0 5.49927641099855% 3.71747211895911% !important;
    }
    .footer .footbox.social,
    .footer .footbox.pay-options {
        float: none !important;
        margin: 0 auto 15px auto !important;
    }

}
