﻿/*=====================================================
    
    TABLETS LANDSCAPE & NETBOOKS

=====================================================*/

@media screen and (max-width: 980px) and (min-width: 769px) {

/* HEADER */

    .header-logo {
        margin-top: -10px !important;
    }
    .header-selectors-wrapper {
        width: 369px !important;
    }
    .header-selectors-wrapper > * {
        margin: 0 10px 0 0 !important;
    }
    .header-selectors-wrapper > div:first-child {
        margin: 0 !important;
    }
    .header-selectors-wrapper > * > .new_select {
        width: 110px !important;
    }
    .menu-title span {
        padding: 0 3% 0 0 !important;
        background-position: 3% center !important;
    }

/* HEADER MENU */

    .top-menu > li,
    .mega-menu > li {
        padding: 0 !important;
    }
    .top-menu li,
    .mega-menu li,
    .top-menu > li:first-child > a,
    .mega-menu > li:first-child > a,
    .top-menu > li:first-child,
    .mega-menu > li:first-child,
    .top-menu > li:last-child > a,
    .mega-menu > li:last-child > a,
    .top-menu > li:last-child,
    .mega-menu > li:last-child {
        border-radius: 0 !important;
    }
    .header-menu ul li a,
    .header-menu ul li div span,
    .header-menu ul li div span a {
        text-align: right !important;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	    box-sizing: border-box;
    }    
    .header-menu > ul > li > a, 
    .header-menu > ul > li > div > a, 
    .header-menu > ul > li > div > span {
        padding: 0 4.34153400868307% 0 0;
    }
	.dropdown > ul > li > a,
	.dropdown > ul > li > div > a {
		padding: 0 7.34153400868307% 0 0;
	}
    .inner-dropdown > ul > li > a {
        padding: 0 9.34153400868307% 0 0;
    }

    .header-menu > ul .plus-button {
        right: auto !important;
        left: 0;
        border-left: 0 !important;
        border-right: 1px solid #c2c2c2;
    }
    .mega-menu-responsive {
        background: rgba(100,100,100,0.5);
    }
    .new_select .activeSelect {
        background: url("../img/rtl-responsive-select_btn1.png") no-repeat left top !important;
        padding: 0 5px 0 30px !important;
    }
    .new_select .activeSelect:hover {
        background-position: left bottom !important;
    }

/* PRODUCT DETAILS PAGE */

    .product-tags-list li.separator {
        line-height: 32px;
    }
    .product-details-page .gallery,
    .product-details-page .overview {
        width: 100% !important;
    }
    .product-variant-list .variant-picture {
        float: none !important;
    }
    .variant-picture + .variant-overview {
        margin: 0 !important;
    }
    .product-details-page .variant-name {
        padding: 0 !important;
    }

/* ACCOUNT PAGE */

    #check-availability-button {
        margin-right: 124px !important;
    }
    .registration-page .inputs,
    .customer-info-page .inputs {
        position: relative;
    }
    .registration-page .inputs #username-availabilty,
    .customer-info-page .inputs #username-availabilty {
        position: absolute;
        top: 45px;
    }

/* TABLES */

    .cart th:first-child,
    .data-table th:first-child {
        border-left: 1px dotted #fff !important;
    }
    .cart td:first-child,
    .data-table td:first-child {
        border-left: 1px dotted #ccc !important;
    }
    
/* BLOCKS */

    .block .list li a,
    .block .list li.active > a,
    .block .list li .sublist a,
    .block .list li.active > .sublist li.active a {
        background-position: 97% center !important;
    }
    .block .list li:hover > a,
    .block .list li .sublist li:hover a {
        background: #eee url('../img/rtl-arrow2.png') 97% center no-repeat !important;
    }

/* SHOPPING CART */

    .cart-footer .estimate-shipping .inputs {
        position: relative;
    }
    .cart-footer .estimate-shipping .inputs .required {
        position: absolute;
        top: 0;
        right: 103px;
    }

/* EXTERNAL PAYMENT */

    .order-summary-content .addon-buttons {
         margin: -80px 530px 10px 0;
    }

/* SEARCH */

    .search-page .search-results .item-box .prices {
        overflow: hidden;
    }
    .search-page .search-input {
        padding: 0 !important;
    }

/* COMPARE PRODUCTS */

    .compare-products-page .clear-list {
        left: 0;
        right: auto !important;
    }

/* CONTACT US */

    .contact-page .contact-us-button {
        margin: 0 !important;
    }

/* LOGIN & PASSWORD RECOVERY */

    .login-page input[type="submit"],
    .login-page input[type="button"] {
        margin-top: 10px;
    }
    .password-recovery-page label {
        margin-right: 0 !important;
        text-align: right !important;
    }
    fieldset.facebook-login-block {
        float: left !important;
    }

/* SITEMAP */

    .sitemap-page .entity {
        float: right;
    }
    .sitemap-page .entity .entity-body ul li {
        padding-left: 0 !important;
        padding-right: 10px;
    }
    .sitemap-page .entity .entity-body ul li a {
        padding-left: 0 !important;
        padding-right: 10px;
        background: url('../img/rtl-arrow2.png') right center no-repeat;
        text-align: right;
    }

/* UI DIALOGS */

    .ui-dialog-titlebar span {
        line-height: 26px;
    }
    .ui-dialog-titlebar button {
        text-indent: -9999px;
    }

/* FOOTER */

    .footer .footlist {
        width: 24.25% !important;
        margin: 0 1% 0 0 !important;
    }
    .footer .footlist:first-child {
        margin-right: 0 !important;
    }

}