﻿/*=====================================================
    
    TABLETS LANDSCAPE & NETBOOKS

=====================================================*/

@media screen and (max-width: 980px) and (min-width: 769px) {

    input[type="text"], input[type="password"] {
        padding: 5px;
        height: 20px;
        line-height: 20px;
    }
    select {
        height: 32px;
    }
    .data-table a {
        display: inline-block;
    }
    .side-2 {
	    width: 21.93877551020408%;
    }
    .center-2 {
	    width: 73.48979591836735%;
    }
    .master-wrapper-page,
    .header-line .center,
    .footer .center,
    .bottomline .center {
	    width: 768px;
        overflow: hidden;
    }
    .news-list-page .read-more,
    .news-list-homepage .read-more {
        height: 30px;
        line-height: 30px;
    }
    
/* BAR NOTIFICATION */
    
    .bar-notification {
	    height: 37px;
	    line-height: 37px;
    }
    .bar-notification .close {
        width: 32px;
        height: 32px;
        margin: 2px 5px;
    }
    .bar-notification a {
        display: inline-block;
        line-height: 32px;
    }

    /* Earstore 2.0 added */
    
    .popup-cart-notif {
	    height: 37px;
	    line-height: 37px;
    }
    .popup-cart-notif .close {
        width: 32px;
        height: 32px;
        margin: 2px 5px;
    }
    .popup-cart-notif a {
        display: inline-block;
        line-height: 32px;
    }

/* HEADER */

    .admin-header-links {
        position: static;
        left: inherit;
        top: inherit;
    }
        .admin-header-links a {
            width: 100%;
            text-align: center;
            padding: 0;
            margin: 1px 0;
            line-height: 32px;
            background: #666;
        }
            .admin-header-links a:hover {
                background: #999;
            }
    .header-line {
        height: auto;
        min-height: 34px;
        margin-bottom: 20px;
        background: url(../img/responsive-headerline-top.png) repeat-x left top, url(../img/responsive-headerline-bottom.png) repeat-x left bottom, #fdfdfd;
    }
    .header-links ul {
        overflow: hidden;
    }
    .header-links a {
	    display: inline-block;
    }
    .header-contacts {
	    margin-right: 0;
	    font: italic 12px/35px Arial, Helvetica, sans-serif;
	    text-align: center;
    }
    .header-contacts span, .header-contacts a {
        line-height: 32px;
        display: inline-block;
        height: auto;
    }
    .header-contacts span {
        margin: 0 0 0 15px !important;
    }
    .header-contacts .mail {
        background: url('../img/responsive-icon-mail.png') no-repeat left 11px;
    }
    .header-contacts .mail:active,
    .header-contacts .mail:hover {
        background: url('../img/responsive-icon-mail.png') no-repeat left -20px;
    }

      .header-contacts .facebookImage {
        margin-top: 2px !important;                  
        margin-left: -20px !important;
     }



    .header {
        padding: 25px 0 10px;
    }

    .header-selectors-wrapper {
	    display: block !important;
	    float: none;
	    clear: both;
	    width: 100%;
	    max-width: 100%;
	    text-align: center;
        top: 0;
    }
    .header-selectors-wrapper > div {
	    display: inline-block;
	    float: none;
        text-align: left;
        margin-left: 5px;
        vertical-align: middle;
    }

    .language-list li,
    .language-list li:first-child {
        margin: 0;
    }
    .language-list a {
        width: 32px;
        height: 25px;
    }

    .new_select {
	    width: 150px !important;
	    border-radius: 3px;
	    background: url("../img/responsive-select1.png") repeat-x;
    }
    .new_select .passiveSelect,
    .new_select .activeSelect {
	    height: 25px;
	    background: url("../img/responsive-select_btn1.png") no-repeat right top;
	    padding: 0 30px 0 5px;
	    font: italic 15px/25px 'kepler_b';	
    }
    .new_select .styleSelect_item {
        top: 22px !important;
    }
    .new_select .styleSelect_item_content {
        min-width: 149px;
        border-radius: 0 0 5px 5px;
        border: 1px solid #999;
        border-top: 0;
    }
        .new_select ul {
            padding: 0;
        }
        .new_select li {
            padding: 9px;
        }

        .header-logo {
            width: 380px;
            margin-top: 10px;
        }
            .header-logo img {
                max-width: 100%;
            }
    input.search-box-text {
	    width: 270px;
        height: 21px;
    }
    .ui-autocomplete.ui-menu.ui-widget.ui-widget-content {
        width: 340px !important;
    }
        .flyout-cart {
            display: none !important;
        }

/* HEADER MENU */

    .header-menu {
        margin: 10px auto 30px;
        width: 70%;
        border-radius: 5px;
        overflow: hidden;    
    }
    .header-menu .menu-title {
        display: block !important;
        background: url('../img/responsive-navpad.png') top repeat-x;
        border-radius: 5px;
    }
        .header-menu > ul > li .dropdown {
            display: none;
        }
        .menu-title span {
            background: url("../img/responsive-nav-icon.png") no-repeat 97% center;
            color: #333;
            display: block;
            font: 24px/56px Tahoma,Geneva,sans-serif;
            text-transform: uppercase;
            padding: 0 0 0 2.89435600578871%;
            cursor: pointer;
            text-shadow: -1px -1px 0 #fff;
        }
    .header-menu > ul > li {
        width: 100%;
        background: #b2b2b2;
        padding-right: 0;
    }
    .header-menu > ul > li:last-child {
	    border-radius: 0 0 5px 0;
    }
    .header-menu > ul .nav-item-wrapper {
        -webkit-transition: background .1s ease-in-out;
        -moz-transition: background .1s ease-in-out;
        -o-transition: background .1s ease-in-out;
        transition: background .1s ease-in-out;
        position: relative;
    }
        .header-menu > ul .nav-item-wrapper:active {
            background: #c9c9c9;
        }
    .header-menu > ul .nav-item-wrapper:after {
        content: ".";
	    display: block;
	    clear: both;
	    visibility: hidden;
	    line-height: 0;
	    height: 0;
    }
    .header-menu > ul > li > a, 
    .header-menu > ul > li > div > a, 
    .header-menu > ul > li > div > span {
        background: url('../img/responsive-navpad.png') top repeat-x;
        text-align: center;
        font: normal 16px/56px Tahoma, Geneva, sans-serif;
        -webkit-transition: color .07s ease-in-out;
        -moz-transition: color .07s ease-in-out;
        -o-transition: color .07s ease-in-out;
        transition: color .07s ease-in-out;
        padding: 0 0 0 4.34153400868307%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        text-align: left;
        border-top: 1px solid #c2c2c2;
        border-right: 1px solid #c2c2c2;
        color: #333;
    }
    .header-menu > ul > li > a:hover {
	    background: url('../img/responsive-navpad.png') bottom repeat-x;
    }
    .header-menu > ul > li:first-child > a {
        border-radius: 0;
    }
    .header-menu > ul > li:last-child > a {
        border-radius: 0 0 5px 0;
    }
    .header-menu > ul > li:hover > a {
        box-shadow: none;
    }
    .header-menu > ul > li > div > a,
    .header-menu > ul > li > div > span {
        float: left;
        width: 100%;
        display: block;
        color: #444;
        text-transform: uppercase;
        text-shadow: -1px -1px 0 #fff;
    }
    .header-menu > ul > li > div > span {
        cursor: default;
    }
    .header-menu > ul > li > div > a:hover {
        color: #CC0000; /*style change here*/
    }
    .header-menu > ul .plus-button {
        position: absolute;
        top: 0;
        right: 0;
        border-left: 1px solid #a3a3a3;
        width: 56px;
        height: 56px;
        background: url('../img/responsive-plus.png') no-repeat center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
        -webkit-transition: background .1s ease-in-out;
        -moz-transition: background .1s ease-in-out;
        -o-transition: background .1s ease-in-out;
        transition: background .1s ease-in-out;
    }
	.header-menu > ul .plus-button:active {
		background: #c9c9c9 url('../img/responsive-plus.png') no-repeat center;
	}
    .header-menu > ul .plus-button.close {
        background: url('../img/responsive-minus.png') no-repeat center;
    }
	.header-menu > ul .plus-button.close:active {
		background: #c9c9c9 url('../img/responsive-minus.png') no-repeat center;
	}
    .dropdown > ul > li {
        border-top: 1px solid #a3a3a3;
		background-color: #d2d2d2;
    }
	.dropdown > ul > li > a,
	.dropdown > ul > li > div > a {
		padding: 0 0 0 7.34153400868307%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		text-align: left;
		width: 100%;
		font: normal normal 16px/56px Tahoma, Geneva, sans-serif;
		display: block;
		color: #555;
		text-transform: uppercase;
        text-shadow: -1px -1px 0 #fff;
	}
	.dropdown > ul > li > a:hover,
	.dropdown > ul > li > div > a:hover {
		background-color: #d9d9d9;
	}
    .inner-dropdown > ul > li {
        border-top: 1px solid #a3a3a3;
        background-color: #e2e2e2;
    }
    .inner-dropdown > ul > li > a {
        padding: 0 0 0 9.34153400868307%;
		text-transform: none;
    }
	.inner-dropdown > ul > li > a:hover {
		background-color: #efefef;
        text-shadow: -1px -1px 0 #fff;
    }

/* ITEM GRID & CATEGORY PAGE */

    .bestsellers .item-box {
        width: 236px;
        margin: 0 5px 10px;
    }
    .home-page .bestsellers {
	    overflow: hidden;
    }
    .breadcrumb {
	    padding: 0;
    }
    .breadcrumb li a,
    .breadcrumb li strong {
	    display: inline-block;
	    padding: 7px 3px;
	    font-size: 13px;
    }

    .product-filters li.item {
	    float: none;
        margin: 0;
    }
        .product-filters li.item a {
            display: block;
            text-align: center;
            line-height: 24px;
        }

    .sub-category-grid .item-grid,
    .product-grid .item-grid {
        padding: 0;
    }
    .category-title, .grid-title,
    .product-grid .title {
        margin-bottom: 15px;
    }
    .product-grid .title,
    .category-title .title, 
    .grid-title strong {
        font-size: 32px;
    }
    .product-grid .item-box {
        /*height: 442px;*/ /*lookhere smaller element for removing buttons*/
        max-height: 440px;
        height: auto;
    }
    .home-page-category-grid .item-box,
    .home-page-product-grid .item-box {
        margin: 0 39px 20px !important;
        width: 291px;
        height: 291px;
    }

    .item-box {
	    width: 261px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .item-box .add-info {
        /*height: 88px;*/ /*lookhere smaller element for removing buttons*/
        height: 28px;
    }
    .item-box input[type="button"],
    .item-box .buynow-button {
	    padding: 10px 0;
    }
    .home-page-product-grid .picture a {
        width: 100%;
        max-width: 278px;
    }
    .pager a, .pager span {
	    padding: 7px 11px;
    }

/* BLOCKS */

    .block .list li a {
	    padding: 12px 8px 12px 20px;
    }
    .block-popular-tags a,
    .block-popular-blogtags a {
	    line-height: 28px;
    }
    .vote-poll-button {
	    padding: 8px 23px;
    }

/* PRODUCT PAGE */

    .gallery {
	    float: none;
	    width: auto;
	    text-align: center;
    }
    .gallery .picture {
	    display: inline-block;
    }
    .gallery .picture-thumbs {
	    text-align: center;
    }
    .gallery .picture-thumbs a {
	    display: inline-block;
	    float: none !important;
	    margin: 8px 4px 0 4px !important;
    }

    .product-details-page .overview {
	    float: none;
	    width: auto;
	    margin: 0 0 20px;
    }
        .product-details-page .product-name h1,
        .product-details-page .variant-name {
            font-size: 30px;
        }
    .product-details-page .manufacturers {
	    line-height: 32px;
    }
    .add-to-wishlist-button,
    .add-to-compare-list-button {
	    padding: 8px 12px;
	    font-size: 12px;
    }
        .email-a-friend-button {
            height: 32px;
        }
    .order-line .prices {
	    line-height: 49px;
    }
    .add-to-cart .add-to-cart-button {
	    padding: 10px 32px;
    }
    .add-to-cart .qty-input {
        padding: 13px 10px;
        margin-top: 1px;
    }
    .add-to-cart .qty-label {
	    font-size: 12px;
	    line-height: 49px;
    }

    .product-tags-list li a {
        display: inline-block;
        line-height: 32px;
    }

    .product-variant-line .variant-overview {
	    width: auto;
        float: none;
    }
    .variant-picture + .variant-overview {
        margin: 0 0 0 185px;
    }

/* ATTRIBUTES & COLOT SQUARES */

    .attributes label {
	    display: inline-block;
	    line-height: 32px;
	    cursor: pointer;
    }
    .color-squares li {
        margin-left: 3px;
    }
    .color-squares li:first-child {
        margin-left: 0;
    }
    .color-squares label {
        line-height: 28px;
    }
    .color-squares .color {
        width: 28px;
        height: 28px;
    }

/* SEARCH PAGE */

    .basic-search input[type="text"] {
	    width: 300px;
    }
    .search-input .inputs.reversed label {
	    display: inline-block;
	    line-height: 33px;
    }
    .advanced-search .inputs {
	    padding-left: 30px;
    }
    .advanced-search input[type="text"] {
	    height: 18px;
    }
    .search-input input[type="submit"] {
	    padding: 12px 36px;
    }

/* FOOTER */

    .footer .footlist {
	    width: 181px;
	    margin-left: 14px;
    }
    .footer .footlist li {
	    font-size: 12px;
    }
    .footer .footlist a {
	    display: inline-block;
	    padding: 7px 0 7px 10px;
	    font-size: 12px;
	    line-height: 13px;
    }
    .footer-contacts li {
        padding: 4px 0 3px 27px
    } 
    .footer .footbox.newsletter {
	    width: 200px;
    }
    .footer input.newsletter-text {
	    width: 150px;
        padding: 3px;
    }

    .facebook {
   
   margin-left:-5px;
}


    .footer .footbox.pay-options img {
	    margin-right: 3px;
    }
    .bottomline {
	    height: auto;
    }
    .footer-storetheme {
	    margin: 0 0 0 340px;
        width: 220px;
    }
    .footer-storetheme select {
	    color: #ccc;
        float: right;
    }

/* GIFTCARD */

    .giftcard label {
        line-height: 32px;
    }
    .giftcard input[type="text"],
    .giftcard textarea {
        padding: 3px;
        line-height: 24px;
    }
    .giftcard input[type="text"] {
        height: 24px;
    }

/* REGISTRATION PAGE */

    .registration-result-page .buttons {
        top: 17px;
    }

/* MY ACCOUNT */

    #check-availability-button {
        margin: 10px 0 0;
        padding: 10px;
    }
    .registration-page .inputs label,
    .account-page .inputs label {
        margin-bottom: 5px;
    }
    .registration-page input[type="submit"],
    .registration-result-page input[type="button"],
    .login-page input[type="submit"],
    .login-page input[type="button"],
    .account-page .button-1,
    .password-recovery-page .button-1 {
        padding: 10px 20px;
    }
    .account-page .button-2 {
        padding: 10px 20px;
        font-size: 14px;
    }
    .account-page input[type=file] {
        padding: 10px;
    }

/* SHOPPING CART */

    .order-progress li {
        width: 115px;
    }
    .cart-footer .totals {
        width: 195px;
    }
    .cart-collaterals {
        width: auto;
    }
    .cart-collaterals .deals {
        width: auto;
        margin-right: 10px;
    }
    .cart-collaterals input[type="submit"] {
        padding: 8px 10px;
        display: block;
        margin-top: 5px;
    }
    .cart-footer .checkout-button {
        padding: 10px;
    }

    .shopping-cart-page .cross-sells .item-box {
        width: 228px;
    }

/* EXTERNAL PAYMENT */

    .order-summary-content .addon-buttons {
        margin: -75px 0 0;
        width: 185px;
    }

/* CHECKOUT PAGE */

    .address-grid .address-item {
        width: 33.33%;
        padding: 0.8%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }
        .address-grid .address-box {
            min-height: 220px;
        }
        .checkout-data input[type="submit"],
        .checkout-data input[type="button"] {
            padding: 10px;
            font-size: 14px;
        }
        .checkout-data input[name=nextstep] {
            padding: 10px 25px !important;
        }
        .order-details-page .button-1 {
            padding: 10px 20px;
        }
        .order-details-page .button-2 {
            padding: 9px 20px;
        }
        .order-details-page .print-order-button, 
        .order-details-page .pdf-order-button {
            margin-top: -22px;
        }

/* EU COOKIE LAW */

    [aria-describedby="dialog-eu-cookie-law"] button {
        padding: 7px 21px;
    }
    [aria-describedby="dialog-eu-cookie-law"] .ui-dialog-titlebar button,
    [aria-describedby="terms-of-service-warning-box"] .ui-dialog-titlebar button {
        padding: 12px;
    }

/* WISHLIST */

    .wishlist-page .buttons input[type="button"], 
    .wishlist-page .buttons input[type="submit"], 
    .checkout-page .common-buttons input[type="submit"] {
        padding: 10px;
    }

/* COMPARE LIST */

    .compare-products-page .clear-list {
        padding: 7px 14px;
    }
    .compare-products-page input[type="button"] {
        padding: 9px 18px;
    }

/* PASSWORD RECOVERY */

    .password-recovery-page label {
        text-align: left;
        width: 100% !important;
        margin-bottom: 5px;
    }

/* PRODUCT REVIEWS */

    .write-review label {
        width: 100%;
        margin: 0 0 5px;
    }

/* CONTACT PAGE */

    .contact-page .inputs, 
    .email-a-friend-page .inputs,
    .contact-page .buttons,
    .email-a-friend-page .buttons {
        padding: 0;
    }
    .contact-page .inputs {
        margin: 0 0 5px;
    }
    .contact-page label,
    .email-a-friend-page label {
        width: 100%;
        margin: 0 0 5px;
    }
    .contact-page input[type="submit"],
    .email-a-friend-page input[type="submit"] {
        padding: 10px 24px;
    }

/* SITEMAP */

    .sitemap-page .entity > * {
        padding: 10px;
    }
    .sitemap-page li {
        padding-left: 10px;
        -webkit-transition: background .1s ease-in-out;
        -moz-transition: background .1s ease-in-out;
        -o-transition: background .1s ease-in-out;
        transition: background .1s ease-in-out;
    }
    .sitemap-page a {
        line-height: 32px;
        display: block;
        text-align: left;
        -webkit-transition: background .1s ease-in-out;
        -moz-transition: background .1s ease-in-out;
        -o-transition: background .1s ease-in-out;
        transition: background .1s ease-in-out;
    }
    .sitemap-page li:active,
    .sitemap-page li:hover {
        background: #eee;
    }

}