﻿.side-2,
.center-1,
.item-grid .item-box,
.contact-page label,
.header-logo,
.header-contacts,
.addthis_default_style .at300b, 
.addthis_default_style .at300bo, 
.addthis_default_style .at300m,
.rating div,
.footer-disclaimer,
.search-box form > *,
.order-progress ul li,
.cart-footer .cart-collaterals,
.cart-footer .shipping,
.order-review-data ul,
ul.method-list li .method-name > *,
.select-billing-address .address-item, 
.select-shipping-address .address-item,
.account-page .address-item .info,
.account-page .order-item .info,
.breadcrumb li,
.product-selectors > div,
.product-tags-list li,
.product-list .picture,
.product-details-page .gallery,
.order-line > *,
.order-line .qty-label, 
.order-line .qty-input,
.bar-notification > *,
.popup-cart-notif > *, /*Earstore 2.0 added*/
.order-details-area td,
.product-filters,
.recently-added-products-page .title,
.write-review .inputs > *,
.write-review .review-rating > *,
.product-list .prices > *,
.product-list .buttons,
.contact-page .input-box,
.ui-dialog-titlebar span {
    float: right !important;
}
.side-1,
.center-2,
.header-links ul,
.header-links-wrapper,
.footer-poweredby,
.cart-footer .totals,
.account-page .address-item .buttons,
.account-page .order-item .buttons,
.product-details-page .overview,
.bar-notification .close,
.popup-cart-notif .close, /*Earstore 2.0 added*/
.ui-dialog-titlebar button {
    float: left !important;
}
.wishlist-page .page-title,
.login-page .loginTitle,
.registration-page .registerTitle,
.password-recovery-page-custom .passwordRecoveryTitle,
.checkout-page .page-title,
.shopping-cart-page .page-title,
.htmlcontent-title, 
.htmlcontent-body p,
.order-summary-content .cart .cart-item-row td.product, 
.wishlist-content .cart .cart-item-row td.product,
.checkout-page .cart td,
.data-table th {
    text-align: right !important;
}
.checkout-page .common-buttons,
.checkout-data .buttons,
.order-details-page .actions,
.account-page .add-button,
.account-page .buttons,
.block .view-all,
.login-page .buttons,
.mini-shopping-cart .totals,
.mini-shopping-cart .buttons,
.registration-page .buttons {
    text-align: left !important;
}

/* MISCELLANEOUS */

* {
    direction: rtl;
}
.center-1 {
    width: 100% !important;
}
.searchbox .searchboxtext.k-input.instant-search-busy {
    background: url('../img/ajax_loader_small.gif') 5px center no-repeat !important;
}
.addthis_counter.addthis_bubble_style a.addthis_button_expanded {
    -webkit-transform: rotate(-180deg);
    margin-top: -4px;
}
.addthis_toolbox {
    float: none !important;
}
.addthis_counter.addthis_bubble_style {
    float: right;
    -webkit-transform: rotate(-180deg);
}
.admin-header-links {
    left: inherit !important;
    right: 0;
}
.link-rss {
    float: left !important;
    margin: 12px 0 0 10px !important;
}
.topic-html-content-header,
.home-page-category-grid .title,
.home-page-product-grid .title,
.newslist-homepage .page-title,
.wishlist-page .page-title h1,
.checkout-page .page-title h1,
.manufacturer-list-page .page-title h1,
.product-details-page .productname,
.category-title .title,
.product-grid .title strong,
.contact-page .page-title h1,
.account-page .page-title h1,
.order-details-page .page-title h1,
.login-page .page-title h1,
.product-tags-all-page h1,
.category-title .title, 
.product-grid .title,
.registration-page .page-title h1,
.login-page .page-title h1,
.recently-added-products-page .title h1,
.category-title .title, 
.grid-title strong, 
.product-grid .title strong {
    float: none !important;
    padding: 0 45px 0 0 !important;
    background: url(../img/rtl-bullet1.png) no-repeat right center !important;
}
.blog-page .page-title h1,
.topic-page .page-title h1,
.search-page .page-title h1,
.sitemap-page .page-title h1,
.not-found-page .page-title h1,
.news-list-page .page-title h1,
.news-item-page .page-title h1,
.news-list-homepage .title strong,
.email-a-friend-page .page-title h1,
.return-request-page .page-title h1,
.product-reviews-page .page-title h1,
.compare-products-page .page-title h1,
.password-recovery-page .page-title h1,
.recently-viewed-products-page .page-title h1 {
    float: none;
    padding: 0 50px 0 0 !important;
    width: 100%;
    background-position: right center !important;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}
.center-2 .product-grid .title {
    background: none !important;
    padding: 0 !important;
}
.product-grid.bestsellers .title {
    background: url('../img/border1.png') bottom repeat-x !important;
    padding: 0 !important;
}
.product-tags-list li{
    margin: 0 0 0 10px !important;
}
.recently-added-products-page .rss {
    float: left !important;
    margin: 12px 0 0 10px !important;
}
.compare-products-page .clear-list {
    right: auto !important;
    left: 3px;
}
.email-a-friend-page label {
    float: right !important;
    margin: 0 0 0 10px !important;
}
.contact-page label {
    float: right;
}
.ui-tabs .ui-tabs-nav li {
    background: url('../img/separator1.png') right no-repeat !important;
    padding: 0 2px 0 0 !important;
}
.ui-tabs .ui-tabs-nav li:first-child {
    padding: 0 !important;
    background: none !important;
}
.review-rating > label {
    margin: 12px 0 12px 10px !important;
}
.inputs label {
    margin: 0 0 0 10px !important;
}
input.newsletter-text {
    float: right !important;
    border-radius: 0 5px 5px 0 !important;
}
.newsletter-subscribe-button {
    float: right !important;
    background: url('../img/rtl-button3.png') top no-repeat !important;
}

/* HEADER */

.header-selectors-wrapper {
    right: inherit !important;
    left: 0 !important;
}
    .header-selectors-wrapper > div {
        float: right;
        margin: 0 10px 0 0;
    }
.header-links ul li {
    float: right !important;
    margin-left: 0 !important;
    margin-right: 10px !important;
}
.header-links ul li .cart-qty,
.header-links ul li .wishlist-qty,
.product-tags-box ul li span,
.product-review-item .review-info *,
.product-reviews-page .page-title h1 a,
.product-review-helpfulness > span,
.product-details-page .product-review-links a,
.cart-footer .terms-of-service a.read,
.eu-cookie-law .eu-cookie-privacyinfo-tag,
.registration-page .accept-privacy-policy .read {
    display: inline-block;
}
.header-contacts {
    margin-right: 0 !important;
}
.header-contacts span {
    float: right;
    margin-right: 5px;
}
.header-basket {
    background-position: right center !important;
    padding: 8px 45px 8px 0 !important;
    left:0 !important;
    right: inherit !important;
}
.header-currency-selector {
    float:left !important;
    margin-left: 10px;
}
.header .searchbox .searchboxtext {
    float: right !important;
    border-radius: 0 5px 5px 0 !important;
}
.search-box {
    left: 0 !important;
    right: inherit !important;
}
.search-box .search-box-text {
    border-radius: 0 5px 5px 0 !important;
}
.search-box-button {
    margin-right: -5px !important;
    margin-left: 0 !important;
    border-radius: 5px 0 0 5px !important;
}
.top-menu > li, 
.mega-menu > li {
    float: right !important;
    padding: 0 0 0 2px !important;
}
.top-menu > li:first-child > a, 
.mega-menu > li:first-child > a,
.top-menu > li:first-child, 
.mega-menu > li:first-child {
    border-radius: 0 5px 5px 0 !important;
}
.new_select .activeSelect {
    background: url("../img/rtl-select_btn1.png") no-repeat left top !important;
    padding: 0 4px 0 24px !important;
}
.new_select .activeSelect:hover {
    background-position: left bottom !important;
}
#flyout-cart {
    left: 0 !important;
    right:inherit !important;
}
.mini-shopping-cart .picture {
    float: right !important;
}

/* SHOPPING CART */

.order-progress ul {
    width: 720px;
    margin: 0 auto !important;
}
.common-buttons > * {
    margin: 0 0 0 10px !important;
}
.cart-footer .deals {
    float: right !important;
    margin: 0 0 0 10px !important;
}
.order-details-page .page-title a {
    float: left !important;
    margin: 10px 5px 0 0 !important;
}
.order-details-page .cart-total-left {
    text-align: left !important;
    padding: 0 0 0 10px !important;
}
.shipping .estimate-shipping .shipping-options .inputs {
    position: relative;
}
.shipping .estimate-shipping .shipping-options .inputs span.required {
    position: absolute;
    top: 0;
    right: 2px;
}

/* EXTERNAL PAYMENT */

    .order-summary-content .addon-buttons {
        text-align: right;
        margin: -10px 657px 10px 0;
    }

/* CHECKOUT PAGE */

#checkout-steps .step-title span {
    float: right !important;
    margin: 0 0 0 10px !important;
}
ul.method-list li .method-name input[type=radio] {
    margin: 4px 0 0 5px !important;
}
.checkout-page .cart td:first-child{
    border-left: 1px dotted #ccc !important;
}
.method-name{
    overflow: hidden;
}

/* CATEGORY PAGE */

.product-selectors > div:first-child {
    margin: 0 !important;
}
.product-selectors > div > span {
    float: right !important;
    line-height: 24px !important;
    margin-left: 5px !important;
}
.product-page-size select {
    float: right !important;
    margin-left: 8px !important;
}
.product-filters .available-items > div, 
.product-filters ul {
    float: right !important;
    margin: 0 0 5px 10px !important;
}
.product-filters {
    margin: 0 0 0 15px !important;
}
.product-grid .item-grid,
.product-list .item-grid {
    border-radius: 5px 5px 5px 0 !important;
}
.product-list .details {
    margin: 0 210px 0 0 !important;
}
.pager > div {
    float: left !important;
    padding: 0 0 0 6px !important;
    border-radius: 0 0 0 5px !important;
}
.pager li {
	float: right !important;
}
.pager a, .pager span {
    margin: 0 !important;
}

/* BLOCK */

.block .list li a {
    background: url('../img/rtl-arrow3.png') 185px center no-repeat !important;
    padding: 8px 20px 8px 8px !important;
}
.block .list li:hover a {
    background: #eee url('../img/rtl-arrow2.png') 185px center no-repeat !important;
}
.block .list li.active > a {
    background: #eee url('../img/rtl-arrow2.png') 185px center no-repeat !important;
    padding: 8px 20px 8px 8px !important;
}
.block .list li .sublist a {
    background: url('../img/rtl-arrow3.png') 170px center no-repeat !important;
    padding: 8px 20px 8px 8px !important;
}
.block .list li .sublist a:hover {
    background: url('../img/rtl-arrow2.png') 170px center no-repeat !important;
}
.block .list li.active > .sublist li.active a {
    background: #eee url('../img/rtl-arrow2.png') 170px center no-repeat !important;
    padding: 8px 20px 8px 8px !important;
}
.block .list .sublist {
    margin: 5px 15px 5px 0 !important;
}

/* ACCOUNT PAGE */

.account-page select {
    margin: 0 0 0 6px !important;
}

/* PRODUCT PAGE */

.product-details-page .picture-thumbs a {
    float: right !important;
    margin: 10px 0 0 10px !important;
}
.add-to-compare-list-button {
    margin: 0 !important;
}
.product-details-page .add-info > * {
    float: right !important;
    margin: 0 0 0 10px !important;
}
.order-line .prices {
    margin: 0 0 0 10px !important;
}
.order-line .qty-label {
    margin-right: 0px !important;
    margin-left: 8px !important;
}
.order-line .quantity {
    margin: 0 0 0 10px !important;
    float: right !important;
}
.product-variant-list .attributes dt {
    float: right !important;
    clear: both !important;
    text-align: right !important;
    min-width: 85px !important;
}
.product-variant-list .attributes dd {
    float: right !important;
    text-align: right !important;
}
.product-variant-list .variant-picture{
    float: right !important;
    margin: 0 !important;
}
.product-variant-line .variant-name {
    background-position: right center !important;
    padding: 0 35px 0 0 !important;
}
.category-description ul,
.manufacturer-description ul,
.full-description ul,
.topic-html-content ul,
.topic-page ul,
.post-body ul {
    padding-right: 36px;
    padding-left: 0;
}

/* LOGIN PAGE */

.login-page .inputs.reversed {
    padding: 0 115px 0 0 !important;
}
.login-page .forgot-password a {
    margin: 0 55px 0 0 !important;
}
.external-authentication fieldset.facebook-login-block {
    float: left !important;
}

/* REGISTER PAGE */

.registration-page select {
    margin: 0 0 0 6px !important;
}

/* CONTACT US */

.contact-page .contact-us-button {
    margin: -5px 104px 10px 0 !important;
}

.contact-page .input-box {
    margin-left: 10px !important;
    margin-right: 0 !important;
}


/* GIFT CARD */

.giftcard label {
    float: right !important;
}

/* BAR NOTIFICATION */

.bar-notification .content {
    margin: 0 10px 0 0 !important;
}

.popup-cart-notif .content { /*Earstore 2.0 added*/
    margin: 0 10px 0 0 !important;
}

/* FOOTER */

.footer .footbox {
    float: right !important;
    margin: 0 0 0 10px !important;
}
.footer .footlist {
    float: right !important;
    margin: 0 38px 0 0 !important;    
}
.footer .footlist:first-child {
	margin: 0 !important;
}
    .footer .footlist .title {
        background-position: right bottom !important;
    }
    .footer .footbox.pay-options {
        float: left !important;
    }
    .footer .footbox.social {
        float: right!important;
        margin: 0 !important;
    }
        .footer .footbox.social a {
            margin: 0 0 0 5px !important;
        }
.footer-contacts .phone,
.footer-contacts .mobile,
.footer-contacts .email {
    background-position: right center !important;
    padding: 0 32px 0 0 !important;
}
.footer .footlist a {
    background: url(../img/rtl-arrow1.png) no-repeat right 5px !important;
    padding: 0 10px 0 !important;
}
.footer .footlist a:hover {
    background: url(../img/rtl-arrow2.png) no-repeat right 5px !important;
}
input.newsletter-text {
    float: right;
    border-radius: 0 5px 5px 0;
}
.newsletter-subscribe-button {
    float: right;
    background: url('../img/rtl-button3.png') top no-repeat;
}
.footer-disclaimer{
    float: right !important;
}
.footer-poweredby {
    float: left !important;
}