.cart, .data-table {
	margin-bottom: 15px;
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
}
.data-table {
	margin-bottom: 20px;
}
.cart th, .data-table th {
	border-top: 1px dotted #ccc;
	border-left: 1px dotted #fff;
	background: #ccc url('../img/boxpad4.png') repeat-x top;
	box-shadow: inset 0 1px 0 #f6f6f6;
	padding: 5px 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
	text-shadow: 1px 1px 0 #fff;
	white-space: nowrap;
}
.cart th:first-child,
.data-table th:first-child {
	border-left: none;
}
.data-table th {
	text-align: left;
}
.cart td, .data-table td {
	border: 1px dotted #ccc;
	border-right: none;
	padding: 5px 10px;
}
.cart td:first-child,
.data-table td:first-child {
	border-left: none;
	text-align: center;
}
.cart a:hover,
.data-table a:hover {
	text-decoration: underline;
}
.cart .attributes,
.data-table .attributes {
	margin: 0;
	border: none;
}

.cart td.add-to-cart {
	text-align: center;
}
.cart td img {
	width: 80px;
}
.cart td.product a {
     /*change text font style here*/ 
	/*font: normal 16px 'avantgarde';*/
    font: normal 16px Verdana, Geneva, sans-serif;
	color: #444;
}
.cart td.product a:hover {
	color: #CC0000; /*style change here*/
}
.cart input[type="text"] {
	width: 30px;
	padding: 5px;
}
.cart .product-subtotal {
	font-weight: bold;
	color: #CC0000;  /*style change here*/
    white-space: nowrap;
}
.cart .product-unit-price {
    white-space:nowrap;
}



.go-to-page {
    display: inline-block !important;
    padding: 6px 0;
    font-size: 13px !important;
    min-width: 92px;
}

/* COMPARE PRODUCTS DESKTOP VERSION */

    .compare-products-page table input[type="button"] {
	    display: block;
	    margin-bottom: 10px;
	    border: 1px solid #ccc;
	    border-radius: 3px;
	    background: url('../img/button5.png') top repeat-x;
	    box-shadow: inset 0 1px 0 #fff;
	    padding: 5px 10px;
	    font: normal 11px Tahoma, Geneva, sans-serif;
	    color: #333;
	    text-shadow: 1px 1px 0 #fff;
    }

@media screen and (max-width: 980px) {

    .compare-products-table {
        display: none;
    }

}

@media screen and (min-width: 981px) {

    .compare-products-table-mobile {
        display: none;
    }

    .compare-products-table {
	    border: 1px solid #ddd;
	    background: #fff;
	    box-shadow: inset 0 0 10px #ddd;
    }
    .compare-products-table td {
	    padding: 10px;
	    vertical-align: top;
	    border-left: 1px dotted #ccc;
	    border-bottom: 1px dotted #ddd;
    }
    .compare-products-table td:first-child {
	    border-left: none;
	    font-size: 11px;
	    font-weight: bold;
	    color: #333;
    }
    .compare-products-table tr:first-child td {
	    background: #f3f3f3;
	    border-bottom: 1px dotted #ddd;
    }
    .compare-products-table td img {
	    width: 150px;
	    border: 1px solid #ccc;
        max-width: 100%;
        max-height: 100%;
    }
    .compare-products-table .product-name a {
         /*change text font style here*/ 
	    /*font: normal normal 18px 'avantgarde';*/
         font: normal normal 18px Verdana, Geneva, sans-serif;
	    color: #666;
    }
    .compare-products-table .product-name a:hover,
    .compare-products-table .product-price td {
	    color: #CC0000;  /*style change here*/
    }

}



/*==== RESPONSIVE ====*/

@media screen and (max-width: 360px) {

    .section.shipments .data-table th {
        font-size: 11px;
    }

}

    /* footable custom css */

    .footable-row-detail {
        text-align: left;
    }
    .footable-first-column {
        font-size: 0 !important;
    }
        .footable-first-column .item-count {
            font-size: 12px !important;
            vertical-align: middle;
        }
    div.footable-row-detail-name {
        padding: 5px 15px 10px 0;
    }
    .footable-row-detail-cell {
        text-align: left !important;
    }
    table.footable.breakpoint > tbody > tr > td > span.footable-toggle {
        width: 16px;
        height: 16px;
        padding-right: 0;
        overflow: hidden;
    }

/* toggle style change */

    .footable-toggle {
        background: url(../img/table-plus.png) no-repeat center;
        vertical-align: middle;
    }
        .footable-detail-show .footable-toggle {
            background: url(../img/table-minus.png) no-repeat center;
        }
    .footable-toggle:before {
        display: none !important;
    }



/* hidding item counter in different tables */

    .downloadable-products-page .data-table .item-count {
        display: none;
    }

@media screen and (max-width: 980px) {

    .compare-products-table-mobile .item-count,
    .order-summary-content .cart .item-count,
    .wishlist-page .cart .item-count,
    .section.shipments .data-table .item-count {
        display: none;
    }

}

@media screen and (max-width: 720px) {

    .return-request-page .data-table .item-count,
    .section.products .data-table .item-count {
        display: none;
    }

}