﻿@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Widgets.Backweb.Models;
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    <table class="adminContent">
        <tr>
            <td colspan="2">
                <b>@T("Plugins.Widgets.CuztomizedBackweb.Notes")</b><br />
            </td>
        </tr>
        <tr>                
   
   

          </tr>
    </table>
    
}