﻿@model Nop.Plugin.Widgets.Backweb.Models.BackwebOrderModel

@{
    ViewBag.Title = "MakeBackwebOrder";
}
   

<h2>Manuell orderläggning</h2>@using (Ajax.BeginForm("SaveChanges", "Backweb",
                            new AjaxOptions { UpdateTargetId = "divInterestDeatils" }))
    {
       
    <fieldset>
        <legend>Calulate Simple Interest</legend><div id="div1"></div> 

           <div class="editor-label">
            @Html.LabelFor(model =>  model.VisibleNote)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model =>  model.VisibleNote)          
        </div> 

           <div class="editor-label">
            @Html.LabelFor(model =>  model.HiddenNote)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model =>  model.HiddenNote)          
        </div> 
     
          <div class="editor-label">
            @Html.LabelFor(model =>  model.customerID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model =>  model.customerID)    
       
        </div>

                <div class="description">
            @Html.LabelFor(model => model.NCcustomer.Email)
        </div>
        <div class="description">
            @Html.DisplayTextFor(model => model.NCcustomer.Email)
        </div>      
    
        <p>
            <input type="submit" value="Spara ändringar" />
        </p>
    </fieldset>
 } 
