﻿@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page account-page change-password-page">
        <div class="page-title">
            <h1>@T("Account.MyAccount") - @T("Account.ChangePassword")</h1>
        </div>
        <div class="page-body">
            <div class="page-body-content">
                <!-- new div added -->
                <div class="message-error">
                    @Html.ValidationSummary(true)
                </div>
                @if (!String.IsNullOrEmpty(Model.Result))
                {
                    <div class="result">
                        @Model.Result
                    </div>
                }
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        @Html.LabelFor(model => model.OldPassword, new { }, ":")
                            @Html.EditorFor(model => model.OldPassword)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.OldPassword)
                    </div>
                    <div class="inputs">
                        @Html.LabelFor(model => model.NewPassword, new { }, ":")
                            @Html.EditorFor(model => model.NewPassword)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>
                    <div class="inputs">
                        @Html.LabelFor(model => model.ConfirmNewPassword, new { }, ":")
                            @Html.EditorFor(model => model.ConfirmNewPassword)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                    </div>
                </div>
            </div>
                <div class="buttons">
                    <input type="submit" class="button-1 change-password-button" value="@T("Account.ChangePassword.Button")" />
                </div>
            </div>
        </div>
    </div>
}