﻿@model CustomerDownloadableProductsModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);

    var theme = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Web.Framework.Themes.IThemeContext>().WorkingDesktopTheme;
}
@section left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}
<div class="page account-page downloadable-products-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.DownloadableProducts")</h1>
    </div>
    <div class="page-body">
        <div class="page-body-content">
            <!-- new div added -->
            @if (Model.Items.Count > 0)
            {
            <table class="data-table">
                <colgroup>
                    <col width="1" />
                    <col width="1" />
                    <col width="1" />
                    <col />
                    <col width="1" />
                    <col width="1" />
                </colgroup>
                <thead>
                    <tr>
                        <th><span class="item-count">#</span></th>
                        <th class="a-center order" data-hide="w410, w480">
                            @T("DownloadableProducts.Fields.Order")
                        </th>
                        <th class="a-center date" data-hide="w410, w480">
                            @T("DownloadableProducts.Fields.Date")
                        </th>
                        <th class="a-center product">
                            @T("DownloadableProducts.Fields.Product")
                        </th>
                        <th data-hide="w410, w480, w580, w768">@T(String.Format("SevenSpikes.Themes.{0}.Common.GoTo", theme))</th>
                        <th class="a-center download">
                            @T("DownloadableProducts.Fields.Download")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Items.Count; i++)
                    {
                        var item = Model.Items[i];
                        <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
                            <td><span class="item-count">@(i+1)</span></td>
                            <td class="a-center order">
                                <a href="@Url.RouteUrl("OrderDetails", new { orderId = item.OrderId })">@item.OrderId</a>
                            </td>
                            <td class="a-center date">
                                @item.CreatedOn.ToString("d")
                            </td>
                            <td class="a-center product">
                                @item.ProductName
                                @if (!String.IsNullOrEmpty(item.ProductAttributes))
                                {
                                    <div class="attributes">
                                        @Html.Raw(item.ProductAttributes)
                                    </div>
                                }
                            </td>
                            <td>
                                <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" class="go-to-page">@T(String.Format("SevenSpikes.Themes.{0}.Common.GoToPage", theme))</a>
                            </td>
                            <td class="a-center download">
                                @if (item.DownloadId > 0)
                                {
                                    <div>
                                        <a class="link" href="@Url.RouteUrl("GetDownload", new { orderItemId = item.OrderItemGuid })">@T("DownloadableProducts.Fields.Download")</a>
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        @T("DownloadableProducts.Fields.Download.NA")
                                    </div>
                                }
                                @if (item.LicenseId > 0)
                                {
                                    <div>
                                        <a class="link" href="@Url.RouteUrl("GetLicense", new { orderItemId = item.OrderItemGuid })">@T("DownloadableProducts.Fields.DownloadLicense")</a>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            }
            else
            {
                <div class="no-data">
                    @T("DownloadableProducts.NoItems")
                </div>
            }
        </div>
    </div>
</div>
