﻿<div class="header-basket">
   @* @T("SevenSpikes.Themes.Beauty.HeaderShoppingCartBox")*@

    <div style="text-align:right">@Html.Action("HeaderLinksOnlyCart", "Common")     @*THIS ONE*@</div>
   
    
    @*
     @if (Model.ItemsCount == 0)
    {
        <label>@T("SevenSpikes.Themes.Beauty.HeaderShoppingCartBox.NoItems")</label>
    }
    else
    {
        if (Model.ItemsCount == 1)
        {
        <a href="@Url.RouteUrl("ShoppingCart")">@T("SevenSpikes.Themes.Beauty.HeaderShoppingCartBox.OneItemText")</a>
        }
        else
        {
        <a href="@Url.RouteUrl("ShoppingCart")">@T("SevenSpikes.Themes.Beauty.HeaderShoppingCartBox.SeveralItemsText", @Model.ItemsCount)</a>

        }

    }
    <br />
    @T("SevenSpikes.Themes.Beauty.HeaderShoppingCartBox.End") *@

</div>
