﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    /* LOOKHERE SEO
    Html.AddTitleParts("My home page title");
    Html.AddMetaDescriptionParts("Vi erbjuder kvalitetsbatterier till hörapparater, hörselskydd & hjälpmedel. Vi har över 100 000 nöjda kunder och har funnits på nätet sedan 2005");
    Html.AddMetaKeywordParts("My meta keywords");
     */

    Html.AddMetaDescriptionParts("Vi erbjuder kvalitetsbatterier till hörapparater, hörselskydd & hjälpmedel. Vi har över 100 000 nöjda kunder och har funnits på nätet sedan 2005");

    MvcHtmlString homePageSliderHtml = MvcHtmlString.Empty;
    homePageSliderHtml = Html.Widget("home_page_slider_top");
}
    <div class="page home-page">
    <div class="page-body">
@if (!MvcHtmlString.IsNullOrEmpty(homePageSliderHtml))
{
    <div class="slider">
        @homePageSliderHtml
        <div class="shadow"> </div>
    </div><!--slider-->
}
    
@Html.Widget("home_page_top")

@Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })

@*@Html.Action("HomepageCategories", "Catalog")*@ @* Uncomment to show if wanted *@

@Html.Action("HomepageProducts", "Catalog", new { productThumbPictureSize = 180 }) @*changed the size of the images*@

@Html.Action("HomepageBestSellers", "Catalog")

@Html.Action("HomePageNews", "News")

@Html.Widget("jcarousel_home_page_after_news")

@Html.Action("HomePagePolls", "Poll")

@Html.Widget("home_page_bottom")
    </div>
</div>
