﻿/*
* Copyright 2013 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

.ribbon-wrapper {
    position: relative;
}

.product-list .ribbon-wrapper {
    float: left;
}

.product-ribbon, a.product-ribbon:hover{
    position: absolute;
	font-weight: bold;
	color: #fff;
    z-index: 2;
}

.product-ribbon * {
	display: inline-block;
}

a.product-ribbon * {
	cursor: pointer;
}

.product-ribbon.top-left {
    top: -5px;
    left: -5px;
}
.product-ribbon.top-right {
    top: -5px;
    right: -5px;
}
.product-ribbon.bottom-left {
    bottom: -5px;
    left: -5px;
}
.product-ribbon.bottom-right {
    bottom: -5px;
    right: -5px;
}

.ribbon-text {
	border-radius: 3px;
	box-shadow: inset 0 1px 0 #ea2626, 0 1px 2px #999; 
	background: #c00; /*old browsers*/
	background: linear-gradient(#e60000 0%,#b30000 100%);
	padding: 7px 10px;
}
.ribbon-image-text {
	position: absolute;
	top: 0;
	left: 0;
}