﻿/*
* Copyright 2013 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/



/*********************************** BEAUTY *********************************/



/********** START BUTTON *********/

/*All #CC0000 was oroginally #cc88cc------START------*/

.quick-view-button {
    border: 1px solid #310230;
	border-radius: 5px;
    box-shadow: 0 2px 0 0 #000;
	background: linear-gradient(to bottom,  #CC0000 0%,#310230 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CC0000), color-stop(100%,#310230)); /*Safari 4*/
	background: -webkit-linear-gradient(top,  #CC0000 0%,#310230 100%); /*Safari 5*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CC0000', endColorstr='#310230',GradientType=0 );
	color: #fff;
}
.product-list .quick-view-button:active {
    box-shadow: none;
    top: 164px;
	background: linear-gradient(to bottom,  #310230 0%,#CC0000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#310230), color-stop(100%,#CC0000)); /*Safari 4*/
    background: -webkit-linear-gradient(top,  #310230 0%,#CC0000 100%); /*Safari 5*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#310230', endColorstr='#CC0000',GradientType=0 );
}
.product-grid .quick-view-button:active {
    box-shadow: none;
    top: 168px;
	background: linear-gradient(to bottom,  #310230 0%,#CC0000 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#310230), color-stop(100%,#CC0000)); /*Safari 4*/
	background: -webkit-linear-gradient(top,  #310230 0%,#CC0000 100%); /*Safari 5*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#310230', endColorstr='#CC0000',GradientType=0 );
}
/*All #CC0000 was oroginally #cc88cc------END------*/
.product-grid .quick-view-button {
    top: 166px;
    left: 54px;
}
.product-list .quick-view-button {
    top: 162px;
    left: 55px;
}
.quick-view-button a {
    text-shadow: 1px 1px 1px #180a17;
}

/********** END BUTTON *********/

/********** START GALLERY *********/

.quickViewWindow .gallery .links-panel a {
    color: #CC0000; /*style change here*/
}

/********** END GALLERY *********/

/********** START PRODUCT ESSENTIAL *********/

.quickViewWindow .overview #accordion > h3 span.ui-icon-circle-arrow-s {
    background: url(images/minus.png) no-repeat center;
}
.quickViewWindow .overview #accordion > h3 span.ui-icon-circle-arrow-e {
    background: url(images/plus.png) no-repeat center;
}
.quickViewWindow .overview .left,
.quickViewWindow .overview .right {
    margin-bottom: 10px;
}
    .quickViewWindow .left .stock {
        margin-bottom: 13px;
    }
.quickViewWindow .left .back-in-stock-subscription {
        margin-bottom: 10px;
        font-size: 11px;
}
    .quickViewWindow .left .back-in-stock-subscription .subscribe-button {
        margin: 0;
        padding: 3px 6px;
        font: normal normal 11px/16px Tahoma, Geneva, sans-serif;
    }
    .quickViewWindow .left .back-in-stock-subscription .subscribe-button:hover {
        text-decoration: none;
    }

    .quickViewWindow .overview .email-a-friend input,
    .quickViewWindow .overview .compare-products input {
        margin: 0;
        font-size: 11px;
        float: none;
    }
    .quickViewWindow .overview .add-to-wishlist-button {
        margin: 0;
        float: none;
        display: inline;
        margin-right: 0;
        padding: 0 10px;
        font: normal normal 11px/24px Tahoma, Geneva, sans-serif;
        color: #333;
        text-shadow: 1px 1px 0 #fff;
        border: 1px solid #ccc;
        border-radius: 3px;
        cursor: pointer;
    }
.quickViewWindow .overview .add-to-wishlist-button,
.quickViewWindow .overview .subscribe-button {
    background: url('images/button5.png') top repeat-x;
}
.quickViewWindow .overview .add-to-wishlist-button:hover,
.quickViewWindow .overview .subscribe-button:hover {
    background: url('images/button5.png') bottom repeat-x;
}
.quickViewWindow .overview #accordion .purchase-area {
    border-top: 1px dashed #999;
    overflow:hidden;
    padding: 10px 0 0;
    margin-top: 10px;
    width: inherit;
    float: none;
    clear: both;
}
    .quickViewWindow .overview #accordion .purchase-area.prices{
        float: left;
        margin: 0;
    }
    .quickViewWindow .overview #accordion .purchase-area .prices .old-product-price,
    .quickViewWindow .overview #accordion .purchase-area .prices .product-price{
        display: block;
    }
        .quickViewWindow .overview #accordion .purchase-area .prices .old-product-price,
        .quickViewWindow .overview #accordion .variant-info .prices .old-product-price {
            font: normal normal 12px/38px Tahoma, Geneva, sans-serif;
            color: #999;
            text-decoration: line-through;
        }
        .quickViewWindow .overview #accordion .purchase-area .prices .product-price,
        .quickViewWindow .overview #accordion .variant-info .prices .product-price {
            font: normal bold 15px/38px Tahoma, Geneva, sans-serif;
            color: #000000; /*style change here change price color*/
        }
.quickViewWindow .overview .purchase-area .add-to-cart {
    float: right;
}
.quickViewWindow .overview .purchase-area .add-to-cart > * {
    float: left;
}
.quickViewWindow .overview .purchase-area .add-to-cart .add-to-wishlist-button {
    display: none;
}

    .quickViewWindow .overview .purchase-area .add-to-cart .qty-label {
        line-height: 38px;
        margin-right: 10px;
    }
.quickViewWindow .overview .full-description {
    border: none;
}
.quickViewWindow .overview .product-specs-box .title {
    display: none;
}

/********** END PRODUCT ESSENTIAL *********/    

/********** START RELATED/ALSO-PURCHASED PRODUCTS *********/

.quickViewWindow .product-grid {
    overflow: hidden;
    float: right;
    background: #f6f6f4;
    box-shadow: 0 2px 2px 0 #ccc;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    text-align:center;
    padding-bottom: 5px;
    border: none;
}
    .quickViewWindow .product-grid .item-grid {
        padding: 0;
        height: 142px;
        overflow: hidden;
    }
.quickViewWindow .product-grid .item-row {
        margin-top: 0;
        padding: 0 0 0 2px;
    }
.quickViewWindow .product-grid .item-box {
    margin: 0 0 10px 17px;
    text-align: center;
    height: 140px;
    min-height: 0;
    width: 108px;
    padding: 0;
    overflow: hidden;
}
.quickViewWindow .product-grid .item-box .product-item{
    width: auto;
    height: auto;
    text-align: inherit;
}
    
.quickViewWindow .product-grid .item-box .picture {
    width: 108px;
    border: none;
}
    .quickViewWindow .product-grid .item-box .picture a {
        overflow: hidden;
        display: block;
        width: 85px;
        height: 85px;
        margin: 0 auto;
    }
.quickViewWindow .product-grid .product-item {
    border: none;
}

    .quickViewWindow .product-grid .product-item .description,
    .quickViewWindow .product-grid .product-item .product-rating-box {
        display: none;
    }
    .quickViewWindow .product-grid .product-item .picture {
        box-shadow: none;
        height: 85px;
        float: none;
        overflow: hidden;
        background: none;
        line-height: 85px;
        margin: 10px 0;
    }
.quickViewWindow .product-grid .picture img {
    vertical-align: inherit;
}
.quickViewWindow .also-purchased-products-grid .item-box {
    margin-left: 6px;
}

    .quickViewWindow .product-grid .item-box .product-title {
        padding: 0 5px;
        font-size: 10px;
        line-height: 1.4;
        height: 27px;
    }

        .quickViewWindow .product-grid .item-box .product-title a {
            display: inline;
            line-height: inherit;
        }

.quickViewWindow .product-grid .product-item .add-info {
    display: none;
}

    .quickViewWindow .product-grid .product-item .add-info .prices {
        position: relative;
        text-align: center;
        top: 0;
        left: 0;
        margin: 6px 0;
    }
    .quickViewWindow .product-grid .product-item .add-info .buttons {
        position: relative;
        text-align: center;
        top: 0;
        left: 0;
    }
        .quickViewWindow .product-grid .product-item .add-info .buttons * {
            float: none;
        }
.quickViewWindow .related-products-grid .title,
.quickViewWindow .also-purchased-products-grid .title {
    text-align: center;
}
.quickViewWindow .related-products-grid .title strong,
.quickViewWindow .also-purchased-products-grid .title strong {
    padding: 0;
    background: none;
    font-size: 30px;
}
.quickViewWindow .product-grid .grid-header {
    background: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.quickViewWindow .product-grid .title {
    background: none;
    font-size: 18px;
    padding: 5px 0;
}

/********** END RELATED/ALSO-PURCHASED PRODUCTS *********/

/********** START BOTTOM PANEL *********/

.quickViewWindow .purchase-area {
    float: right;
}

/********** END BOTTOM PANEL *********/

/********* START VARIANTS IN GRID ********/

.quickViewWindow .overview .product-variant .prices .product-price {
    font-size: 14px !important;
}
.quickViewWindow .overview .product-variant .prices .product-price,
.quickViewWindow .overview .product-variant .prices .old-product-price {
    line-height: 24px !important;
}

/********* END VARIANTS IN GRID ********/

/********* START GIFTCARD *********/

.quickView .giftcard {
    margin:0;
    border-top: 1px dashed #999;
    padding: 10px 0 0;
}
.quickView .giftcard input[type=text] {
    width: 238px;
}
.quickView .giftcard textarea {
    width: 240px;
}

/********* END GIFTCARD *********/

.quickViewWindow .overview .attributes select {
    max-width: 270px;
}