﻿
.quickViewWindow .product-grid .title {
    background: none !important;
    padding: 0 !important;
}

/* BUTTON */

.product-grid .quick-view-button {
    right: 54px;
    left: inherit !important;
}
.product-list .quick-view-button {
    right: 55px;
    left: inherit !important;
}