﻿@model OrderDetailsModel
@using Nop.Web.Models.Order;
@{
    if (!Model.PrintMode)
    {
        Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Print.cshtml";
    }
    //title    

    Html.AddTitleParts(T("PageTitle.OrderDetails").Text);

    var theme = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Web.Framework.Themes.IThemeContext>().WorkingDesktopTheme;
}


@if (Model.PrintMode)
{
    <script type="text/javascript">
        $(document).ready(function () {
            window.print();
        });

        function eatFood() {
            alert('Form has been submitted');
        }

    </script>
}
<div class="page order-details-page">
    @if (!Model.PrintMode)
    {
        <div class="page-title">
            @if (Model.isCardPaymentAndUnpaid == true)
            {
                <h1>@T("Order.OrderInformation") - (Saknar kortbetalning)</h1>
            }
            else
            {
            <h1>@T("Order.OrderInformation")</h1>
            }
            <a href="@Url.RouteUrl("PrintOrderDetails", new { orderId = Model.Id })" target="_blank" class="button-2 print-order-button">@T("Order.Print")</a>
            <!-- <a href="@Url.RouteUrl("GetOrderPdfInvoice", new { orderId = Model.Id })" class="button-2 pdf-order-button">@T("Order.GetPDFInvoice")</a>-->
        </div>
    }
    <div class="page-body">
        @Html.Widget("orderdetails_page_top")
        <div class="order-overview">           

            @if (Model.isCardPaymentAndUnpaid == true)
            {
            <div class="OrderIsUnpaidCardText">
                 <Strong>Din kortbetalning kunde tyvärr inte genomföras. </Strong><br />        
För att ordern ska behandlas måste betalning genomföras, du kan göra ett nytt försök genom att klicka på Genomför kortbetalning nedan. <br />
Du har också möjlighet att ändra betalsätt till faktura genom att klicka på Ändra till faktura.<br />
OBS om du ändrar till faktura så kan du inte ändra tillbaka till kortbetalning igen.<br />

                
                 </div>
               
                if (Model.SveaWebPayFormIsSet == true)
                {        
                  <div class="order-number">
                      <br />
                      <form name="paymentForm" data-log_location="@Url.Action("logSveaPaymentRedirect/" + Model.Id, "Order")" id="paymentForm" method="post" action="@Model.SveaWebPayForm.GetPayPageUrl()">
                          <input type="hidden" name="merchantid" value="@Model.SveaWebPayForm.GetMerchantId()" />
                          <input type="hidden" name="message" value="@Model.SveaWebPayForm.GetXmlMessageBase64()" />
                          <input type="hidden" name="mac" value="@Model.SveaWebPayForm.GetMacSha512()" />
                          <noscript><p>Javascript är inaktiverat i er webbläsare, ni får dirigera om till paypage manuellt</p></noscript>
                          @*<input type="submit" name="submitter" value="Genomför kortbetalning" class="button-1 re-order-button" /></form>*@
                          @*replaced re-order-button in whole doc with overrideToWhiteButton2*@
                          <input type="submit" name="submitter" value="Genomför kortbetalning" class="button-1 overrideToWhiteButton2	" />
                      </form> 
                       </div>
                                 <br />  
                         @*<input type="button" value="Ändra till faktura" class="button-1 re-order-button"  onclick="location.href='@Url.Action("ChangeToInvoice/"+@Model.Id, "Order")'" />*@
    <input type="button" value="Ändra till faktura" class="button-1 overrideToWhiteButton2" onclick="if(confirm('Ändra till faktura? Om du väljer att genomföra detta kan du inte återgå till kortbetalning.'))
           location.href='@Url.Action("ChangeToInvoice/"+@Model.Id, "Order")    ' " />

                }
            }           


            <div class="order-number">
                <strong>@T("Order.Order#")&nbsp @Model.Id</strong> 
            </div>
            <div class="order-details">
                <span>@T("Order.OrderDate"): @Model.CreatedOn.ToString("D")</span><br />
                <span>@T("Order.OrderStatus"): @Model.OrderStatus</span><br />
                <span>@T("Order.PaymentStatus"): @Model.PaymentStatus</span>
            </div>
            <div class="order-total">
                @T("Order.OrderTotal"): <strong>@Model.OrderTotal</strong>
            </div>
            @Html.Widget("orderdetails_page_overview")
        </div>
        <div class="order-details-area">
            <table>
                <tbody>
                    <tr>
                        <td><strong> @T("Order.BillingAddress")</strong>
                            <ul class="billing-info">                                
                                <li class="name">
                                    @Model.BillingAddress.FirstName @Model.BillingAddress.LastName
                                </li>
                                <li class="email">
                                    @T("Order.Email"): @Model.BillingAddress.Email
                                </li>
                                @if (Model.BillingAddress.PhoneEnabled)
                                {
                                    <li class="phone">
                                        @T("Order.Phone"): @Model.BillingAddress.PhoneNumber
                                    </li>
                                }
                                @if (Model.BillingAddress.FaxEnabled)
                                {
                                    <li class="fax">
                                        @T("Order.Fax"): @Model.BillingAddress.FaxNumber
                                    </li>
                                }
                                @if (Model.BillingAddress.CompanyEnabled && !String.IsNullOrEmpty(Model.BillingAddress.Company))
                                {
                                    <li class="company">
                                        @Model.BillingAddress.Company
                                    </li>
                                }
                                @if (Model.BillingAddress.StreetAddressEnabled)
                                {
                                    <li class="address1">
                                        @Model.BillingAddress.Address1
                                    </li>
                                }
                                @if (Model.BillingAddress.StreetAddress2Enabled && !String.IsNullOrEmpty(Model.BillingAddress.Address2))
                                {
                                    <li class="address2">
                                        @Model.BillingAddress.Address2
                                    </li>
                                }
                                @if (Model.BillingAddress.CityEnabled ||
                            Model.BillingAddress.StateProvinceEnabled ||
                            Model.BillingAddress.ZipPostalCodeEnabled)
                                {
                                    <li class="city-state-zip">

                                        @if (Model.BillingAddress.StateProvinceEnabled)
                                        {
                                            @Model.BillingAddress.StateProvinceName
                                        }
                                        @if (Model.BillingAddress.ZipPostalCodeEnabled)
                                        {
                                            @Model.BillingAddress.ZipPostalCode
                                        }
                                        @if (Model.BillingAddress.CityEnabled && (Model.BillingAddress.StateProvinceEnabled || Model.BillingAddress.ZipPostalCodeEnabled))
                                        {
                                            <text>,</text>
                                        }
                                        @if (Model.BillingAddress.CityEnabled)
                                        {
                                            @Model.BillingAddress.City
                                        }

                                    </li>
                                }
                                @if (Model.BillingAddress.CountryEnabled && !String.IsNullOrEmpty(Model.BillingAddress.CountryName))
                                {
                                    <li class="country">
                                        @Model.BillingAddress.CountryName
                                    </li>
                                }
                                @if (!String.IsNullOrEmpty(Model.VatNumber))
                                {
                                    <li class="vat">
                                        <span class="vat-label">
                                            <strong>@T("Order.VATNumber")</strong>
                                        </span>
                                        <span class="vat-value">
                                            @Model.VatNumber
                                        </span>
                                    </li>
                                }
                                @if (!String.IsNullOrEmpty(Model.PaymentMethod))
                                {
                                    <li class="title">
                                        <strong>@T("Order.PaymentMethod")</strong>
                                    </li>
                                    <li class="payment-method">

                                        @if (Model.PaymentMethod == "Cash On Delivery (COD)")
                                        {
                                            <text>Faktura</text>
                                        }
                                        @if (Model.PaymentMethod == "Credit Card")
                                        {
                                            <text>Kortbetalning</text>
                                        }

                                    </li>
                                    if (!Model.PrintMode && Model.CanRePostProcessPayment)
                                    {
@*Completing payment support (for redirection payment methods)*@
                                    <li class="repost">
                                        @using (Html.BeginRouteForm("OrderDetails", FormMethod.Post))
                                        {
                                            <input type="submit" name="repost-payment" value="@T("Order.CompletePayment")" class="button-1 overrideToWhiteButton2" />
                                            <p class="hint">
                                                <em>@T("Order.CompletePayment.Hint")</em>
                                            </p>
                                        }
                                    </li>
                                    }
                                }
                                @if (Model.DisplayPurchaseOrderNumber)
                                {
                                    <li class="po">
                                        <span class="po-label">
                                            <strong>@T("Order.PurchaseOrderNumber")</strong>
                                        </span>
                                        <span class="po-value">
                                            @Model.PurchaseOrderNumber
                                        </span>
                                    </li>
                                }
                            </ul>
                        </td>
                        @if (Model.IsShippable)
                        {
                            <td><strong>
                                @T("Order.ShippingAddress")
                            </strong>
                                <ul class="shipping-info">
                                    
                                    <li class="name">
                                        @Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName
                                    </li>
                                    <li class="email">
                                        @T("Order.Email"): @Model.ShippingAddress.Email
                                    </li>
                                    @if (Model.ShippingAddress.PhoneEnabled)
                                    {
                                        <li class="phone">
                                            @T("Order.Phone"): @Model.ShippingAddress.PhoneNumber
                                        </li>
                                    }
                                    @if (Model.ShippingAddress.FaxEnabled)
                                    {
                                        <li class="fax">
                                            @T("Order.Fax"): @Model.ShippingAddress.FaxNumber
                                        </li>
                                    }
                                    @if (Model.ShippingAddress.CompanyEnabled && !String.IsNullOrEmpty(Model.ShippingAddress.Company))
                                    {
                                        <li class="company">
                                            @Model.ShippingAddress.Company
                                        </li>
                                    }
                                    @if (Model.ShippingAddress.StreetAddressEnabled)
                                    {
                                        <li class="address1">
                                            @Model.ShippingAddress.Address1
                                        </li>
                                    }
                                    @if (Model.ShippingAddress.StreetAddress2Enabled && !String.IsNullOrEmpty(Model.ShippingAddress.Address2))
                                    {
                                        <li class="address2">
                                            @Model.ShippingAddress.Address2
                                        </li>
                                    }
                                    @if (Model.ShippingAddress.CityEnabled ||
                                     Model.ShippingAddress.StateProvinceEnabled ||
                                     Model.ShippingAddress.ZipPostalCodeEnabled)
                                    {
                                        <li class="city-state-zip">
                                            @if (Model.ShippingAddress.StateProvinceEnabled)
                                            {
                                                @Model.ShippingAddress.StateProvinceName
                                            }
                                            @if (Model.ShippingAddress.ZipPostalCodeEnabled)
                                            {
                                                @Model.ShippingAddress.ZipPostalCode
                                            }
                                            @if (Model.ShippingAddress.CityEnabled && (Model.ShippingAddress.StateProvinceEnabled || Model.ShippingAddress.ZipPostalCodeEnabled))
                                            {
                                                <text>,</text>
                                            }
                                            @if (Model.ShippingAddress.CityEnabled)
                                            {
                                                @Model.ShippingAddress.City
                                            }

                                        </li>
                                    }
                                    @if (Model.ShippingAddress.CountryEnabled && !String.IsNullOrEmpty(Model.ShippingAddress.CountryName))
                                    {
                                        <li class="country">
                                            @Model.ShippingAddress.CountryName
                                        </li>
                                    }
                                    <li class="title">
                                        <strong>@T("Order.ShippingMethod")</strong>
                                    </li>
                                    <li class="shipping-method">
                                        @Model.ShippingMethod
                                    </li>
                                </ul>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
        @Html.Widget("orderdetails_page_beforeproducts")
        @if (Model.Items.Count > 0)
        {
            <div class="section products">
                <div class="title">
                    <strong>@T("Order.Product(s)")</strong>
                </div>
                <table class="data-table">
                    <colgroup>
                        <col />
                        @if (Model.ShowSku)
                        {
                            <col width="1" />
                        }
                        <col />
                        @if (!Model.PrintMode)
                        {
                            <col width="1" />
                        }    
                        <col />
                        <col />
                        <col />
                    </colgroup>
                    <thead>
                        <tr>
                            <th><span class="item-count">#</span></th>
                            @if (Model.ShowSku)
                            {
                                <th class="a-center sku" data-hide="w410, w480, w580, w768">
                                    @T("Order.Product(s).SKU")
                                </th>
                            }
                            <th class="a-center name">
                                @T("Order.Product(s).Name")
                            </th>
                            @if (!Model.PrintMode)
                            {
                                <th data-hide="w410, w480, w580">@T(String.Format("SevenSpikes.Themes.{0}.Common.GoTo", theme))</th>
                            }    
                            <th class="a-center price" data-hide="w410, w480">
                                @T("Order.Product(s).Price")
                            </th>
                            <th class="a-center quantity" data-hide="w410, w480">
                                @T("Order.Product(s).Quantity")
                            </th>
                            <th class="a-center total">
                                @T("Order.Product(s).Total")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{var counter = 0;}
                        @foreach (var item in Model.Items)
                        {
                            counter++;
                            <tr>
                                <td><span class="item-count">@counter</span></td>
                                @if (Model.ShowSku)
                                {
                                    <td class="a-left sku">
                                        @item.Sku
                                    </td>
                                }
                                <td class="a-left name">
                                    @item.ProductName
                                    @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                    {
                                        <div class="attributes">
                                            @Html.Raw(item.AttributeInfo)
                                        </div>
                                    }
                                </td>
                                @if (!Model.PrintMode)
                                {
                                    <td>
                                        <a class="go-to-page" href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@T(String.Format("SevenSpikes.Themes.{0}.Common.GoToPage", theme))</a>
                                    </td>
                                }    
                                <td class="a-right price">
                                    @item.UnitPrice
                                </td>
                                <td class="a-center quantity">
                                    @item.Quantity
                                </td>
                                <td class="a-right total">
                                    @item.SubTotal
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
                {
                    <div class="checkout-attributes">
                        @Html.Raw(Model.CheckoutAttributeInfo)
                    </div>
                }
                @if (!Model.PrintMode)
                {
                    <div class="actions">
                        @if (Model.IsReOrderAllowed)
                        {
                            <input type="button" value="@T("Order.Reorder")" class="button-1 overrideToWhiteButton2" onclick="setLocation('@Url.RouteUrl("ReOrder", new { orderId = Model.Id })    ')" />
                        }
                        @if (Model.IsReturnRequestAllowed)
                        {
                            <text>&nbsp; &nbsp; &nbsp;</text>
                            <input type="button" value="@T("Order.ReturnItems")" class="button-2 return-items-button" onclick="setLocation('@Url.RouteUrl("ReturnRequest", new { orderId = Model.Id })    ')" />
                        }
                    </div>
                }
            </div>
        }
        @Html.Widget("orderdetails_page_afterproducts")
        <div class="total-info">
            <table class="cart-total">
                <tbody>
                    <tr>
                        <td class="cart-total-left">
                            <strong>
                                @T("Order.SubTotal"):</strong>
                        </td>
                        <td class="cart-total-right">
                            <span class="nobr">
                                @Model.OrderSubtotal
                            </span>
                        </td>
                    </tr>
                    @if (!string.IsNullOrEmpty(Model.OrderSubTotalDiscount))
                    {
                        <tr>
                            <td class="cart-total-left">
                                <strong>
                                    @T("Order.SubTotalDiscount"):</strong>
                            </td>
                            <td class="cart-total-right">
                                <span class="nobr">
                                    @Model.OrderSubTotalDiscount
                                </span>
                            </td>
                        </tr>
                    }
                    @if (Model.IsShippable)
                    {
                        <tr>
                            <td class="cart-total-left">
                                <strong>
                                    @T("Order.Shipping"):</strong>
                            </td>
                            <td class="cart-total-right">
                                <span class="nobr">
                                    @Model.OrderShipping
                                </span>
                            </td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(Model.PaymentMethodAdditionalFee))
                    {
                        <tr>
                            <td class="cart-total-left">
                                <strong>
                                    @T("Order.PaymentMethodAdditionalFee"):</strong>
                            </td>
                            <td class="cart-total-right">
                                <span class="nobr">
                                    @Model.PaymentMethodAdditionalFee
                                </span>
                            </td>
                        </tr>
                    }
                    @if (Model.DisplayTaxRates && Model.TaxRates.Count > 0)
                    {
                        foreach (var taxRate in Model.TaxRates)
                        {
                        <tr>
                            <td class="cart-total-left">
                                <strong>
                                    @string.Format(T("Order.TaxRateLine").Text, taxRate.Rate):</strong>
                            </td>
                            <td class="cart-total-right">
                                <span class="nobr">
                                    @taxRate.Value
                                </span>
                            </td>
                        </tr>
                        }
                    }
                    @if (Model.DisplayTax)
                    {
                        <tr>
                            <td class="cart-total-left">
                                <strong>
                                    @T("Order.Tax"):</strong>
                            </td>
                            <td class="cart-total-right">
                                <span class="nobr">
                                    @Model.Tax
                                </span>
                            </td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(Model.OrderTotalDiscount))
                    {
                        <tr>
                            <td class="cart-total-left">
                                <strong>
                                    @T("Order.TotalDiscount"):</strong>
                            </td>
                            <td class="cart-total-right">
                                <span class="nobr">
                                    @Model.OrderTotalDiscount
                                </span>
                            </td>
                        </tr>
                    }
                    @if (Model.GiftCards.Count > 0)
                    {
                        foreach (var gc in Model.GiftCards)
                        {
                        <tr>
                            <td class="cart-total-left">
                                <strong>
                                    @string.Format(T("Order.GiftCardInfo").Text, gc.CouponCode):</strong>
                            </td>
                            <td class="cart-total-right">
                                <span class="nobr">
                                    @gc.Amount
                                </span>
                            </td>
                        </tr>
                        }
                    }
                    @if (Model.RedeemedRewardPoints > 0)
                    {
                        <tr>
                            <td class="cart-total-left">
                                <strong>@string.Format(T("Order.RewardPoints").Text, Model.RedeemedRewardPoints):</strong>
                            </td>
                            <td class="cart-total-right">
                                <span class="nobr">
                                    @Model.RedeemedRewardPointsAmount
                                </span>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td class="cart-total-left">
                            <strong>
                                @T("Order.OrderTotal"):</strong>
                        </td>
                        <td class="cart-total-right">
                            <span class="nobr"><strong>
                                @Model.OrderTotal</strong>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        @if (!Model.PrintMode)
        {
            if (Model.Shipments.Count > 0)
            {
            <div class="section shipments">
                <div class="title">
                    <strong>@T("Order.Shipments")</strong>
                </div>
                <table class="data-table">
                    <colgroup>
                        <col width="1" />
                        <col width="1" />
                        <col />
                        <col />
                        <col />
                        <col />
                    </colgroup>
                    <thead>
                        <tr>
                            <th><span class="item-count">#</span></th>
                            <th class="a-center id" data-hide="w410, w480, w580, w768">
                                @T("Order.Shipments.ID")
                            </th>
                            <th class="a-center tracking-number">
                                @T("Order.Shipments.TrackingNumber")
                            </th>
                            <th class="a-center shipped-date" data-hide="w410, w480, w580">
                                @T("Order.Shipments.ShippedDate")
                            </th>
                           @* <th class="a-center delivery-date" data-hide="w410, w480, w580">
                                @T("Order.Shipments.DeliveryDate")
                            </th>*@
                            <th class="a-center details">
                                @T("Order.Shipments.ViewDetails")
                            </th>
                        </tr>
                    </thead>
                    <tbody>               

                        @* EDITED added links for tracking shipping. Depending on the chosen shipping method, the corresponding link will be presented *@

                        @{var counter = 0;}
                        @foreach (var item in Model.Shipments)
                        {
                            if (item.TrackingNumber != "" && item.TrackingNumber != null)
                            {                                
                                if (Model.ShippingMethod.Contains("Posten") )
                                {
                                    <text>Din order skickas med posten. Du kan spåra din leverans genom att ange ditt spårningsnummer                             
                            <a href="http://www.posten.se/sv/Kundservice/Sidor/Sok-brev-paket.aspx">HÄR.</a>   <br />     </text>               
                        
                       
                                                   }
                                                   else
                                                   {
                                       <text>Din order skickas med Schenker. Du kan spåra din order genom att ange ditt spårningsnummer  
                              <a href="http://www.logistics.dbschenker.se/log-se-se/produkter_tjanster/tracking.html">HÄR.</a>   <br />     </text> 
                                
                                               }
                              }                            
                            
                             counter++;
                            <tr>
                                <td><span class="item-count">@counter</span></td>
                                <td class="a-left id">
                                    @item.Id.ToString()
                                </td>
                                <td class="a-left tracking-number">
                                    @item.TrackingNumber
                                </td>
                                <td class="a-left shipped-date">
                                    @if (item.ShippedDate.HasValue)
                                    {
                                        @item.ShippedDate.Value.ToString("D")
                                    }
                                    else
                                    {
                                        @T("Order.Shipments.ShippedDate.NotYet")
                                    }
                                </td>
                              @*  <td class="a-left delivery-date">
                                    @if (item.DeliveryDate.HasValue)
                                    {
                                        @item.DeliveryDate.Value.ToString("D")
                                    }
                                    else
                                    {
                                        @T("Order.Shipments.DeliveryDate.NotYet")
                                    }
                                </td>*@
                                <td class="a-center details">
                                    <a href="@Url.RouteUrl("ShipmentDetails", new { shipmentId = item.Id })" title="@T("Order.Shipments.ViewDetails")">@T("Order.Shipments.ViewDetails")</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            }
        }
        @if (!Model.PrintMode)
        {
            if (Model.OrderNotes.Count > 0)
            {
            <div class="section order-notes">
                <div class="title">
                    <strong>@T("Order.Notes")</strong>
                </div>
                <table class="data-table">
                    <colgroup>
                        <col />
                        <col />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="a-center createdon">
                                @T("Order.Notes.CreatedOn")
                            </th>
                            <th class="a-center note">
                                @T("Order.Notes.Note")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderNotes)
                        {
                            <tr>
                                <td class="a-left createdon">
                                    @item.CreatedOn.ToString()
                                </td>
                                <td class="a-left note">
                                    @Html.Raw(item.Note)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            }
        }
        @Html.Widget("orderdetails_page_bottom")
    </div>
</div>
    <script type="text/javascript">
       
        function logPayment() {
            //Url.Action("ChangeToInvoice/1111", "Order");

            

            $.ajax({
                
                url: '@Url.Action("logSveaPaymentRedirect/" + Model.Id, "Order")',
             
                type: 'GET',      
                data: { id: 0 },
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function (data) {
                }
            });
             
        }  


        
        $(function() {
            $('#paymentForm').on('submit', function(event) {
                event.preventDefault();

                $.ajax({
                    url: $(this).data('log_location'),
                    context: this,
                    complete: function(data) {                        
                        $(this).off('submit');
                        $(this).submit();  

                    },
                    error:function(data) {                     
                        $(this).off('submit');
                        $(this).submit();
                    }
                });
            });
                });

        </script>