﻿@model CheckoutCompletedModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.Common;
@using Nop.Web.Framework.UI;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
@if (!Model.OnePageCheckoutEnabled)
{
    @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Complete })
}
<div class="checkout-page">
    <div class="page-title">
        <h1>KLART</h1>
    </div>
    <div class="page-body">
        <div class="checkout-data">
            @Html.Widget("checkout_completed_top")
            <div class="section order-completed">
                <div class="title">
                    @*<strong>@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</strong>*@
                    <strong>Tack för din beställning!</strong>
                </div>
                <ul class="details">
                    @*<li>
                        @T("Checkout.OrderNumber"): @Model.OrderId
                    </li>*@
                    <li>
                        Du kan se information om dina ordrar under <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">Mina ordrar</a>
                    </li>
                    <li>
                        @*<a href="@Url.RouteUrl("HomePage", new { orderID = Model.OrderId })">Fortsätt handla</a>*@
                    </li>
</ul>
                <div class="buttons">
                @*<input type="button" value="Fortsätt handla" class="button-2 order-completed-continue-button" onclick="setLocation('@Url.RouteUrl("HomePage")')" />*@
                    <input type="button" value="Fortsätt handla" class="button-2 overrideToWhiteButton2" onclick="setLocation('@Url.RouteUrl("HomePage")')" />
                </div>
            </div>
            @Html.Widget("checkout_completed_bottom")
        </div>
    </div>
</div>
