﻿@model CheckoutPaymentMethodModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.Common;
@using Nop.Web.Framework.UI;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
@Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Payment })
<div class="checkout-page">
    <div class="page-title">
        <h1>@T("Checkout.SelectPaymentMethod")</h1>
    </div>
    <div class="page-body">


    @Html.Widget("checkout_payment_method_top")
    <div class="checkout-data">

        @if (Model.missingSocialNumber == true)
        {
            <text> <strong>Faktura</strong><br />Du behöver ange ett personnummer för att kunna beställa via faktura. <br /><br /> </text>

            using (Html.BeginForm("AddSocialnumberCheckout", "Checkout", FormMethod.Post, new { id = "addSocialNumberForm" }))
            {
                //@Html.HiddenFor(model => model.AddSocialNumber, new { id = "hiddenNewSocialnumber" })
           <text> Personnummer:&nbsp;&nbsp; </text>
                @Html.EditorFor(model => model.AddSocialNumber)
                @*<text> &nbsp; &nbsp; &nbsp;</text><input type="submit" style="width: 110px;height: 30px;font-size: 13px" value="Lägg till" class="payment-method-next-step-button" /><br />*@
            <text> &nbsp; &nbsp; &nbsp;</text><input type="submit" style="width: 110px;height: 30px;font-size: 13px" value="Lägg till" class="overrideToWhiteButton5" /><br />
               @Html.ValidationMessageFor(model => model.AddSocialNumber)
            <br /><br />
             @*<button class="button-1 save-address-button" onclick="addSocialNumber()">Lägg till</button>*@
            }
        }

        @using (Html.BeginRouteForm("CheckoutPaymentMethod", FormMethod.Post))
            {
                if (Model.DisplayRewardPoints && Model.PaymentMethods.Count > 0)
                {
                    <div class="userewardpoints">
                        @Html.EditorFor(model => model.UseRewardPoints)
                        @string.Format(T("Checkout.UseRewardPoints").Text, Model.RewardPointsBalance, Model.RewardPointsAmount)
                    </div>
                }
                if (Model.PaymentMethods.Count > 0)
                {
                    <ul class="method-list">
                        @for (int i = 0; i < Model.PaymentMethods.Count; i++)
                        {
                            if (Model.forceCardPayment == false || Model.PaymentMethods[i].PaymentMethodSystemName == "Payments.Manual")
                            {
                            var paymentMethod = Model.PaymentMethods[i];
                                if (Model.forceCardPayment == true){
                                    if (Model.missingSocialNumber == true)
                                    {
                                            }
                                            if (Model.notSwedenDelivery == true)
                                            {

                                                <text> Vid leverans till andra länder än Sverige godkänner vi endast kortbetalning.  </text>
                                            }
                                            }
                                            <li>
                                                <div class="method-name">
                                                    @if (Model.forceCardPayment == true && paymentMethod.PaymentMethodSystemName == "Payments.Manual")
                                                    {
                                                     <input onclick="showInfo('@paymentMethod.PaymentMethodSystemName')" id="paymentmethod_@(i)" type="radio" name="paymentmethod" value="@(paymentMethod.PaymentMethodSystemName)" checked="checked" />
                                                    }
                                                    else
                                                    {
                                                      <input onclick="showInfo('@paymentMethod.PaymentMethodSystemName')" id="paymentmethod_@(i)" type="radio" name="paymentmethod" value="@(paymentMethod.PaymentMethodSystemName)" checked="@paymentMethod.Selected" />

                                                    }
                                                    
                                                    @if (paymentMethod.PaymentMethodSystemName == "Payments.CashOnDelivery")
                                    {
                                                        <label for="paymentmethod_@(i)">Faktura</label>

                                                        <div class="info" id="invoiceInfo">
                                                            Betalningsvillkor vid val av faktura är 30 dagar. Varor till ett värde över 700 kr skickas alltid mot postförskott även om du valt faktura.
                                                            Earstore.se förbehåller sig rätten att begära en kreditupplysning i enlighet med svenska kreditupplysningslagen (SFS 1973:1173), när vi går med på att ingå en kreditöverenskommelse med dig och skicka en faktura till dig i samband med att produkterna levereras till dig.

                                                        </div>
                                    }
                                                    @if (paymentMethod.PaymentMethodSystemName == "Payments.Manual")
                                    {
                                                        <label for="paymentmethod_@(i)">Kortbetalning</label>
                                                        
                                                        <div class="info" id="cardInfo">
                                                        Vi accepterar följande kort: Visa och MasterCard.
                                                        Känslig information såsom kontokortsnummer lagras inte av Earstore utan skickas endast vidare krypterat till kreditkortsföretaget SveaEkonomi.
                                                        </div>

                                    }
                                    @*<label for="paymentmethod_@(i)">@paymentMethod.Name</label>*@
                                    @if (!String.IsNullOrEmpty(paymentMethod.Fee))
                                    {
                                        <text>(</text>
                                        @paymentMethod.Fee
                                        <text>)</text>
                                    }
                                </div>
                            </li>
                        }
                        }
                    </ul>
                    <div class="buttons">
                        @*<input type="submit" name="nextstep" value="@T("Checkout.NextButton")" class="payment-method-next-step-button" />*@
                        <input type="submit" name="nextstep" value="@T("Checkout.NextButton")" class="overrideToWhiteButton2" />
                    </div>
                }
                else
                {
                    <div class="message-error">
                        @T("Checkout.NoPaymentMethods")
                    </div>
                }
            }
    </div>
    @Html.Widget("checkout_payment_method_bottom")
    @*<div class="section order-summary-body">
            <div class="title">
                <strong>@T("Checkout.OrderSummary")</strong>
            </div>
            @Html.Action("OrderSummary", "ShoppingCart")
        </div>*@
</div>
</div>

<script>
    $(document).ready(function () {


        var elements = document.getElementsByName("paymentmethod")

 
        for (var i = 0; i < elements.length; i++) {
            if (elements[i].checked == true) {
                showInfo(elements[i].defaultValue);
            }
        }
        
    });


        function showInfo(paymentSystemName){
            if (paymentSystemName == "Payments.CashOnDelivery") {
                if (document.getElementById("invoiceInfo") != null) {

                    document.getElementById("invoiceInfo").style.cssText = ""
                }
                document.getElementById("cardInfo").style.cssText = "display:none"
            }
            else {
                if (document.getElementById("invoiceInfo") != null) {
                    document.getElementById("invoiceInfo").style.cssText = "display:none"
                }
                document.getElementById("cardInfo").style.cssText = ""
            }

    }

    function addSocialNumber() {          
        document.getElementById("addSocialNumberForm").submit();      
    }
</script>
