﻿@model CheckoutShippingMethodModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.Common;
@using Nop.Web.Framework.UI;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
@Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Shipping })
<div class="checkout-page">
    <div class="page-title">
        <h1>@T("Checkout.SelectShippingMethod")</h1>
    </div>
    <div class="page-body">
        @Html.Widget("checkout_shipping_method_top")
        <div class="checkout-data">
            @using (Html.BeginRouteForm("CheckoutShippingMethod", FormMethod.Post))
            {
                if (Model.Warnings.Count == 0)
                {
                    <ul class="method-list">
                        @for (int i = 0; i < Model.ShippingMethods.Count; i++)
                        {
                            var shippingMethod = Model.ShippingMethods[i];
                            <li>
                                <div class="method-name">
                                    <input id="shippingoption_@(i)" type="radio" name="shippingoption" value="@(shippingMethod.Name)___@(shippingMethod.ShippingRateComputationMethodSystemName)" checked="@shippingMethod.Selected" />
                                    <label for="shippingoption_@(i)">@shippingMethod.Name (@shippingMethod.Fee)</label>
                                </div>
                                @if (!String.IsNullOrEmpty(shippingMethod.Description))
                                {
                                    <div class="method-description">
                                        @Html.Raw(shippingMethod.Description)
                                    </div>
                                }
                            </li>
                        }
                    </ul>
                    <div class="buttons">
                    @*<input type="submit" name="nextstep" value="@T("Checkout.NextButton")" class="shipping-method-next-step-button" />*@
                        <input type="submit" name="nextstep" value="@T("Checkout.NextButton")" class="overrideToWhiteButton2	" />
                    </div>
                }
                else
                {
                    <div class="message-error">
                        <ul>
                            @foreach (var warning in Model.Warnings)
                            {
                                <li>@warning</li>
                            }
                        </ul>
                    </div>
                }
            }
        </div>
        @Html.Widget("checkout_shipping_method_bottom")
        @*<div class="section order-summary-body">
            <div class="title">
                <strong>@T("Checkout.OrderSummary")</strong>
            </div>
            <div class="order-summary-body">
                @Html.Action("OrderSummary", "ShoppingCart")
            </div>
        </div>*@

    </div>
</div>