﻿@model CheckoutShippingAddressModel
@using Nop.Core.Domain.Orders;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Models.Common;
@using Nop.Web.Framework.UI;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
@Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Address })
<div class="checkout-page">
    <div class="page-title">
        <h1>@T("Checkout.ShippingAddress")</h1>
    </div>
    <div class="page-body">
        <div class="checkout-data">
           
            @Html.Widget("checkout_shipping_address_top")
            @if (Model.ExistingAddresses.Count > 0)
            {
                <div class="section select-shipping-address" id="editAddress">
                    <div class="title">
                        <strong>@T("Checkout.SelectShippingAddress")</strong>
                    </div>
                    <div class="address-grid">

                        @{
                int nr = 0;
                        }
                        @foreach (var item in Model.ExistingAddresses)
                        {
                            nr = nr + 1;
                            <div class="address-item" @if (nr == 2) { <text> style="margin-left:100px" </text>  }>
                                <ul class="address-box">
                                    <li class="name">
                                        <strong>@item.FirstName @item.LastName</strong>
                                    </li>
                                    <li class="email">@T("Address.Fields.Email"): @item.Email</li>
                                    @if (item.PhoneEnabled)
                                    {
                                        <li class="phone">
                                            @T("Address.Fields.PhoneNumber"):
                                            @item.PhoneNumber
                                        </li>
                                    }
                                    @if (item.FaxEnabled)
                                    {
                                        <li class="fax">
                                            @T("Address.Fields.FaxNumber"):
                                            @item.FaxNumber
                                        </li>
                                    }
                                    @if (item.CompanyEnabled && !String.IsNullOrEmpty(item.Company))
                                    {
                                        <li class="company">
                                            @item.Company
                                        </li>
                                    }
                                    @if (item.StreetAddressEnabled)
                                    {
                                        <li class="address1">
                                            @item.Address1
                                        </li>
                                    }
                                    @if (item.StreetAddress2Enabled && !String.IsNullOrEmpty(item.Address2))
                                    {
                                        <li class="address2">
                                            @item.Address2
                                        </li>
                                    }
                                    @if (item.CityEnabled || item.StateProvinceEnabled || item.ZipPostalCodeEnabled)
                                    {
                                        <li class="city-state-zip">

                                            @if (item.StateProvinceEnabled)
                                            {
                                                @item.StateProvinceName
                                            }
                                            @if (item.ZipPostalCodeEnabled)
                                            {
                                                @item.ZipPostalCode
                                            }
                                            @if (item.CityEnabled && (item.StateProvinceEnabled || item.ZipPostalCodeEnabled))
                                            {
                                                <text>,</text>
                                            }
                                            @if (item.CityEnabled)
                                            {
                                                @item.City
                                            }

                                        </li>
                                    }
                                    @if (item.CountryEnabled && !String.IsNullOrEmpty(item.CountryName))
                                    {
                                        <li class="country">
                                            @item.CountryName
                                        </li>
                                    }
                                </ul>
                                <div class="select-button">
                                    @*<input style="width: 300px;" type="button" name="selectShippingAddress" value="@T("Checkout.ShipToThisAddress")" class="select-shipping-address-button" onclick="setLocation('@Url.RouteUrl("CheckoutSelectShippingAddress", new { addressId = @item.Id })')" />*@
                                    <input style="width: 300px;" type="button" name="selectShippingAddress" value="@T("Checkout.ShipToThisAddress")" class="overrideToWhiteButton2" onclick="setLocation('@Url.RouteUrl("CheckoutSelectShippingAddress", new { addressId = @item.Id })')" />
                                    <br /><br />


                                    @*<input type="button" style="font-size: 16px" class="button-2 edit-address-button" onclick="showEditAddress(@nr)" value='@T("Common.Edit")'>
                                    <input type="button" style="font-size: 16px" class="button-2 delete-address-button" onclick="if (confirm('@(T("Common.AreYouSure").Text)')) {location.href='@(Url.RouteUrl("CustomerAddressDeleteFromCheckout", new { addressId = item.Id, returnPage = 2 }))';}" value="@T("Common.Delete")" />*@
                                    <input type="button" style="font-size: 16px;margin-bottom:5px" class="overrideToWhiteButton4" onclick="showEditAddress(@nr)" value='@T("Common.Edit")'>
                                    <input type="button" style="font-size: 16px" class="overrideToWhiteButton4" onclick="if (confirm('@(T("Common.AreYouSure").Text)')) {location.href='@(Url.RouteUrl("CustomerAddressDeleteFromCheckout", new { addressId = item.Id, returnPage = 2 }))';}" value="@T("Common.Delete")" />

                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
            @Html.Widget("checkout_shipping_address_middle")



            @*//------------------------------------------EDIT EXISTING ADDRESS---------------------------------------*@
            @if (Model != null)
            {

                <div class="section new-billing-address1" id="editAddressDiv1" style="display:none">
                    @if (Model.ExistingAddresses.Count > 0)
                    {

                        <strong style="font-size:18px">@T("Account.CustomerAddresses.Edit")</strong> <br /><br />

                        using (Html.BeginForm("UpdateShippingAddress", "Checkout", FormMethod.Post))
                        {
                            <div class="page account-page address-edit-page">
                                <div class="page-body">
                                    <div class="page-body-content">
                                        <!-- new div added -->
                                        @{
                            Model.ExistingAddresses[0].AvailableCountries = Model.NewAddress.AvailableCountries;


                            var dataDictAddress = new ViewDataDictionary();
                            //Merge ModelState (required for validation)
                            dataDictAddress.ModelState.Merge(ViewData.ModelState);
                            dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
                            @Html.Partial("_CreateOrUpdateAddress", Model.ExistingAddresses[0], dataDictAddress)
                                        }
                                        <input type="submit" class="button-1 save-address-button" value="@T("Common.Save")" />

                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>

                <div class="section new-billing-address2" id="editAddressDiv2" style="display:none">
                    @if (Model.ExistingAddresses.Count > 1)
                    {

                        <strong style="font-size:18px">@T("Account.CustomerAddresses.Edit")</strong> <br /><br />


                        using (Html.BeginForm("UpdateShippingAddress", "Checkout", FormMethod.Post))
                        {
                            <div class="page account-page address-edit-page">
                                <div class="page-body">
                                    <div class="page-body-content">
                                        <!-- new div added -->
                                        @{
                            Model.ExistingAddresses[1].AvailableCountries = Model.NewAddress.AvailableCountries;


                            var dataDictAddress = new ViewDataDictionary();
                            //Merge ModelState (required for validation)
                            dataDictAddress.ModelState.Merge(ViewData.ModelState);
                            dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
                            @Html.Partial("_CreateOrUpdateAddress", Model.ExistingAddresses[1], dataDictAddress)
                                        }
                                        <input type="submit" class="button-1 save-address-button" value="@T("Common.Save")" />
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            } 







            <div class="section new-shipping-address">
                <div class="title">
                    @if (Model.ExistingAddresses.Count > 0)
                    {
                          if (Model.ExistingAddresses.Count >= 2)
                        {
                           <strong> Du har redan två olika adresser registrerade, om du vill lägga till en ny adress så måste du först ta bort eller ändra någon av dina befintliga adresser.
                         </strong> 
                 
                        }
                        else
                        {
                             <strong>@T("Checkout.OrEnterNewAddress")</strong>
                        }
                    }
                    else
                    {
                        <strong>@T("Checkout.EnterShippingAddress")</strong>
                    }
                </div>
                
                @if (Model.ExistingAddresses.Count < 2)
                {

                <div class="enter-address">
                    @using (Html.BeginRouteForm("CheckoutShippingAddress", FormMethod.Post))
                    {
                        <div class="enter-address-body">
                            @{
                        var dataDictAddress = new ViewDataDictionary();
                        //Merge ModelState (required for validation)
                        dataDictAddress.ModelState.Merge(ViewData.ModelState);
                        dataDictAddress.TemplateInfo.HtmlFieldPrefix = "NewAddress";
                                @Html.Partial("_CreateOrUpdateAddress", Model.NewAddress, dataDictAddress)              
                            }
                        </div>                                          
                        @*<input type="submit" style="width: 300px" name="nextstep" value="Använd adressen ovan" class="button-1 new-address-next-step-button" /> <br />*@
    <input type="submit" style="width: 300px" name="nextstep" value="Använd adressen ovan" class="button-1 overrideToWhiteButton2" /> <br />
                    }
                </div>

                }
            </div>
            @Html.Widget("checkout_shipping_address_bottom")
        </div>
        <!--page-body-->
        @*<div class="section order-summary-body">
            <div class="title">
                <strong>@T("Checkout.OrderSummary")</strong>
            </div>
            @Html.Action("OrderSummary", "ShoppingCart")
        </div>*@
    </div>
</div>

<script>

    function showEditAddress(nr) {

        if (nr == 1) {
            document.getElementById('editAddressDiv1').style.cssText = ""
            document.getElementById('editAddressDiv2').style.cssText = "display:none"
        }
        else {
            document.getElementById('editAddressDiv1').style.cssText = "display:none"
            document.getElementById('editAddressDiv2').style.cssText = ""
        }

        var n = document.getElementsByName('Address.FirstName')
        location.href = "#";
        location.href = "#editAddress";

        if (nr == 1) {
            n[0].focus()
        }
        else {
            n[1].focus()
        }          
    }

</script>
